<% title @category.title %>

<% content_for :header do %>
  <h1><%= @category.title %></h1>
<% end %>

<% if lookup_context.exists?(@category.top_partial, ['collections'], true) %>
   <%= render @category.top_partial %>
<% end %>

<% if @category.use_queries -%>
   <%= render 'value_panels' %>
<%- else -%>
   <%= render 'value_list' %>
<%- end -%>
<% if lookup_context.exists?(@category.bottom_partial, ['collections'], true) %>
   <%= render @category.bottom_partial %>
<% end %>
