<% title @category.title %>

<% content_for :header do %>
  <h1><%= @category.title %></h1>
<% end %>

<% if lookup_context.exists?(@category.top_partial, ['collections'], true) %>
   <%= render @category.top_partial %>
<% end %>

<ul class="link-list">
  <% @collections.each do |collection| %>
    <li>
      <%= link_to collection.label, collection.search_url %> (<%= collection.count %>)
      <%= content_tag(:span, collection.description) if collection.description %>
    </li>
  <% end %>
</ul>

<% if lookup_context.exists?(@category.bottom_partial, ['collections'], true) %>
   <%= render @category.bottom_partial %>
<% end %>
