<h4 style="text-decoration:underline"><%= message.subject %></h4>

First Name: <%= @resource.first_name %><br>

Last Name: <%= @resource.last_name %><br>

Email: <%= @resource.email %><br>

Intellectual Property owner: <%= @resource.intl_prop %><br>

Nationality of Intellectual Property Owner: <%= @resource.ntl_intl_prop %><br>

Type of work: <%= @resource.kind %><br>

Online URL: <%= @resource.url %><br>

Where work is being infringed: <%= @resource.infringe_url %><br>

Additional Info: <%= @resource.comments %><br>

By typing my name below (electronic signature), I represent that I have a good faith belief that the use of the material named in this complaint is not authorized by the intellectual property owner, its agent, or the law( e.g. it is not fair use.).: <%= @resource.check_one %><br>

I represent that the information I have entered in this complaint is accurate, and under penalty of perjury, that I am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.: <%= @resource.check_two %><br>

As applicable under 17 U.S.C 512(f), I acknowledge that I may be subject to liability for damages if I knowingly materially misrepresent that the material or activity named in this complaint is infringing.: <%= @resource.check_three %><br>

Signature: <%= @resource.signature %><br>

<% @resource.class.mail_appendable.each do |attribute|
    value = @resource.request.send(attribute)
    value = if value.is_a?(Hash) && !value.empty?
      list = value.to_a.map{ |k,v| content_tag(:li, h("#{k}: #{v.inspect}")) }.join("\n")
      content_tag(:ul, raw(list), :style => "list-style:none;")
    elsif value.is_a?(String)
      value
    else
      value.inspect
    end
  end%>

