<h4 style="text-decoration:underline"><%= message.subject %></h4>

First Name: <%= @resource.first_name %><br>

Last Name: <%= @resource.last_name %><br>

Email: <%= @resource.email %><br>

Intellectual Property owner: <%= @resource.intl_prop %><br>

Nationality of Intellectual Property Owner: <%= @resource.ntl_intl_prop %><br>

Type of work: <%= @resource.kind %><br>

Online URL: <%= @resource.url %><br>

Where work is being infringed: <%= @resource.infringe_url %><br>

Additional Info: <%= @resource.comments %><br>

Checkbox One: <%= @resource.check_one %><br>

Checkbox Two: <%= @resource.check_two %><br>

Checkbox Three: <%= @resource.check_three %><br>

Signature: <%= @resource.signature %><br>

<% @resource.class.mail_appendable.each do |attribute|
    value = @resource.request.send(attribute)
    value = if value.is_a?(Hash) && !value.empty?
      list = value.to_a.map{ |k,v| content_tag(:li, h("#{k}: #{v.inspect}")) }.join("\n")
      content_tag(:ul, raw(list), :style => "list-style:none;")
    elsif value.is_a?(String)
      value
    else
      value.inspect
    end
  end%>

