<% if(include_uni) %>
<div style="border: 0px solid black; padding:  10px 140px 5px 0px;">
	
    <div style='display: table; width: 100%;'>
      <div style='display: table-row; width: 100%;'>
        <div  style='display: table-cell; border: 0px solid black;'>

			<nobr>
				<%= label_tag 'uni', "UNI"%>
				<%= text_field_tag "uni", nil %>
				<span class="form-field-info"></span>
			</nobr>

        </div>
        <div  style='display: table-cell; border: 0px solid black;'>

			<nobr>
			  <%= label_tag 'nouni', ""%>
			  <%= check_box_tag 'nouni', 'n/a' %> 
			  <span class="agreement-language">
			    I do not have a UNI.
			  </span>
			</nobr>

        </div>
      </div>
    </div>  
    
</div>
<p>
	
  <%= label_tag 'what_is_uni', ""%>
  <a href="http://library.columbia.edu/help/faq/lio/uni.html">What is a UNI?</a>
</p>

<% end %>

<p>
   <%= label_tag 'name', 'Name' %>
   <%= text_field_tag "name", (current_user ? current_user.to_s : ""),:class=>required_class , :title=>'Please enter your name.' %>
     <span class="form-field-info"></span>
</p>
 
<p>
   <%= label_tag 'email', 'E-mail' %>
   <%= text_field_tag "email", (current_user ? current_user.email : ""),:class=>required_class,:title=>'Please enter your email.' %>
   <span class="form-field-info"></span>
</p> 
