<% if(include_uni) %>
	<p>
<p>
	<%= label_tag 'uni', "UNI"%>
	<%= text_field_tag "uni", nil %>
	<span class="form-field-info"></span>
</p>
<p>
	
  <%= label_tag 'nouni', ""%>
  <%= check_box_tag 'nouni', 'n/a' %> 
  <span class="agreement-language">
    I do not have a UNI.
  </span>
</p>

<% end %>

<p>
   <%= label_tag 'name', 'Name' %>
   <%= text_field_tag "name", (current_user ? current_user.to_s : ""),:class=>required_class , :title=>'Please enter your name.' %>
     <span class="form-field-info"></span>
</p>
 
<p>
   <%= label_tag 'email', 'E-mail' %>
   <%= text_field_tag "email", (current_user ? current_user.email : ""),:class=>required_class,:title=>'Please enter your email.' %>
   <span class="form-field-info"></span>
</p> 
