<% @page_title = "Deposit Your Research | " + application_name  %>
 

<% extra_head_content << javascript_include_tag('jquery.validate.min.js') %>
<% extra_head_content << javascript_include_tag('jquery.replaceholder.min.js') %>
<% extra_head_content << javascript_include_tag('self-deposit.js') %>


 

<div class="page box">
<h2>Academic Commons Self Deposit</h2>
<div id="intro">

<p>Current faculty, staff, and students of Columbia and its affiliates can use this form to deposit research materials in any digital format, including: articles, monographs, theses and dissertations, working papers, technical reports, conference papers and presentations, datasets, software code, images, video, and other multimedia creations.</p>

<p>If you need to deposit a file larger than 100 MB, or if you are no longer affiliated with Columbia, but have materials that you wish to deposit, please contact us at <a href="mailto:info@cdrs.columbia.edu">info@cdrs.columbia.edu</a>. For more information, see the <a href="http://cdrs.columbia.edu/academiccommons/?page_id=156#depo" target=_blank>self deposit FAQ.</a></p>


 

 
<p>Click Start to Read and Accept the Author Rights Agreement.</p>

<div class="buttonWrapper">

	<input id="start_button" type="button" class="start-button" value="Start Here" alt="Next" title="Next" />

<!-- <span id='start_button'>Start Here</span> --></p>
 </div>
</div>
<div id="sd-form-wrap">
<% form_tag({ :action=>'submit'}, :method=>'post', :multipart => true, :id=>'sd-form', :class=>'self-deposit-form', :charset=>'utf-8') do %>

<input type="hidden" name="AC-agreement-version" id="AC-agreement-version"  value="1.0" />

<ul id="stepForm" class="ui-accordion-container">

<li id="sf1"><a href='#' class="ui-accordion-link"> </a>

<div>
<h3>Step 1 of 3</h3>
	<fieldset>
	
	<legend>Read and Accept Author Agreement</legend>
	<iframe src="<%=relative_root%>/self-deposit/AC2_Author_Rights_Agreement.htm" width="100%" height="300px"> </iframe>
	<br />
	<p> <span class="pdf-link"><a href="<%=relative_root%>/self-deposit/AuthorAgreementFormAC2.pdf" target="_blank" >Download PDF</a></span></p>
	<p style="margin-left:80px">
	<h2 class="agreement-language"> I have Read and Accept the Author Agreement </h2>
		<%= label_tag 'chbx', ""%>
<%= check_box_tag 'acceptedAgreement', 'agree', false, :class => 'pageRequired',:title => 'You must accept the Author Rights Agreement to continue.' %>
	
<span class="form-field-info"></span>
</p>

<div class="buttonWrapper">
	<input name="formNext1" type="button" class="open1 nextbutton" value="Continue" alt="Next" title="Next" />
</div>
	
	
</fieldset>
	
</div>
	
</li>

<li id="sf2">
<a href='#' class="ui-accordion-link"></a>
<div><h3>Step 2 of 3</h3>

<fieldset>

<legend>Required Information</legend>


<p>
	<%= label_tag 'uni', "UNI"%>
	<%= text_field_tag "uni", "",:class=>'pageRequired', :title=>'A Columbia/CU affiliate UNI is required to deposit work to AC using this application. If you are submitting on behalf of a CU-affiliated author, please use their UNI. If you were previously affiliated with Columbia and would like to submit work without a UNI, please contact us.'  %> 
	<span class="form-field-info"></span>
</p>

<p>
   <%= label_tag 'name', 'Name' %>
   <%= text_field_tag "name", "",:class=>'pageRequired' , :title=>'Please enter your name.' %>
     <span class="form-field-info"></span>
</p>
 
<p>
   <%= label_tag 'email', 'E-mail' %>
   <%= text_field_tag "email", "",:class=>'pageRequired email',:title=>'Please enter your email.' %>
   <span class="form-field-info"></span>
</p> 

<p>
<%= label_tag 'file', "File Upload" %> 
<%= file_field_tag "file", :class=>'pageRequired',:title=>'Please upload a digital copy of your work.'%>
<span class="form-field-info">Is your file more than 100MB?  <a href="mailto:info@cdrs.columbia.edu">Email us instead</a></span>
</p>

<p>
<%= label_tag 'title' %> 
<%= text_area_tag "title", "", :cols=>"60", :rows=>"3", :class=>'pageRequired',:title=>'Please enter the title.' %>
<span class="form-field-info"></span>
</p>

 
<p>
<%= label_tag 'author', 'Author(s)' %> 
<%= text_area_tag "author" ,"", :cols=>"60", :rows=>"3", :class=>'pageRequired' ,:title=>'Please enter the authors.'%>
<span class="form-field-info"></span>
</p>

<p>
<%= label_tag 'abstr', 'Abstract or Description' %>
<%= text_area_tag "abstr", "",   :class=>'pageRequired' , :title=>'To help show your research to relevant search queries, please provide an abstract or a brief description of the research.', :placeholder=>"Use this field to provide a summary of the content of your deposit. You may cut-and-paste an abstract from the deposit itself, or write your own.  Please be aware that the information you provide here helps us make your work easier to find through our search engine." %>
<span class="form-field-info"></span>
</p>

</fieldset>
	
	
<fieldset>

<legend>Optional Information</legend>

<p> 
   <%= label_tag 'url', "URL"%>
   <%= text_field_tag "url" %>
   <span class="form-field-info"></span>
</p>
 
 
<p>
	<%= label_tag 'doi_pmcid','DOI/PMCID' %>
	<%= text_field_tag "doi_pmcid" %>
	<span class="form-field-info"></span>
</p>

<p>
	<%= label_tag 'software', "Notes" %>
	<%= text_area_tag "software", "", :cols=>"60", :rows=>"12"  %>
	<span class="form-field-info"></span>
</p>
 
<div class="buttonWrapper"><input name="formBack0" type="button" class="open0 prevbutton" value="Back" alt="Back" title="Back" /> <input name="formNext2" type="button" class="open2 nextbutton" value="Next" alt="Next" title="Next" /></div>

</fieldset>

</div>
</li>
	 	
<li id="sf3">
<a href='#' class="ui-accordion-link"></a>
<div>
<h3>Step 3 of 3</h3>
<fieldset><legend>Review and Submit</legend>

<div>

<p>Review your entries below and click the Deposit button to send your work to AC.</p>
 
<p class="clearfix"><span class="check-label">Name:</span><span class="check-value" id="name-check"></span></p>
<p><span class="check-label">UNI:</span><span class="check-value" id="uni-check"></span></p>
<p><span class="check-label">E-Mail:</span><span class="check-value" id="email-check"></span></p>
 
 
 
<p> <span class="check-label">Title:</span>        <span class="check-value" id="title-check"></span></p>
<p class="clearfix"> <span class="check-label">Author(s):</span>    <span class="check-value" id="author-check"></span></p>
<p class="clearfix"> <span class="check-label">Abstract:</span> <span class="check-value" id="abstract-check"></span></p>
<p class="clearfix"> <span class="check-label">File:</span> <span class="check-value" id="file-check"></span></p>
<hr>
<p> <span class="check-label">URL:</span> <span class="check-value" id="url-check"></span></p>
<p> <span class="check-label">DOI/PMCID:</span> <span class="check-value" id="doi-check"></span></p>
<p> <span class="check-label">Note:</span> <span class="check-value" id="note-check"></span></p>
 
</div>
 
<div class="buttonWrapper"><input name="formBack1" type="button" class="open1 prevbutton" value="Back" alt="Back" title="Back" /> <input name="formNext2" type="submit" class="open2 nextbutton" value="Submit" alt="Next" title="Next" /></div>
 
 
</fieldset>
</div>
</li>
</ul>
<% end %>

</div>
</div>
<!--
</div>
</div>
-->