<%= form_with url: admin_site_configuration_path, method: :patch, local: true do |form| %>
  <% if SiteConfiguration.downloads_enabled  %>
    <% action_label = "Disable Downloads" %>
    <% enable = false %>
  <% else %>
    <% action_label = "Enable Downloads" %>
    <% enable = true %>
  <% end %>
  <div>
    <%= form.text_area :downloads_message, value: SiteConfiguration.downloads_message %>
  </div>
  <div class="d-flex justify-content-between">
    <%= form.hidden_field :downloads_enabled, value: enable %>
    <%= form.submit action_label, class: "btn btn-primary" %>

    <%= form.submit 'Save Message', class: 'btn btn-primary' %>
  </div>
<% end %>