= form_for @email_preference do |f|
  = f.error_messages
  %p
    = f.label :author
    %br
    = f.text_field :author
  %p
    = f.label :monthly_opt_out
    %br
    = f.check_box :monthly_opt_out
  %p
    = f.label :alternate_email
    %br
    = f.text_field :email
  %p
    = f.submit
