<% @page_title = "Email Preferences" %>

<div class="box">
  <table>
    <tr>
      <th>Author</th>
      <th>Monthly opt out</th>
      <th>Alternate Email</th>
    </tr>
    <% for email_preference in @email_preferences %>
      <tr>
        <td>
          <%= h email_preference.author %>
        </td>
        <td>
          <%= h email_preference.monthly_opt_out %>
        </td>
        <td>
          <%= h email_preference.email %>
        </td>
        <td>
          <%= link_to 'Show', email_preference %>
        </td>
        <td>
          <%= link_to 'Edit', edit_email_preference_path(email_preference) %>
        </td>
        <td>
          <%= button_to 'Destroy', email_preference_path(email_preference), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>
  <p>
    <%= link_to "New Email Preference", new_email_preference_path %>
  </p>
</div>
