
<% content_for :head do %>
  <style type="text/css">
    .box { padding: 10px 0 0 0; }
    .title { padding: 10px 0 0 15px; }
    .item-detail { padding: 0 0 0 15px; }
  </style>
<% end %>

<table>
  <tr>
    <td>Dear <%= (@name.blank?) ? @uni : @name %>,</td>
  </tr>

  <tr><td class="box">
    Thank you for contributing to <%= link_to 'Academic Commons', 'academiccommons.columbia.edu' %>, Columbia’s online research repository.
  </td></tr>

  <tr><td class="box">
    <% if @solr_doc.embargoed? %>
      The file for the following embargoed item is NOT available at this time,
      though information about the item is displayed in the Academic Commons
      record. The file will become available on the date listed below.
    <% else %>
      The following item is now available.
    <% end %>
  </td></tr>

  <tr><td class="title"><%= @solr_doc[:title_ssi] %></td></tr>
  <tr><td class="item-detail"><%= link_to @solr_doc.full_doi, @solr_doc.full_doi %></td></tr>
  <% if @solr_doc.embargoed? %>
    <tr><td class="item-detail">Release date: <%= @solr_doc[:free_to_read_start_date_ssi] %></td></tr>
  <% end %>

  <tr><td class="box">
    Please use this persistent URL when linking to or citing your work in Academic Commons.
  </td></tr>

  <tr>
    <td class="box">If you have any questions about your deposit, you can reach us by replying to this email.</td>
  </tr>

  <tr>
    <td class="box">
      Sincerely,<br>
      Academic Commons<br>
      Columbia University Libraries
    </td>
  </tr>
</table>
