%br

%div Usage Statistics:
- unless @results.empty?
  %table
    %tr
      %td 
      %td 
        %b Views
      %td
        %b Downloads
      %td
    - @results.each_with_index do |item, i|
      - views =  @stats["View"][item["id"]] || 0
      - downloads =  @stats["Download"][item["id"]] || 0
      %tr
        %td= link_to item["title_display"], catalog_path(item["id"])
        %td= views
        %td= downloads

    %tr
      %th Totals: 
      %th= @totals["View"] || 0
      %th= @totals["Download"] || 0
- else
  No views or downloads for your items during this time period.

%br
