%div Dear Academic Commons Depositor,
%br

%div
  <p>In addition to your regular monthly usage statistics, we would like to invite you to a party to celebrate the deposit of our 10,000th item in Academic Commons.<p> 
  <p>Where: Butler Library, Rooms 522 and 523 (#{link_to 'map', 'http://bit.ly/ButlerLib'}) <br>
     When: Thursday, May 2nd, 5 to 7 pm <br>
     What: Food, drink, and a chance to win a Nook Simple Touch e-reader. <br>
  </p>
  <p>Please #{link_to 'rsvp', "http://bit.ly/AC10000"} so that we can be sure to lay in sufficient provisions for all!</p> 
    

%div
  Here are the updated monthly and lifetime use statistics for your deposits to 
  #{link_to "Academic Commons", "http://academiccommons.columbia.edu"}, 
  the digital repository of Columbia University and its affiliates.

= render :partial => "monthly_stats", :locals => {:lifetime => true}

%div
  If you have new material for deposit—anything from published articles, to presentation slides, to performance video, to datasets, and beyond—please send it to us at 
  #{link_to "http://academiccommons.columbia.edu/deposit", "http://academiccommons.columbia.edu/deposit"}
  including basic descriptive information such as the title, the names of any collaborators, the URL or DOI for the published version, and if there is any special software required to view or otherwise make use of the file.  Remember: we use the information you provide to enhance the searchability of your work, increasing the number of times it is accessed and downloaded.

= render :partial => "monthly_footer"
