%div
  %b Accepted Student Agreement
  %b
    = ""

%hr
%div
  %b UNI:
  = @uni
%hr
%div
  %b Name:
  = @name
%hr
%div
  %b E-mail:
  = @email
%hr
%div 
  %b Thesis advisor:
  = @advisor
%hr
%div 
  %b Department:
  = @department
%hr
%div 
  %b Years embargo:
  = @empbargo
%hr