<%= form_with model: [:admin, @featured_search], local: true, data: { turbo: false } do |f| %>
  <div class="form-group">
    <%= f.label :slug, 'Slug' %>
    <%= f.text_field :slug %>
  </div>
  <div class="form-group">
    <%= f.label :feature_category_id, 'Feature Category' %>
    <%= f.select :feature_category_id, FeatureCategory.all.map {|fc| [fc.label, fc.id]}.to_h %>
  </div>
  <div class="form-group">
    <%= f.label :label, 'Feature Label' %>
    <%= f.text_field :label %>
  </div>

  <%# manage filters %>
  <div class='filter-fields-container row'>
    <%= f.fields_for :featured_search_values do |value_form| %>
      <% editing = value_form.object.persisted? %>
      <hr>
      <% if editing %> <%# If the filter is persisted, allow it to be deleted (when editing) %>
        <div class="form-group delete-filter m-0 mt-2 col-3">
          <%= value_form.check_box :_destroy %>
          <%= value_form.label :_destroy, "Delete filter: \"#{value_form.object.value}\"" %>
        </div>
      <% end %>
      <div class="form-group input-class filter-fields-item <%=editing ? 'col-9' : 'col-12'%> <%= 'field_with_errors' if @featured_search.errors[:filter_field].any? %>">
        <%= value_form.label :value, 'Add Filter Value' %>
        <%= value_form.text_field :value %>
      </div>
    <%- end %>
  </div>
 <%= button_tag "<i class=\"fas fa-plus\"></i> Add another filter".html_safe,
                   class: 'btn btn-outline-secondary my-4',
                   type: 'button',
                   data: { featured_search_duplicate_fields_template: "filter-fields-item" } %>


  <div class="form-group">
    <%= f.label :priority, 'Priority' %>
    <%= f.text_field :priority %>
  </div>
  <div class="form-group">
    <%= f.label :url, 'Related URL' %>
    <%= f.text_field :url %>
  </div>
  <div class="form-group">
    <%= f.label :thumbnail_url, 'Thumbnail URL' %>
    <%= f.text_field :thumbnail_url %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
