<%= form_with model: [:admin, @featured_search], local: true do |f| %>
  <div class="form-group">
    <%= f.label :slug, 'Slug' %>
    <%= f.text_field :slug %>
  </div>
  <div class="form-group">
    <%= f.label :feature_category_id, 'Feature Category' %>
    <%= f.select :feature_category_id, FeatureCategory.all.map {|fc| [fc.label, fc.id]}.to_h %>
  </div>
  <div class="form-group">
    <%= f.label :filter_value, 'Filter Value' %>
    <%= f.text_field :filter_value %>
  </div>
  <div class="form-group">
    <%= f.label :priority, 'Priority' %>
    <%= f.text_field :priority %>
  </div>
  <div class="form-group">
    <%= f.label :url, 'Related URL' %>
    <%= f.text_field :url %>
  </div>
  <div class="form-group">
    <%= f.label :thumbnail_url, 'Thumbnail URL' %>
    <%= f.text_field :thumbnail_url %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
