<h2>Featured Searches</h2>
<% @feature_categories.each do |feature_category| %>
  <table class="table table-striped">
    <caption><%= feature_category.label %> (<%= feature_category.field_name %>)</caption>
    <thead>
      <tr>
        <th>Slug</th>
        <th>Filter Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% feature_category.featured_searches.each do |featured_search| %>
        <tr>
          <td>
            <%= link_to featured_search.slug, edit_admin_featured_search_path(featured_search) %>
          </td>
          <td>
            <%= link_to featured_search.filter_value, edit_admin_featured_search_path(featured_search) %>
          </td>
          <td>
              <%= link_to(admin_featured_search_path(featured_search), method: :delete, data: {confirm: "Are you sure you want to delete featured search at #{featured_search.slug}? It cannot be undone."}, class: ['btn btn-sm btn-danger']) do  %>
                <span class="glyphicon glyphicon-remove"></span> Delete
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%- end %>
