%tr
  %h3 Author Agreements
%table
  %tbody
    %tr
      %th= link_to("Download CSV File", "#{relative_root}/admin/agreements.csv")
%table
  %thead
    %tr
      %th UNI
      %th Name
      %th Email
      %th Signed on
      %th Agreement Version
  %tbody
    - @agreements.each do |agreement|
      %tr
        %td= agreement.uni
        %td= agreement.name
        %td= agreement.email
        %td= (agreement.created_at).strftime("%Y-%M-%d")
        %td= agreement.agreement_version
