<h3>Administration</h3>
<div class="box home-side">
  <div>
    <%= link_to "Edit alert message", :controller => :admin,  :action => "edit_alert_message", :id => "" %>
  </div>
  <div>
    <%= link_to "Self-deposits", :controller => :admin,  :action => "deposits", :id => "" %>
  </div>
  <div>
    <%= link_to "Author Agreements", :controller => :admin,  :action => "agreements", :id => "" %>
  </div>
  <div>
    <%= link_to "Student Agreements", :controller => :admin,  :action => "student_agreements", :id => "" %>
  </div>
  <div style="padding: 10px 1px 0px 0px; font-size: 1.2em;">
    Index Management
  </div>
  <div>
    <%= link_to "Ingest/update data", :controller => :admin, :action => :ingest, :id => "" %>
  </div>
  <div>
    <%= link_to "Ingest history", :controller => :logs, :action => :ingest_history, :id => "" %>
  </div>
  <div style="padding: 10px 0px 1px 0px; font-size: 1.2em;">
    Statistics
  </div>
  <% #= link_to "Item/Search History", {:controller => :statistics, :action =>  :search_history} %>
  <% # %div{:style => ""} %>
    <% # = link_to "School Statistics", {:controller => :statistics, :action => :school_statistics, :id => ""} %>
  <div>
    <%= link_to "Common Statistics", {:controller => :statistics, :action => :generic_statistics, :id => ""} %>
  </div>
  <div style="padding: 10px 0px 1px 0px; font-size: 1.2em;">
    Statistic reports
  </div>
  <div>
    <%= link_to "Detail Report", {:controller => :statistics, :action => :detail_report, :id => ""} %>
  </div>
  <div>
    <%= link_to "All Author Monthlies", {:controller => :statistics, :action => :all_author_monthlies, :id => ""} %>
  </div>
  <div>
    <%= link_to "All Author Monthlies history", {:controller => :logs, :action => :all_author_monthly_reports_history, :id => ""} %>
  </div>
  <div style="padding: 10px 0px 1px 0px; font-size: 1.2em;"></div>
  <div>
    <%= link_to "Opt out list", {:controller => :email_preferences, :id => ""} %>
  </div>
</div>
