%tr
  %h3 Student Agreements
%table
  %tbody
    %tr
      %th= link_to("Download CSV File", "/admin/student_agreements.csv")
%table
  %thead
    %tr
      %th UNI
      %th Name
      %th Email
      %th Thesis Advisor
      %th Department
      %th Years Embargo
      %th Signed on

  %tbody
    - @agreements.each do |agreement|
      %tr
        %td= agreement.uni
        %td= agreement.name
        %td= agreement.email
        %td= agreement.thesis_advisor
        %td= agreement.department
        %td= agreement.years_embargo
        %td= (agreement.created_at).strftime("%Y-%m-%d")
