%h3 Admin interface

%h4 Administration

%ul
  %li= link_to "Modify home page text", :action => "edit_home_page"

%h4 Index Management

%ul
  %li= link_to "Ingest new data / Delete Index", :action => :ingest

%h4 Statistics

%ul
  %li= link_to "Item/Search History", {:controller => :statistics, :action =>  :search_history}
  %li= link_to "Author Monthly Report", {:controller => :statistics, :action => :author_monthly}
  %li= link_to "All Author Monthlies", {:controller => :statistics, :action => :all_author_monthlies}
  %li= link_to "Opt out list", {:controller => :email_options}

