%h2 Ingest objects

#admin_ingest
  - form_tag "ingest" do 

    .label Items:
    .value
      = text_field_tag :items, params[:items]
      (space delimited)
    
    .label Collections:
    .value
      = text_field_tag :collections, params[:collections]
      (space delimited)

    .label Overwrite existing?
    .value
      = check_box_tag :overwrite, 1, params[:overwrite]

    .label Metadata?
    .value
      = check_box_tag :metadata, 1, params[:metadata] || "1"

    .label Full-text index?
    .value
      = check_box_tag :fulltext, 1, params[:fulltext]

    .label Skip
    .value
      skip
      = text_field_tag :skip, params[:skip]
      items before processing the first one

    .label Process
    .value
      only the first
      = text_field_tag :process, params[:process]
      items



    .label &nbsp;
    .value
      = submit_tag "Commit"


    .label &nbsp;
    .value

    .label Delete Index:
    .value
      = submit_tag "Delete All", :confirm => "This will delete the entire index. Are you sure you want to do this?"
      %b This is irreversible.

  -if @results
    %hr
    %h3 Ingest results:

  
    - @results[:results].keys.each do |status|
      .label= status.to_s.capitalize
      .value= @results[:results][status].length


    .label Errors:
    .value
      - @results[:errors].each_pair do |pid, message|
        .error #{pid} : #{message}
    
