%p
  = ('<a href="/admin/deposit">&laquo; Back to Self-deposits</a>').html_safe

%h3
  = @deposit.title

- if(@deposit.archived)
  %p
    = "THIS DEPOSIT IS ARCHIVED"

%table
  %tbody
    %tr
      %td Agreement Version
      %td= @deposit.agreement_version
    %tr
      %td UNI
      %td= @deposit.uni
    %tr
      %td Name
      %td= @deposit.name
    %tr
      %td E-mail
      %td= @deposit.email
    %tr
      %td Title
      %td= @deposit.title.gsub(/\r\n/, '<br/>').html_safe
    %tr
      %td Authors
      %td= @deposit.authors.gsub(/\r\n/, '<br/>').html_safe
    %tr
      %td File
      %td= ('<a href="/admin/deposits/' + @deposit.id.to_s + '/file">Download</a>').html_safe
    %tr
      %td Abstract
      %td= @deposit.abstract.gsub(/\r\n/, '<br/>').html_safe
    %tr
      %td URL
      %td= @deposit.url
    %tr
      %td DOI/PMCID
      %td= @deposit.doi_pmcid
    %tr
      %td Notes
      %td= @deposit.notes.gsub(/\r\n/, '<br/>').html_safe
