
%table
  %tr
    %td
      %h3  Author Monthly Statistics



.split_form


  = form_tag url_for(:controller => "statistics", :action => "author_monthly") do

    %table
      %tr
        %td{:width=>"100px"}
          .label Author uni/name:
        %td{:width=>"100px"}
          .value
            = text_field_tag :author_id, params[:author_id]
        %td{:width=>"20px"}
          .label by:
        %td  
          .value
            = select_tag :facet, options_for_select(["author_uni", "author_facet","department_facet", "genre_facet", "text", "search"], params[:facet])
            
      %tr
        %td
          .label Report from:
        %td
          .value
            = select_tag :month_from, options_for_select(Date::ABBR_MONTHNAMES, params[:month_from] || (Date.today - 1.months).strftime("%b"))
            = select_tag :year_from, options_for_select((2011..Date.today.year), params[:year_from])
      %tr
        %td
          .label Report to:
        %td
          .value
            = select_tag :month_to, options_for_select(Date::ABBR_MONTHNAMES, params[:month_to] || (Date.today - 1.months).strftime("%b"))
            = select_tag :year_to, options_for_select((2011..Date.today.year), params[:year_to])
      %tr
        %td
          .label Include zeroes?
        %td
          .value
            = check_box_tag :include_zeroes, "true", params[:include_zeroes]

    .value
      = submit_tag "View"
      
    %br


    - if @results
      -row_counter = 0

      %table#author_stats_results{:style=>"border: 1px solid #aaa", :class=>"zebra"}
        %tr
          %th #
          %th Title
          %th{:style=>"width: 70px;"} Views
          %th{:style=>"width: 70px;"} Streams
          %th{:style=>"width: 70px;"} Downloads

        %tr
          %td 
          %td 
            %b Total for #{params[:month]} #{params[:year]}
          %td= @totals["View"] || 0
          %td= @totals["Streaming"] || 0
          %td= @totals["Download"] || 0

        - @results.each do |item|
          - row_counter += 1

          %tr
            %td= row_counter
            %td= link_to item["title_display"], catalog_path(item["id"])
            %td= @stats["View"][item["id"][0]] || 0
            %td= @stats["Streaming"][item["id"][0]] || 0
            %td= @stats["Download"][item["id"][0]] || 0


      %table
        %tr
          %td{:style=>"width: 100px"}
            .label Email Template:
            .value
              = select_tag :email_template,  options_for_select(["Normal", "Initial"], params[:email_template] || "Normal"), :style=>"width: 90px" 
            %td
              .label Email to:
              .value
                = text_field_tag :email_destination, params[:email_destination], :size => 40
                = submit_tag "Email"

      .value 
        = submit_tag "Download CSV report" 
        &nbsp;&nbsp;
        = check_box_tag :recent_first, "true", params[:recent_first]
        Recent months first


      = render :partial => "/debug_deliveries"
      
      
