%table
  %tr
    %td
      %h3  Author Monthly Statistics



.split_form

  -form_tag url_for(:controller => "statistics", :action => "author_monthly") do

    %table
      %tr
        %td{:width=>"100px"}
          .label Author uni/name:
        %td
          .value
            = text_field_tag :author_id, params[:author_id]
      %tr
        %td
          .label Report month:
        %td
          .value
            = select_tag :month, options_for_select(Date::ABBR_MONTHNAMES, params[:month] || (Date.today - 1.months).strftime("%b"))
            = select_tag :year, options_for_select((2011..Date.today.year), params[:year])
      %tr
        %td
          .label Include zeroes?
        %td
          .value
            = check_box_tag :include_zeroes, "true", params[:include_zeroes]

    .value
      = submit_tag "View"
      
    %br

    - if @results

      %table#author_stats_results{:style=>"border: 1px solid #aaa", :class=>"zebra"}
        %tr
          %th Title
          %th Views
          %th Downloads

        %tr
          %td 
            %b Total for #{params[:month]} #{params[:year]}
          %td= @totals["View"] || 0
          %td= @totals["Download"] || 0

        - @results.each do |item|
          %tr
            %td= link_to item["title_display"], catalog_path(item["id"])
            %td= @stats["View"][item["id"][0]] || 0
            %td= @stats["Download"][item["id"][0]] || 0


      %table
        %tr
          %td{:style=>"width: 100px"}
            .label Email Template:
            .value
              = select_tag :email_template,  options_for_select(["Normal", "Initial"], params[:email_template] || "Normal"), :style=>"width: 90px" 
            %td
              .label Email to:
              .value
                = text_field_tag :email_destination, params[:email_destination], :size => 40
                = submit_tag "Email"
      
      .value 
        = submit_tag "Download CSV report"
      

      = render :partial => "/debug_deliveries"
