%h3 Statistics:

= content_for :jstemplates do
  $(function() { $(".datepicker").datepicker(); });

%explanation Please select a date range to search over, and how to group the results:

= form_tag search_statistics_path do 
  %div
    Search for stats on field
    = select_tag :search_type, options_for_select(@search_types, params[:search_type])
    with value
    = text_field_tag :search_value, params[:search_value]

  %div
    Display:
    = check_box_tag "event[]", "View", params[:event].listify.include?("View")
    Views
    = check_box_tag "event[]", "Download", params[:event].listify.include?("Download")
    Downloads
    
  %div
    Date range:
    = text_field_tag :start_date, params[:start_date] , :class => :datepicker
    to
    = text_field_tag :end_date, params[:end_date] , :class => :datepicker

  %div
    Group by:
    = select_tag :group, options_for_select(["Year", "Month", "Week"], params[:group] || "Month")

  %div
    = submit_tag "View Statistics"



- if @results
  = image_tag(@chart).to_s
