<%# default partial to display solr document fields in catalog show view -%>
 
<!--
     <div class="documentFunctions">
         <%#= render :partial => 'show_tools' %>
        </div>
-->
<%= render :partial => "catalog/_show_partials/display_resources", :locals => {:document => document} %>

<div itemscope itemtype="http://schema.org/CreativeWork">
	<div style="clear:both;">
	  <dl class="defList clearfix">
	    <% document_show_fields.each do |solr_fname| -%>
	      <% if document[solr_fname] %>
	        <% if document[solr_fname].is_a?(Array)%>
	         <% document[solr_fname].delete_if{|x| x.empty? }%>
		        <dt>
		          <%= document_show_field_labels[solr_fname]%>
		        </dt>  
		        <dd<% if itemprop_attribute[solr_fname] != nil %> itemprop="<%= itemprop_attribute[solr_fname] %>"<% end -%>>       
		           	<% if !document[solr_fname].empty? %>
				       <% document[solr_fname].each do |val| %>
				          <%= document_render_field_value(solr_fname, val) %><%= "<br/>".html_safe unless val == document[solr_fname].last %>
				       <% end %>
			        <% end %>
			        <% else %>
			        <% if !document[solr_fname].empty?%>
			          	<%= document_render_field_value(solr_fname, document[solr_fname]) %>
			        <% end -%>
		        </dd>
	        <% end -%>
	      <% end -%>
	    <% end -%>
	
	  </dl>
	
	  <%= render :partial => "catalog/_show_partials/statistics" %>
	
	 <% metadata_list=get_metadata_list(document) -%> 
	  <h3> Metadata:</h3> 
	    <dl class="defList clearfix">
	 <% if metadata_list.length > 0 -%>
	     <% metadata_list.each do |resource| -%>
	      <dt><%= resource[:title] %></dt>
	      <dd>
	
		<% show_url = "#{resource[:show_url]}?data=meta" -%>
		<% download_url = "#{resource[:download_url]}?data=meta" -%>
	
	      <%= link_to "View", show_url if resource[:show_url] %> | 
	      <%= link_to "Download", download_url if resource[:download_url] %> 
	      </dd>
	    <% end -%>
	    <% else -%>
	    <em>Additional metadata is currently unavailable for this item.</em>
	    <% end -%>
	 </dl>
	    
	<!--   <div class="license">This work is licensed under a <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc-sa/3.0/us/" %></div> -->
	</div>
</div>
