<h2>Email Author Reports</h2>

<hr>

<%= form_with model: @email_author_reports_form, url: admin_email_author_reports_path, class: 'form-horizontal admin-form', local: true do |f| %>
  <div class="form-group">
    <%= f.label :reports_for, 'For', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9 radio">
      <%= f.radio_button(:reports_for, 'all') %>
      <%= f.label(:reports_for_all_authors, 'All authors') %>
      <%= f.radio_button(:reports_for, 'one') %>
      <%= f.label(:reports_for_one_author, 'One author') %>
      <div class="disabled-input">
        <%= f.label(:uni, 'UNI', class: 'control-label visually-hidden') %>
        <%= f.text_field(:uni, disabled: true, placeholder: 'UNI', class: 'col-sm-3 form-control') %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :month, 'Report Month', class: 'col-sm-3 control-label' %>
    <div class="col-sm-2 dropdown-horizontal">
      <%= f.select :month, EmailAuthorReportsForm::MONTHS, class: 'form-control' %>
    </div>
    <div class="col-sm-2 dropdown-horizontal">
      <%= f.select :year, Statistic::YEAR_BEG..Date.current.year, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :order_works_by, 'Order Works By', class: 'col-sm-3 control-label' %>
    <div class="col-sm-4">
      <%= f.select :order_works_by, [['Titles (A-Z)', 'titles'], ['Most Viewed', 'views'], ['Most Downloaded', 'downloads']], class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :optional_note, 'Optional note', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_area :optional_note, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :deliver, 'Delivery Options', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9 radio">
      <%= f.radio_button(:deliver, :reports_to_each_author) %>
      <%= f.label(:deliver_email_reports_to_each_author, 'Email report(s) to each author') %>

      <%= f.radio_button(:deliver, :do_not_send_email) %>
      <%= f.label(:deliver_do_not_send_email, 'Do not send email, log only') %>

      <%= f.radio_button(:deliver, :all_reports_to_one_email) %>
      <%= f.label(:deliver_all_reports_to_one_email, 'Email all reports to one email') %>
      <div class="disabled-input">
        <%= f.label(:email, 'Email', class: 'control-label visually-hidden') %>
        <%= f.text_field(:email, disabled: true, placeholder: 'EMAIL', class: 'col-sm-3 form-control') %>
      </div>
    </div>
  </div>

   <div class="form-group">
     <div class="col-sm-offset-3 col-sm-9">
       <br>
       <%= f.submit 'Send Reports', data: { confirm: 'This will send most likely hundreds of emails. Are you sure?' }, class: 'btn btn-primary'  %>
     </div>
   </div>
<% end %>
