<%= form_for @dmca, multipart: true do |form| %>
  <p id="notice"><%= flash[:error] %></p>
  <fieldset class="fields">
    <div>
      <p>This form is for reporting copyright infringements under section 512 of the DMCA in Columbia University’s research repository, <a href="/">Academic Commons</a> (with root URL http://academiccommons.columbia.edu). The agent to receive complaints for Academic Commons is Kathryn Pope and can be reached at <a href="mailto:ac@columbia.edu">AC@columbia.edu</a>
      </p>
      <p>
        Fields marked with an asterisk are required.      
      </p>
    </div>
    <div class="field">
      <%= form.label nil, "*First Name" %>
      <%= form.text_field :first_name %>
    </div><br>

    <div class="field">
      <%= form.label nil, "*Last Name" %>
      <%= form.text_field :last_name %>
    </div><br>
    
    <div class="field">
      <%= form.label nil, "*Email Address" %>
      <%= form.text_field :email %>
    </div><br>
    
    <div class="field">
      <%= form.label nil, "Intellectual Property Owner (if not you)" %>
      <%= form.text_field :intl_prop %>
    </div><br>

    <div class="field">
      <%= form.label "Nationality of Intellectual Property Owner" %>
      <%= form.text_field :ntl_intl_prop %>
    </div><br>

    <p>Describe your intellectual property:</p>

    <div class="field">
      <%= form.label nil, "*What is the type of your copyrighted work (text, image, database, code, etc.)?" %>
      <%= form.text_field :kind %>
    </div><br>

    <div class="field">
      <%= form.label  nil, "*Is your work available online? If so, please provide the specific URL where your work can be viewed." %>
      <%= form.text_field :url %>
    </div><br>

    <div class="field">
      <%= form.label nil, "*Where is your work being infringed? Please provide the specific infringing URL." %>
      <%= form.text_field :infringe_url %>
    </div><br>

    <div class="field">
      <%= form.label nil, "Please provide any additional information that would help us understand your work and why you are claiming infringement." %><br>
      <%= form.text_area :comments %>
    </div><br>

    <div class="field">
      <%= form.label nil, "*Attach evidence for your claim (e.g. scanned version of copyright ownership, transfer, etc.)." %>
      <%= form.file_field :evidence %>
    </div>
    <br>
    <div>

      <p>*Check the box next to each statement below to indicate that you agree.</p>

    </div>

    <div class="field" style="display:inline-block;">
      <%= form.check_box :check_one %>
      <label class="checkbox inline">By typing my name below (electronic signature), I represent that I have a good faith belief that the use of the material named in this complaint is not authorized by the intellectual property owner, its agent, or the law( e.g. it is not fair use.).</label>
    </div>
    
    <div class="field" style="display:inline-block;">
      <%= form.check_box :check_two %>
      <label class="checkbox inline">I represent that the information I have entered in this complaint is accurate, and under penalty of perjury, that I am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</label> 
    </div>


    <div class="field" style="display:inline-block;">
      <%= form.check_box :check_three %>
      <label class="checkbox inline">As applicable under 17 U.S.C 512(f), I acknowledge that I may be subject to liability for damages if I knowingly materially misrepresent that the material or activity named in this complaint is infringing.</label>
    </div>

    <div class="field" style="display:inline-block;">
      <%= form.check_box :check_four %>
      <label class="checkbox inline">I understand that the information submitted in this complaint may be shared with third parties, including, if applicable, the authors or creators of the material about which I am filing this complaint.</label>
    </div>

    <br>
    <br>
    <div class="field">
      <%= form.label nil, "*Signature (type your name to provide your electronic signature)" %>
      <%= form.text_field :signature %>
    </div>

    <div style="display:none;">
      <%= form.text_field :nickname %>
    </div>

  </fieldset>

  <fieldset class"actions">
    <%= form.submit "Submit Form" %>
  </fieldset>
<% end %>