<%- if (features = AcademicCommons::FeaturedSearches.for(@response)).present? %>
  <h2 class="featured-searches-heading">
    Related to your search
  </h2>
  <div class="row featured-searches">
    <%- features.each do |feature| %>
      <div class="col-md-4 featured-search">
        <div class="logo">
          <% begin %>
            <%= link_to feature.url, target: "_blank", rel: "noopener noreferrer" do -%>
             <%= image_tag(image_url(feature.image_url), alt: "link to #{feature.label} site") %>
          <% rescue => e%>
            <%# temporary suppression of failing featured search category images - ACHYDRA-936 %>
          <% end %>
          <%- end %>
        </div>
        <div class="title"><%= feature.label %></div>
        <%- unless exclusive_feature_search?(feature) %>
          <%= link_to("See all #{feature.feature_category.label} content", featured_search_url(slug: feature.slug), class: "more-results") %>
        <%- end %>
        <div class="description"><%= feature.description %> <%= link_to(feature.url, feature.url, target: "_blank", rel: "noopener noreferrer") %></div>
      </div>
    <%- end %>
  </div>
<%- end %>