<%#
  Overriding empty blacklight v16.14.1 template.

  - adds links to about, faq, policies, cul
  - adds ac email
%>

<footer role="contentinfo">
  <div class="<%= container_classes %>">
    <div class="row">
      <div class="col-md-9 footer-links">
        <%= link_to t('blacklight.header_links.about'), about_path, 'aria-label': 'About Academic Commons' %> <span>|</span>
        <%= link_to t('blacklight.header_links.faq'), faq_path %> <span>|</span>
        <%= link_to t('blacklight.header_links.policies'), policies_path %> <span>|</span>
        <%= link_to t('blacklight.header_links.developers'), developers_path %><span>|</span>
        <%= link_to t('blacklight.header_links.credits'), credits_path %><span>|</span>
        <a href="https://feedback.cul.columbia.edu/feedback_submission/ac" class="feedback-trigger">Feedback & Suggestions</a>
        <div id="feedbackModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:9999;">
          <div style="background:white; margin:5% auto; width:80%; height:80%; position:relative; padding:20px;">
            <button id="closeModal" style="position:absolute; right:10px; top:10px;">&times;</button>
            <iframe id="feedbackFrame" src="" style="width:100%; height:100%; border:none;"></iframe>
          </div>
        </div>
        </div>
        <div class="col-md-3 contact">
        <i class="far fa-envelope" aria-hidden="true"></i> <%= mail_to "ac@columbia.edu" %>
      </div>
    </div>
  </div>
  <div class="site-description">
    <div class="<%= container_classes %>">
      Academic Commons provides global access to research and scholarship produced at <a href="https://www.columbia.edu/">Columbia University</a>, <a href="https://barnard.edu/">Barnard College</a>, <a href="http://www.tc.columbia.edu/">Teachers College</a>, <a href="https://utsnyc.edu/">Union Theological Seminary</a> and <a href="http://www.jtsa.edu/">Jewish Theological Seminary</a>. Academic Commons is managed by the <a href="http://library.columbia.edu/">Columbia University Libraries</a>.
    </div>
  </div>
</footer>
