<%#
  Overriding blacklight v16.14.1 template.

  - Changes navbar-inverse class to navbar-default
  - Adds links to about, faq, browse
  - Modifies layout for search-navbar
  - Adds cul banner
%>

<div class="cul-banner">
  <a href="http://library.columbia.edu" class="cul-banner-logo">
    <span>Columbia University Libraries</span>
  </a>
</div>

<div id="header-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to application_name, root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</div>

<div id="search-navbar" class="" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 about-links">
          <%= link_to t('blacklight.header_links.about'), about_path %>
          <span>|</span>
          <%= link_to t('blacklight.header_links.faq'), faq_path %>
          <span>|</span>
          Browse
      </div>
      <div class="col-sm-6 pull-right">
        <%= render_search_bar %>
      </div>
    </div>
  </div>
</div>
