<%#
  Overriding blacklight v16.14.1 template.

  - Changes navbar-inverse class to navbar-default
  - Adds links to about, faq, browse
  - Adds cul banner
%>

<div class="cul-banner">
  <div class="<%= container_classes %>">
    <a href="http://library.columbia.edu" class="cul-banner-logo">
      <span>Columbia University Libraries</span>
    </a>
  </div>
</div>

<div id="header-navbar">
  <div class="<%= container_classes %>">
    <div class="row">
      <div class="col-sm-8 logo">
        <%= link_to application_name, root_path, class: "navbar-brand" %>
      </div>
      <div class="col-sm-4 search-bar">
        <%= render_search_bar %>
      </div>
    </div>
  </div>
</div>

<div id="links-navbar" class="" role="navigation">
  <div class="<%= container_classes %>">
    <div class="row">
      <div class="col-sm-4 about-links">
        <ul>
          <li><%= link_to t('blacklight.header_links.about'), about_path %></li>
          <li><%= link_to t('blacklight.header_links.collections'), '/collections/' %></li>
        </ul>
      </div>
      <div class="col-sm-8 user-links" id="user-util-collapse">
        <%= render :partial=>'/user_util_links' %>
      </div>
    </div>
  </div>
</div>
