<%#
  Overriding blacklight v16.14.1 template.

  - Changes navbar-inverse class to navbar-default
  - Adds links to about, faq, browse
  - Modifies layout for search-navbar
  - Adds cul banner
%>

<div class="cul-banner">
  <a href="http://library.columbia.edu" class="cul-banner-logo">
    <span>Columbia University Libraries</span>
  </a>
</div>

<div id="header-navbar" class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="container-fluid">

    <div class="col-sm-8 logo">
      <%= link_to application_name, root_path, class: "navbar-brand" %>
    </div>

    <div class="col-sm-4 search-bar">
      <%= render_search_bar %>
    </div>

  </div>

</div>

<div id="links-navbar" class="" role="navigation">

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6 about-links">
        <ul>
          <li><%= link_to t('blacklight.header_links.about'), about_path %></li>
          <li><%= link_to t('blacklight.header_links.faq'), faq_path %></li>
          <li>Browse</li>
        </ul>
      </div>

      <div class="col-sm-6" id="user-util-collapse">
        <%= render :partial=>'/user_util_links' %>
      </div>




    </div>
  </div>

</div>
