<h1 class="content-title">Browsing: <%=  link_to('Departments',catalog_index_path()+'/browse/departments/')%> &raquo; <%= link_to(params[:id], catalog_index_path()+'/browse/departments/'+params[:id]) %></h1>

<%

department_facet_list = get_department_facet_list(params[:id])

author_facets = department_facet_list['author_facet']

genre_facets = department_facet_list['genre_facet']

subject_facets = department_facet_list['subject']

%>
 
<ul class='span-7 prepend-1'>
<h3>Content by Author</h3>
<% author_facets.each do |v| %>
<li>
    
<%=    
 
# link_to(v[:name],   add_facet_params_and_redirect('author_facet', v[:name]), :class=>"broswe_select") + "<span class='item_count'> ("+ format_num(v[:count]) + ")</span>" 

link_to(v[:name],   '/?f%5Baffiliation_department%5D%5B%5D='+params[:id]+'&f%5Bauthor_facet%5D%5B%5D='+v[:name], :class=>"broswe_select") + "<span class='item_count'> ("+ format_num(v[:count]) + ")</span>"  
	     %>  
  </li>
  
   <% end %>
  </ul>
  
  
  <ul class='span-7'>
 <h3>Content by Genre</h3>
  <% genre_facets.each do |v| %>
  <li>
  
  
    
<%=    
 
link_to(v[:name],    '/?f%5Baffiliation_department%5D%5B%5D='+params[:id]+'&f%5Bgenre_facet%5D%5B%5D='+v[:name], :class=>"broswe_select") + "<span class='item_count'> ("+ format_num(v[:count]) + ")</span>"  
	     %>
 
  </li>
  
   <% end %>
  </ul>
  
<ul class='span-7 last'>
 <h3>Content by Subject</h3>
  <% subject_facets.each do |v| %>
  <li>
  
  
    
<%=    
 
link_to(v[:name],    '/?f%5Baffiliation_department%5D%5B%5D='+params[:id]+'&f%5Bsubject%5D%5B%5D='+v[:name], :class=>"broswe_select") + "<span class='item_count'> ("+ format_num(v[:count]) + ")</span>"  
	     %>
 
  </li>
  
   <% end %>
  </ul>
  
  
  
 


 
  
 
 
