<% resource_list = build_resource_list(document) %>

<div id="show_resources">
  <% if resource_list.length > 0 %>
    <% resource_list.each_with_index do |resource, i| %>
      <div class="thumbnail">
        <%= link_to image_tag("thumbnail_icons/" + thumbnail_for_resource(resource)), resource[:download_path] if resource[:download_path] %>
      </div>

      <!--  <div class="title"><%= link_to get_file_extension(resource[:filename].to_s), resource[:download_path] if resource[:download_path]  %> </div>  -->

      <div class="title"><%= link_to resource[:filename], resource[:download_path] if resource[:download_path] %></div>
      <% end %>
  <% elsif @document.embargoed? %>
    <div class="content embargo_content">
      <em>
        <%= "This item is currently under embargo. It will be available starting #{@document[:free_to_read_start_date]}"%>
      </em>
    </div>
  <% elsif @document.restricted? %>
     <div class="content embargo_content">
       <em>
         <%= @document.access_restriction %>
       </em>
     </div>
  <% else %>
    <div class="content">
      <em>Downloadable resources are currently unavailable for this item.</em>
    </div>
  <% end %>
</div>
