
<div class="span-17">


 <div id="top-slug" class="span-17 last">
 <div class='box'>

<h2>Welcome to Our New Site</h2>

<p>We have been making some changes to the Academic Commons website to make it both more powerful and easier to use.  Additional features will continue to be rolled out over the coming weeks.  For more about the changes, <a href="http://cdrs.columbia.edu/academiccommons/?p=351">please see our blog</a>.  Let us know what you think of the new site, or if you encounter any problems as you use it, please <a href="mailto:info@cdrs.columbia.edu">send us an email.</a></p>
 </div>
</div>


 
<div id='most-recent' class='box clearfix'>
<%= render :partial=>"most_recent_updated.erb" %>
</div>
</div>
    <div id="sidebar" class="span-7">
 

<% sidebar_items << capture do %>

 

 <h3>Browse AC Content</h3>
 
<div   class='box home-side'>
    
  <%= link_to "Departments", {:controller=>"catalog", :action=>"browse", :id=>"departments"}, :class=>"nav-link" %>
  <%= link_to "Subjects", {:controller=>"catalog", :action=>"browse", :id=>"subjects"}, :class=>"nav-link" %>
    
</div>

 
<h3>Helpful Links</h3>
 
<div class='box home-side'>

<%= render :partial=>'home_accessory_links' %>
</div>






  
 

 

<h3>AC by the Numbers</h3>
<div class='box home-side'>
			
			<ul>
			<li><strong><%= get_total_count() %></strong> items in Academic Commons.</li>
			<li>Objects added in the last year: <strong><%= get_count_by_year() %></strong></li> 
			<li>Objects added in the last 30 days:  <strong><%= get_count_by_month() %></strong></li>
			<li>Page Visits in <%= get_last_month_name() %>: <strong><%= get_last_month_page_visits() %></strong>
			
			</li>
			</ul>   
			
			</div>

 
 
 <h3>Deposit your Work in Academic Commons</h3>
<div   class='box home-side'  >


<p>Current faculty, staff, and students of Columbia and its affiliates are invited to <a href="<%= relative_root %>/deposit">deposit</a> research materials  in any digital format, including: articles, monographs, theses and dissertations, working papers, technical reports, conference papers and presentations, datasets, images, video and other multimedia creations, and software code.
</p>
<p>
To learn more about the benefits of depositing your work into Academic Commons, <a href="http://cdrs.columbia.edu/academiccommons/?page_id=156">visit our FAQ</a> or email <a href="mailto:rh2561@columbia.edu">Robert Hilliker, Digital Repository Manager</a>.</p>
</div>

 

 <% end %>
 
 </div>