<div id="top-slug" class="span-17  last">
<div id="home-deposit" class="box">
<h3>Deposit your Work in Academic Commons</h3>
<p>Current faculty, staff, and students are invited to deposit research materials that are already in a digital format, including: articles, monographs, working papers, conference papers, images, datasets, multimedia creations, technical reports, preprints, software code, and theses.</p>
<p>  To learn more about how to deposit your work into Academic Commons, please email 
<%= mail_to("nbufanio@columbia.edu", "Nichole Bufanio, Digital Repository Coordinator", :encode => :javascript)%></p>
</div>
</div>

<div class="span-17">
<div id="home-recent" class="box">

<%= render :partial=>"most_recent_updated.erb" %>

</div>
</div>
 
 

<% sidebar_items << capture do %>

<div id="left-column-wrapper"  >

<div id="home-sidebar" class="left-column">

     
<%= render :partial=>'browse' %> 

<%= render :partial=>'facets' %> 
<hr>

<%= render :partial=>'home_accessory_links' %>







 </div>
</div>

<hr>


<div id="home-stats"  >
			
			<ul>
			<li><strong><%= get_total_count() %></strong> items in Academic Commons.</li>
			<li>Objects added in the last year:  <%= get_count_by_year() %></li> 
			<li>Objects added in the last 30 days:  <%= get_count_by_month() %></li>
			</ul>   
			
			</div>
 <% end %>
 
