<div id="top-slug" class="span-17 last">
 <div class='box'>
<h3>Deposit your Work in Academic Commons</h3>
<p>Current faculty, staff, and students are invited to deposit research materials that are already in a digital format, including: articles, monographs, working papers, conference papers, images, datasets, multimedia creations, technical reports, preprints, software code, and theses.</p>
<p>  To learn more about how to deposit your work into Academic Commons, please email 
<%= mail_to("rh2561@columbia.edu", "Robert Hilliker, Digital Repository Coordinator", :encode => :javascript)%></p>
 </div>
</div>

<div class="span-17">
 
<div class='box clearfix'>
<%= render :partial=>"most_recent_updated.erb" %>
</div>
</div>
 
    <div id="sidebar" class="span-7">
 

<% sidebar_items << capture do %>

 

 <h3>Browse AC Content</h3>
 
<div id="browse" class='box'>
    
  <%= link_to "Departments", :controller=>"catalog", :action=>"browse", :id=>"departments" %>
  <%= link_to "Subjects", :controller=>"catalog", :action=>"browse", :id=>"subjects" %>
    
</div>

<%#= render :partial=>'facets' %> 
<h3>Helpful Links</h3>
 
<div id="accessory_links" class='box'>

<%= render :partial=>'home_accessory_links' %>
</div>






  
 

 

<h3>AC by the Numbers</h3>
<div id="home-stats" class='box'  >
			
			<ul>
			<li><strong><%= get_total_count() %></strong> items in Academic Commons.</li>
			<li>Objects added in the last year:  <%= get_count_by_year() %></li> 
			<li>Objects added in the last 30 days:  <%= get_count_by_month() %></li>
			</ul>   
			
			</div>
 <% end %>
 
</div>