<div id="home-content">

  <p class="intro">
    <strong>Academic Commons</strong> provides global access to research and scholarship produced at Columbia University and its affiliate institutions. <%= link_to('Browse the repository', search_action_path) %> or <a href="/about/">learn more &rarr;</a>
  </p>

  <div class="row menu homepage-menu">
      <%= link_to collections_path, class: 'col-md-6 tile collections' do %>
        <div class="top">
          <%= svg 'icon-browse' %>
          <h2>Browse Collections</h2>
        </div>
        <p>Browse Academic Commons via curated collections of scholarship and research. Discover research originating in a department, center, or program, or explore collections organized by genre.</p>
      <% end %>
      <a href="/upload" class="col-md-6 tile upload">
        <div class="top">
          <%= svg 'icon-upload' %>
          <h2>Upload Your Research</h2>
        </div>
        <p>Are you a member of the Columbia community? Want your research to be discoverable and globally available? Want your scholarship to have greater impact? Upload it to Academic Commons today.</p>
      </a>
  </div>

  <div class="row">
    <% cache('repository_statistics', expires_in: 1.day, race_condition_ttl: 2, skip_digest: true) do %>
      <div class="stats col-md-4">
        <h3>Stats at a glance</h3>
        <ul>
          <li><span><%= counts[:all] %></span> <%= link_to('works', search_action_path) %></li>
          <li><span><%= counts[:articles] %></span> <%= link_to('articles', type_search('Articles')) %></li>
          <li><span><%= counts[:reports] %></span> <%= link_to('reports', type_search('Reports')) %></li>
          <li><span><%= counts[:doctoral_theses] %></span> <%= link_to('doctoral theses', dissertation_search) %></li>
          <li><span><%= counts[:conference_materials] %></span> <%= link_to('conference materials', type_search('Conference objects')) %></li>
          <li><span><%= counts[:datasets] %></span> <%= link_to('datasets', type_search("Data (information)")) %></li>
        </ul>
      </div>
    <% end %>

    <div class="quotes col-md-8">
      <p class="quote">“I think that academic work should be freely available as far as possible. While my colleagues in the US probably have institutional subscriptions to most of the journals I publish in, I know that my colleagues in other countries are not as lucky and Academic Commons might be the only way they get access.” <span>— Source</span></p>
      <p class="quote">“Open access benefits everyone, both in and outside of the scholarly community. It especially benefits visibility and preservation, with the persistent URL.” <span>— Source</span></p>
      <p class="quote">“This is a great CU initiative that is easy to use, widely accessible, and provides excellent monthly reports.” <span>— Source</span></p>
    </div>
  </div>

</div><!-- #home-content -->
