<div id="home-content">

<p><%= current_user %></p>
  <p class="summary">
    <strong>Academic Commons</strong> provides global access to research and scholarship produced at Columbia University and its affiliate institutions. <a href="/about/" aria-label="Learn more about Academic Commons">Learn more &rarr;</a>
  </p>

  <div class="row menu homepage-menu">
      <%= link_to collections_path, class: 'col-md-6 tile collections' do %>
        <div class="top">
          <%= svg 'icon-browse' %>
          <h2>Explore the Repository</h2>
        </div>
        <p>Discover what researchers and scholars are sharing in Academic Commons. Browse highlighted contributions from across Columbia and its affiliate institutions.</p>
      <% end %>
    <% if deposits_enabled? %>
      <a href="/upload" class="col-md-6 tile upload">
        <div class="top">
          <%= svg 'icon-upload' %>
          <h2>Upload Your Research</h2>
        </div>
        <p>Are you a member of the Columbia community? Want your research to be more discoverable and accessible? Upload it to Academic Commons today.</p>
      </a>
    <% end %>
  </div>

  <div class="row homepage-info">
    <% cache('repository_statistics', expires_in: 1.day, race_condition_ttl: 2, skip_digest: true) do %>
      <div class="stats col-md-4">
        <h3>Stats at a glance</h3>
        <ul>
          <li><span><%= counts[:all] %></span> <%= link_to('total works', search_action_path) %></li>
          <li><span><%= counts[:articles] %></span> <%= link_to('articles', type_search('Articles')) %></li>
          <li><span><%= counts[:reports] %></span> <%= link_to('reports', type_search('Reports')) %></li>
          <li><span><%= counts[:doctoral_theses] %></span> <%= link_to('doctoral theses', dissertation_search) %></li>
          <li><span><%= counts[:conference_materials] %></span> <%= link_to('conference materials', type_search('Conference Objects')) %></li>
          <li><span><%= counts[:datasets] %></span> <%= link_to('datasets', type_search("Data (Information)")) %></li>
        </ul>
      </div>
    <% end %>

    <div class="quotes col-md-8">
      <blockquote>
        “Academic Commons is an important way that Columbia makes our scholarship accessible and discoverable. Open access has been incredibly effective in helping my writing reach new and important audiences.”
        <footer><span>Sharon Marcus</span> Orlando Harriman Professor of English, Columbia University</footer>
      </blockquote>
      <blockquote>
        “Academic Commons has enabled us to distribute citable versions of <em>all</em> our work, including software products. It tracks how much the software is being accessed, which helps us show the impact of our work.”
        <footer><span>Simon J. Mason</span> Senior Research Scientist, International Research Institute for Climate and Society</footer>
      </blockquote>
      <blockquote>
        “The publication process takes time. I use Academic Commons to share my findings with the larger community so the knowledge and insights I produce can be used sooner.”
        <footer><span>Oren Pizmony-Levy</span> Associate Professor of International and Comparative Education, Teachers College</footer>
      </blockquote>
    </div>
  </div>

</div><!-- #home-content -->
