<%= content_for :top_content do %>
  <div id="home-search" class="span-16 prepend-4">
    <%= render 'search_box' %>
  </div>

  <div style="height: 100px;"></div>
  <%= render "alert_box" %>

  <%= render 'home_text' %>
<% end %>

<%= render 'sidebar_all' %>

<div class="span-17">
  <div id='most-recent' class='box clearfix'>
    <%= render "most_recent_updated" %>
  </div>
</div>
