
<div class="span-17">
 
<div id='most-recent' class='box clearfix'>
<%= render :partial=>"most_recent_updated.erb" %>
</div>
</div>
    <div id="sidebar" class="span-7">
 

<% sidebar_items << capture do %>

 

 <h3>Browse AC Content</h3>
 
<div   class='box home-side'>
    
  <%= link_to "Departments", departments_browse_path, :class=>"nav-link" %>
  <%= link_to "Subjects", subjects_browse_path, :class=>"nav-link" %>
    
</div>

 
<h3>Helpful Links</h3>
 
<div class='box home-side'>

<%= render :partial=>'home_accessory_links' %>
</div>






  
 

 

<h3>AC by the Numbers</h3>
<div class='box home-side'>
			
			<ul>
			<li><strong><%= get_total_count() %></strong> items in Academic Commons.</li>
			<li>Objects added in the last year: <strong><%= get_count_by_year() %></strong></li> 
			<li>Objects added in the last 30 days:  <strong><%= get_count_by_month() %></strong></li>
			<li>Visitors in <%= get_last_month_name() %>: <strong><%= get_last_month_page_visitors() %></strong></li>
			
			</ul>   
			
			</div>

 
 
 <h3>Deposit your Work in Academic Commons</h3>
<div   class='box home-side'  >


<p>Current faculty, staff, and students of Columbia and its affiliates are invited to <a href="<%= relative_root %>/deposit">deposit</a> research materials  in any digital format, including: articles, monographs, theses and dissertations, working papers, technical reports, conference papers and presentations, datasets, images, video and other multimedia creations, and software code.
</p>
<p>
To learn more about the benefits of depositing your work into Academic Commons, <a href="http://support.academiccommons.columbia.edu/">visit our FAQ</a> or email <a href="mailto:rh2561@columbia.edu">Robert Hilliker, Digital Repository Manager</a>.</p>
</div>

 

 <% end %>
 
 </div>