<div>
    <dd>&nbsp;</dd>
    <dd>Total objects in repository:  <%= get_total_count() %></dd>
    <dd>Objects added in the last year:  <%= get_count_by_year() %></dd>
    <dd>Objects added in the last 30 days:  <%= get_count_by_month() %></dd>
    <dd>&nbsp;</dd>
</div>

<h3>Recently Updated</h3>
<% build_recent_updated_list.each do |v| %>
<dl>
  <dt><%= v[:authors_display] %></dt> 
  <dd><%= v[:title_display] %></dd> 
</dl>
<% end %>
