<div>
    <dd>&nbsp;</dd>
    <dd>Total objects in repository:  <%= get_total_count() %></dd>
    <dd>Objects added in the last year:  <%= get_count_by_year() %></dd>
    <dd>Objects added in the last 30 days:  <%= get_count_by_month() %></dd>
    <dd>&nbsp;</dd>
</div>

<h3>Recently Updated</h3>
<% results = build_recent_updated_list() %>
<% results.each do |r, v| %>
<dl>
<dt><%= v[:author_facet] %></dt> <dd><%= v[:title_display] %></dd> <!-- <dd><%= v[:author_id_uni] %></dd> -->
</dl>
<% end %>
