<% localized_params = params %>

<div id="search" class="search clearfix">
  <%= form_tag catalog_index_path, :method => :get do %>
    <%= text_field_tag(:q, localized_params[:search_field] != nil ? localized_params[:q] : "", size: 45, class: "search") %>
    <noscript>
      <%= label_tag(:search_field, " in ") %>
      <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), title: "Targeted search options", class: "search_field") %>
    </noscript>

    <%= render_hash_as_hidden_fields(params_for_search.except(:q, :search_field, :qt, :page)) %>

    <span id="split_button" style="display:none;">
      <div class="button_set">
        <button id="run">Search</button>
      </div>
    </span>
  </div>


  <script type="text/javascript">
    $(function(){
      $("#run")
      .button()
      .click( function() {
        $("#search form").trigger("submit");
        return false;
      });
    });
  </script>

<% end %>
