<% asset_docs = document.assets %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('blacklight.search.show.panels.files') %></h3>
  </div>
    <% if document.restricted? %>
      <p><em><%= document.access_restriction %></em></p>
    <% elsif document.embargoed? %>
      <p><em><%= t('blacklight.search.show.assets.embargoed', date: document[:free_to_read_start_date]) %></em></p>
    <% elsif asset_docs.present? %>
      <% asset_docs.each do |asset| %>
        <ul class="list-group">
          <li class="list-group-item">
            <span><%= asset[:filename] %></span>
            <span><%= asset[:content_type] %></span>
            <span><%= link_to 'Download', asset[:download_path] %></span>
          </li>
        </ul>
      <% end %>
    <% else %>
      <p><em><%= t('blacklight.search.show.assets.unavailable') %></em></p>
    <% end %>
  </ul>
</div>
