<% asset_docs = document.assets %>

<div id="assets-panel" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t('blacklight.search.show.panels.files') %></h2>
  </div>
    <% if document.restricted? %>
      <p><em><%= document.access_restriction %></em></p>
    <% elsif document.embargoed? %>
      <p><em><%= t('blacklight.search.show.assets.embargoed', date: document[:free_to_read_start_date_ssi]) %></em></p>
    <% elsif asset_docs.present? %>
      <% asset_docs.each do |asset| %>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="image"><%= image_tag asset.thumbnail, height: 100, alt: "thumnail for #{asset.filename}" %></span>
            <span class="filename"><%= asset.filename %></span>
            <span class="mimetype"><%= asset.fetch(:downloadable_content_type_ssi, nil) %></span>
            <span class="filesize"><%= number_to_human_size(asset.fetch(:downloadable_content_size_isi, nil)) %></span>
            <span class="icon download"><%= link_to ('<span class="glyphicon glyphicon-download" aria-hidden="true"></span><span class="visually-hidden">Download File</span>').html_safe, asset.download_path %></span>
          </li>
        </ul>
      <% end %>
    <% else %>
      <p><em><%= t('blacklight.search.show.assets.unavailable') %></em></p>
    <% end %>
  </ul>
</div>
