<%# 
  Overriding Blacklight v8.12.3 partial -  this renders the Document viewComponent instead of calling render_document_partials

  show_main_content is what is rendered when viewing an individual document (this partial is rendered by the BL 8 catalog/show view)

  - remove rendering of page header component (with prev/next displays)
  - 
 %>

<% @page_title = t('blacklight.search.show.title', document_title: document_presenter(@document).html_title, application_name: application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    
    <% document_component = blacklight_config.view_config(:show).document_component -%>
    <%= render (document_component).new(document: document_presenter(@document), component: :div, show: true, partials: blacklight_config.view_config(:show).partials) do |component| %>
      <% component.with_title(as: 'h1', classes: '', link_to_document: false, actions: false) %>
      <% component.with_footer do %>
        <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
          <!-- COinS, for Zotero among others. -->
          <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_presenter(@document).display_type) %>"></span>
        <% end %>
      <% end %>
    <% end %>
  
  </div>
</div>