<%# default partial to display solr document fields in catalog show view -%>

<div itemscope itemtype="<%= itemscope_itemtype %>">
  <div style="clear:both;">
    <dl class="defList clearfix">
      <% document_show_fields.each do |solr_fname, _field| -%>
        <% if document[solr_fname] %>
          <% document[solr_fname].delete_if(&:empty?) if document[solr_fname].is_a?(Array) %>

          <% unless document[solr_fname].empty? %>
            <%# Field display names %>
            <dt><%= render_document_show_field_label document, field: solr_fname %></dt>
            <%# Field display values %>
            <dd><%= render_document_show_field_value document, field: solr_fname %></dd>
          <% end -%>
        <% end -%>
      <% end -%>
    </dl>

    <dl class='defList'>
      <dt>Item views</dt>
      <dd><%= Statistic.where(:identifier => params[:id], :event => "View").count %></dd>
    </dl>

    <% metadata_list = get_metadata_list(document) -%>

    <dl class="defList clearfix">
      <dt>Metadata: </dt>
      <dd>
        <% if metadata_list.length > 0 -%>
          <% metadata_list.each do |resource| -%>
              <% show_url = "#{resource[:show_url]}?data=meta" -%>
              <% download_url = "#{resource[:download_url]}?data=meta" -%>
              <%= link_to "text", show_url if resource[:show_url] %> | <%= link_to "xml", show_url + "&xml=true" if resource[:show_url] %>
          <% end -%>
        <% else -%>
          <em>Additional metadata is currently unavailable for this item.</em>
        <% end -%>
      </dd>

      <dt>Suggested Citation: </dt>
      <dd><%= suggested_citation(document) %></dd>
    </dl>
  </div>
</div>
