<div id="sort-per-page" class="clearfix">
  <div id="page-count">
    <% if params[:action] == 'index' -%>
      <%= render_pagination_info @response, { :entry_name=>'item' } -%>
    <% else -%>
      <%= session[:search][:counter].to_i %> of <%= number_with_delimiter(session[:search][:total]) %> items from your search.
    <% end -%>
  </div>

  <div id="page-options">
    <% unless @response.response['numFound'] < 1 -%>
      <%= form_tag catalog_index_path, :method=>:get, :class=>'per_page' do %>
        <%= label_tag(:per_page,  select_tag(:per_page, options_for_select(['10', '20', '50', '100'], h(params[:per_page])), :title => "Number of results to display per page", :onchange => 'this.form.submit()') + "  per page") %>
        <%= render_hash_as_hidden_fields(params_for_search.except(:page, :per_page)) %>
        <noscript><%= submit_tag 'update' %></noscript>
      <% end %>

      <span id="results_label">sorted by </span>

      <%= form_tag catalog_index_path, :method=>:get, :class=>'sort', :id => "sort_form" do %>
        <%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort])), :onchange => 'this.form.submit()') %>
        <%= render_hash_as_hidden_fields(params_for_search.except(:page, :sort)) %>

        <noscript><%= submit_tag 'sort results' %></noscript>
      <% end %>
    <% end %>
  </div>
</div>


<script>

/* $('#sort').selectmenu(); */

</script>
