<div id="top-slug" class="span-17 last">
 <div class='box'>

<h2>Improvements to Academic Commons</h2>

<p>We have been making some changes to the Academic Commons website to make it both more powerful and easier to use.  Additional features will continue to be rolled out over the coming weeks.  For more about the changes, <a href="http://cdrs.columbia.edu/cdrsmain/?p=1558">please see our blog</a>.  And please, 
<%= mail_to("cuac@libraries.cul.columbia.edu", "let us know", :encode => :javascript)%>
what you think of the new site, or if you encounter any problems as you use it.
</p>
 </div>
</div>

<div class="span-17">



 
<div id='most-recent' class='box clearfix'>
<%= render :partial=>"most_recent_updated.erb" %>
</div>
</div>
 
    <div id="sidebar" class="span-7">
 

<% sidebar_items << capture do %>

 

 <h3>Browse Content</h3>
 
<div   class='box home-side'>
    
  <%= link_to "Departments", {:controller=>"catalog", :action=>"browse", :id=>"departments"}, :class=>"nav-link" %>
  <%= link_to "Subjects", {:controller=>"catalog", :action=>"browse", :id=>"subjects"}, :class=>"nav-link" %>
    
</div>

 
<h3>Helpful Links</h3>
 
<div class='box home-side'>

<%= render :partial=>'home_accessory_links' %>
</div>






  
 

 

<h3>Repository Statistics</h3>
<div class='box home-side'>
			
			<ul>
			<li><strong><%= get_total_count() %></strong> items in Academic Commons.</li>
			<li>Objects added in the last year: <strong><%= get_count_by_year() %></strong></li> 
			<li>Objects added in the last 30 days:  <strong><%= get_count_by_month() %></strong></li>
			<li>Page Visits in April: <strong>2,879</strong></li>
			</ul>   
			
			</div>

 
 
<h3>Deposit your Work in Academic Commons</h3>
<div   class='box home-side'  >Current faculty, staff, and students are invited to deposit research materials that are already in a digital format, including: articles, monographs, working papers, conference papers, images, datasets, multimedia creations, technical reports, preprints, software code, and theses.</p>
<p>  To learn more about how to deposit your work into Academic Commons, please email our
<%= mail_to("cuac@libraries.cul.columbia.edu", "Digital Repository Manager.", :encode => :javascript)%></div>

 

 <% end %>
 
 </div>
