
<%= form_with model: [:admin, @email_preference], local: true, data: { turbo: false } do |f| %>
  <p>
    <%= f.label :uni %>
    <%= f.text_field :uni %>
  </p>
  <p>
    <%= f.label :unsubscribe %>
    <%= f.check_box :unsubscribe %>
  </p>
  <p>
    <%= f.label :alternate_email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-primary'  %>
  </p>
<% end %>
