<p><%= link_to '<< Back to Email Preferences', admin_email_preferences_path %></p>

<h2>Email Preference</h2>
<dl class="dl-horizontal">
  <dt>Author</dt>
  <dd><%= h @email_preference.author %></dd>

  <dt>Monthly Opt Out</dt>
  <dd><%= h @email_preference.monthly_opt_out %></dd>

   <dt>Alternate Email</dt>
   <dd><%= h @email_preference.email %></dd>
</dl>

<%= link_to 'Edit', edit_admin_email_preference_path(@email_preference), role: 'button', class: 'btn btn-primary' %>
