<% title 'My Account' %>

<h3>Participation Agreement</h3>
<p>
  <%= render 'uploads/agreement' %>
</p>

<h3>Email Preferences</h3>
<p>
  We send you emails when one of your works is first published in Academic
  Commons. We also send a monthly email with statistics on downloads and views
  for your works. Occasionally we may send other notifications about Academic Commons.
</p>
<p>
  You can change your Academic Commons email preferences below.
</p>

<%= form_with model: @email_preference, url: admin_email_preference_path(@email_preference, format: :json), method: :patch, class: 'form-horizontal ajax-flash-messages', local: false do |f| %>

  <div class="form-group">
    <%= f.label :email, 'Preferred Email', class: 'control-label' %>
    <%= f.text_field :email, class: 'form-control' %>
    <% if @email_preference.email.blank? %>
      <span class="help-block">If a preferred email is not provided, the following email will be used: <%= "#{@email_preference.uni}@columbia.edu" %></span>
    <% end %>
  </div>

  <div class="form-check">
    <%= f.check_box :unsubscribe, class: 'form-check-input' %>
    <%= f.label :unsubscribe, 'Unsubscribe from all emails', class: 'form-check-label' %>
  </div>

  <br>
  
  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' } %>
  </div>
<% end %>
