<div id="dashboard-nav">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/account/"><i class="glyphicon glyphicon-user"></i> <%= t('blacklight.dashboard_links.my_account') %></a></li>
    <li><a href="/myworks/"><i class="glyphicon glyphicon-list-alt"></i> <%= t('blacklight.dashboard_links.my_works') %></a></li>
    <li><a href="/upload/"><i class="glyphicon glyphicon-plus"></i> <%= t('blacklight.dashboard_links.add_new_work') %></a></li>
    <li><a href="/admin/"><i class="glyphicon glyphicon-cog"></i> <%= t('blacklight.dashboard_links.admin') %></a></li>
  </ul>
</div>

<div id="dashboard">

  <%= render 'uploads/agreement' %>

  <h3>Email Preferences</h3>
  <p>Work in Progress</p>

  <h3>Display Name</h3>
  <p>Work in Progress</p>

</div>
