<% title 'My Works' %>

<% unless @pending_works.empty? %>
  <h3>Pending Works</h3>
  <table class="table small">
  <% @pending_works.each do |document| %>
    <tr>
      <td><%= document.title %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% unless @embargoed_works.docs.empty? %>
  <h3>Embargoed Works</h3>
  <table class="table small">
  <% @embargoed_works.docs.each do |document| %>
    <tr>
      <td><%= link_to document.title, solr_document_path(document.id) %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if @current_works_with_stats.empty? %>
  <h3>Available Works</h3>
  <h4>No works available </h4>
  <% if deposits_enabled? %>
    <p>Visit our <%= link_to 'upload page', uploads_path %> to contribute your works.</p>
  <% end %>
<% else %>
  <table class="table">
    <tr>
      <th class="header">
        <h3>Available Works</h3>
      </th>
      <th class="header center" colspan="2">
        <h3>Downloads</h3>
      </th>
      <th class="header center" colspan="2">
        <h3>Views</h3>
      </th>
    </tr>
    <tr>
      <th>
        Work
      </th>
      <th class="center">
        <%= @current_works_with_stats.time_period %>
      </th>
      <th class="center">
        Lifetime
      </th>
      <th class="center">
        <%= @current_works_with_stats.time_period %>
      </th>
      <th class="center">
        Lifetime
      </th>
    </tr>
    <% @current_works_with_stats.each do |item_stats| %>
      <% document = item_stats.document %>
        <tr>
          <td>
            <%= link_to document.title, solr_document_path(document.id) %>
          </td>
          <td class="center">
            <%= item_stats.get_stat(Statistic::DOWNLOAD, AcademicCommons::Metrics::PERIOD) %>
          </td>
          <td class="center">
            <%= item_stats.get_stat(Statistic::DOWNLOAD, AcademicCommons::Metrics::LIFETIME) %>
          </td>
          <td class="center">
            <%= item_stats.get_stat(Statistic::VIEW, AcademicCommons::Metrics::PERIOD) %>
          </td>
          <td class="center">
            <%= item_stats.get_stat(Statistic::VIEW, AcademicCommons::Metrics::LIFETIME) %>
          </td>
        </tr>
    <% end %>
    <tr>
      <td>
        <em>Totals:</em>
      </td>
      <td class="center">
        <%= @current_works_with_stats.total_for(Statistic::DOWNLOAD, AcademicCommons::Metrics::PERIOD) %>
      </td>
      <td class="center">
        <%= @current_works_with_stats.total_for(Statistic::DOWNLOAD, AcademicCommons::Metrics::LIFETIME) %>
      </td>
      <td class="center">
        <%= @current_works_with_stats.total_for(Statistic::VIEW, AcademicCommons::Metrics::PERIOD) %>
      </td>
      <td class="center">
        <%= @current_works_with_stats.total_for(Statistic::VIEW, AcademicCommons::Metrics::LIFETIME) %>
      </td>
    </tr>
  </table>
<% end %>
