<div id="dashboard-nav">
  <ul class="nav nav-tabs">
    <li><a href="/account/"><i class="glyphicon glyphicon-user"></i> <%= t('blacklight.dashboard_links.my_account') %></a></li>
    <li class="active"><a href="/myworks/"><i class="glyphicon glyphicon-list-alt"></i> <%= t('blacklight.dashboard_links.my_works') %></a></li>
    <li><a href="/upload/"><i class="glyphicon glyphicon-plus"></i> <%= t('blacklight.dashboard_links.add_new_work') %></a></li>
    <li><a href="/admin/"><i class="glyphicon glyphicon-cog"></i> <%= t('blacklight.dashboard_links.admin') %></a></li>
  </ul>
</div>

<div id="dashboard">

  <h3>Pending Works</h3>
  <% @pending_documents.each do |document| %>
    <p><%= document.title %></p>
  <% end %>

  <h3>Available Works</h3>
  <% @current_documents.each do |document| %>
    <p><%= link_to document.to_semantic_values[:title].first,
                   solr_document_path(document.to_semantic_values[:id].first) %></p>
  <% end %>

</div>
