<h2>Usage Statistics Reports</h2>

<%= form_with url: admin_reports_path, local: true do |f| %>
  <h3>Select parameters:</h3>

  <h5>Filters</h5>
  <%= f.text_field(:filter) %>

  <h5>Time Period<h5>
  <%= f.radio_button(:time_period, 'lifetime') %>
  <%= f.label(:time_period_lifetime, 'Lifetime') %>
  <%= f.radio_button(:time_period, 'date_range') %>
  <%= f.label(:time_period_date_range, 'Date Range') %>

  <h5>Order</h5>

  <h5>More options</h5>
  <%= f.check_box(:include_views) %> <%= f.label(:include_views, 'include views?') %>
  <%= f.check_box(:include_zeroes) %> <%= f.label(:include_zeroes, 'include zeroes?') %>

  <h5>Display</h5>
  <%= f.radio_button(:display, 'summary') %>
  <%= f.label(:display_summary, 'Summary Table') %>
  <%= f.radio_button(:display, 'month_by_month') %>
  <%= f.label(:display_month_by_month, 'Month-by-month totals') %>

  <%= f.submit 'Generate Report', class: 'btn btn-primary' %>
<% end %>
