<h2>Self-Deposits     <%= @posts  %>
 </h2>
<%= form_with url: admin_site_options_path, method: :patch do |form| %>
  <% if deposits_enabled?  %>
    <% deposit_action = "Disable" %>
    <% enable = false %>
  <% else %>
    <% deposit_action = "Enable" %>
    <% enable = true %>
  <% end %>
  <%= form.hidden_field :enable_deposits, value: enable %>
  <%= form.submit "#{deposit_action} Deposits" %>
<% end %>
<div class="pagination"> <%= will_paginate @deposits %></div>
<table class="table">
  <thead>
    <tr>
      <th>Depositor</th>
      <th>UNI</th>
      <th>Title</th>
      <th>Deposited on</th>
    </tr>
  </thead>
  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td>
          <%= deposit.name %>
        </td>
        <td>
          <%= deposit.uni %>
        </td>
        <td>
          <%= link_to deposit.title, admin_deposit_path(deposit) %>
        </td>
        <td>
          <%= deposit.created_at.strftime('%F %R') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination"> <%= will_paginate @deposits %></div>
