<h2>Self-Deposits</h2>
<div class="pagination"> <%= will_paginate @posts %></div>
<table class="table">
  <thead>
    <tr>
      <th>Depositor</th>
      <th>UNI</th>
      <th>Title</th>
      <th>Deposited on</th>
    </tr>
  </thead>
  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td>
          <%= deposit.name %>
        </td>
        <td>
          <%= deposit.uni %>
        </td>
        <td>
          <%= link_to deposit.title, admin_deposit_path(deposit) %>
        </td>
        <td>
          <%= deposit.created_at.strftime('%F %R') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination"> <%= will_paginate @posts %></div>
