<div class="row align-items-center">
<div class="col-8">
<h2>Self-Deposits     <%= @posts  %>
 </h2>
 </div>
 <%= render :partial=>'enable_deposits_form' %>
 </div>
<div class="pagination"> <%= will_paginate @deposits %></div>
<table class="table">
  <thead>
    <tr>
      <th>Depositor</th>
      <th>UNI</th>
      <th>Title</th>
      <th>Deposited on</th>
    </tr>
  </thead>
  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td>
          <%= deposit.name %>
        </td>
        <td>
          <%= deposit.uni %>
        </td>
        <td>
          <%= link_to deposit.title, admin_deposit_path(deposit) %>
        </td>
        <td>
          <%= deposit.created_at.strftime('%F %R') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination"> <%= will_paginate @deposits %></div>
