<p>
  <%= link_to '<< Back to Self-Deposits', admin_deposits_path %>
</p>
<h2><%= @deposit.title %></h2>

<dl class="dl-horizontal">
  <% if @deposit.user %>
    <dt>UNI</dt>
    <dd><%= @deposit.user.uid %></dd>

    <dt>Name</dt>
    <dd><%= @deposit.user.full_name %></dd>

    <dt>E-mail</dt>
    <dd><%= @deposit.user.email %></dd>

    <dt>Agreement Signed?</dt>
    <dd><%= @deposit.user.signed_latest_agreement? ? 'yes' : 'no' %></dd>
  <% else %>
    <dt>UNI</dt>
    <dd><%= @deposit.uni %></dd>

    <dt>Name</dt>
    <dd><%= @deposit.name %></dd>
  <% end %>

  <dt>Authenticated?</dt>
  <dd><%= @deposit.authenticated? %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @deposit.title %></dd>

  <dt>Creators</dt>
  <% if @deposit.creators.blank? %>
    <dd>None</dd>
  <% else %>
    <% @deposit.creators.each do |c| %>
      <% name = "#{c[:first_name]} #{c[:last_name]}" %>
      <% name = "#{name} (#{c[:uni]})" if c[:uni] %>
      <dd><%= name %></dd>
    <% end %>
  <% end %>

  <dt>Year</dt>
  <dd><%= (@deposit.year.blank?) ? 'None' : @deposit.year %></dd>

  <dt>Abstract</dt>
  <dd><%= (@deposit.abstract.blank?) ? 'None' : @deposit.abstract %></dd>

  <dt>DOI/URL</dt>
  <dd><%= (@deposit.doi.blank?) ? 'None' : @deposit.doi %></dd>

  <dt>Deposit Program</dt>
  <dd><%= (@deposit.degree_program.blank?) ? 'None' : @deposit.degree_program %></dd>

  <dt>Thesis Advisor</dt>
  <dd><%= (@deposit.thesis_advisor.blank?) ? 'None' : @deposit.thesis_advisor %></dd>

  <dt>Thesis or Dissertation</dt>
  <dd><%= (@deposit.thesis_or_dissertation.blank?) ? 'None' : @deposit.thesis_or_dissertation %></dd>

  <dt>Degree Earned</dt>
  <dd><%= (@deposit.degree_earned.blank?) ? 'None' : @deposit.degree_earned %></dd>

  <dt>Thesis Embargo</dt>
  <dd><%= (@deposit.embargo_date.blank?) ? 'None' : @deposit.embargo_date %></dd>

  <dt>Previously Published</dt>
  <dd><%= (@deposit.previously_published.blank?) ? 'None' : @deposit.previously_published %></dd>

  <dt>Article Version</dt>
  <dd><%= (@deposit.article_version.blank?) ? 'None' : @deposit.article_version %></dd>

  <dt>Keywords</dt>
  <dd><%= (@deposit.keywords.blank?) ? 'None' : @deposit.keywords %></dd>

  <dt>Notes</dt>
  <dd><pre><%= (@deposit.notes.blank?) ? 'None' : @deposit.notes %></pre></dd>

  <dt>Rights Statement</dt>
  <dd><%= (@deposit.rights.blank?) ? 'None' : @deposit.rights %></dd>

  <dt>License</dt>
  <dd><%= (@deposit.license.blank?) ? 'None' : @deposit.license %></dd>

  <dt>Files</dt>
  <% @deposit.files.each do |f| %>
    <dd><%= link_to f.filename, rails_blob_path(f, disposition: "attachment") %></dd>
  <% end %>

  <dt>Hyacinth Identifier</dt>
  <dd><%= (@deposit.hyacinth_identifier.blank?) ? 'None' : @deposit.hyacinth_identifier %></dd>
</dl>
