<% usage_stats = @usage_statistics_reports_form.usage_stats %>

<% if usage_stats %>
  <h3>Usage Statistics</h3>
  <ul>
    <li>Period Covered: <%= usage_stats.time_period %></li>
    <li>Filters: </li>
    <li>Order:</li>
    <li>Report created on:</li>
    <li>Total number of items: <%= usage_stats.count %></li>
  </ul>

  <p>
    <%= link_to 'Export Results to CSV', csv_admin_usage_statistics_reports_path(params.to_unsafe_h.slice(:usage_statistics_reports_form)), class: 'btn btn-default' %>
  </p>

  <% case @usage_statistics_reports_form.display %>
  <% when 'summary' %>
    <% case @usage_statistics_reports_form.time_period %>
    <% when 'lifetime' %>
      <%= render 'table', array: usage_stats.lifetime_summary %>
    <% when 'date_range' %>
      <%= render 'table', array: usage_stats.time_period_summary %>
    <% end %>
  <% when 'month_by_month' %>
    <h4>Views</h4>
    <%= render 'table', array: usage_stats.month_by_month_table(Statistic::VIEW) %>
    <h4>Downloads</h4>
    <%= render 'table', array: usage_stats.month_by_month_table(Statistic::DOWNLOAD) %>
  <% end %>
<% end %>
