<div id="usage-statistics-email-flash-message"></div>

<%= form_with url: { action: :email, params: params.to_unsafe_h.slice(:usage_statistics_reports_form) },
              format: :json,
              scope: :email,
              class: 'form-horizontal admin-form',
              id: 'email-usage-statistics' do |f| %>
  <div class="form-group">
    <%= f.label :from, 'From', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :from, class: 'form-control', value: 'Academic Commons <ac@columbia.edu>', disabled: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :to, 'To', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :to, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :subject, 'Subject', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :subject, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body, 'Body', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_area :body, class: 'form-control' %>
      <span class="help-block">
        Message should include greeting and signature. In the email, a table
        containing statistics will be displayed below the text in this box.
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :csv, 'Attach CSV?', class: 'col-sm-3 control-label' %>
    <div class="radio">
      <div class="col-sm-2">
        <%= f.radio_button(:csv, 'yes') %>
        <%= f.label(:csv_yes, 'Yes') %>
      </div>
      <div class="col-sm-2">
        <%= f.radio_button(:csv, 'no', checked: true) %>
        <%= f.label(:csv_no, 'No') %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit 'Send Email', class: 'btn btn-primary' %>
    </div>
  </div>
  <p id="ajax-response"><p>
<% end %>
