<h2>Usage Statistics Reports</h2>

<%= form_with model: @usage_statistics_reports_form, url: admin_usage_statistics_reports_path, local: true, class: 'form-horizontal' do |f| %>
  <h3>Select parameters to calculate usage statistics by work:</h3>

  <div class="form-group">
    <%= f.label :filters, 'Filters', class: 'col-sm-2' %>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12">
          <% (@usage_statistics_reports_form.filters || [{}]).each do |filter| %>
            <%= f.fields_for :filters, index: nil do |filter_form| %>
            <div class="row filter-fields">
              <div class="col-xs-4">
                <%= filter_form.select(:field, UsageStatisticsReportsForm::FILTERS, class: 'form-control', include_blank: true, selected: filter[:field]) %>
              </div>
              <div class="col-xs-1">=</div>
              <div class="col-xs-4">
                <%= filter_form.text_field(:value, class: 'form-control', value: filter[:value]) %>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= button_tag('Add another filter', class: 'btn btn-default', 'data-duplicate-fields-template': "filter-fields") %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :time_period, 'Time Period', class: 'col-sm-2' %>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12 radio">
          <%= f.radio_button(:time_period, 'lifetime') %>
          <%= f.label(:time_period_lifetime, 'Lifetime') %>
          <%= f.radio_button(:time_period, 'date_range') %>
          <%= f.label(:time_period_date_range, 'Date Range') %>
        </div>
      </div>

      <div class="row">
        <%= f.fields_for :start_date do |start_date_form| %>
          <%= f.label :start_date, 'Start Date', class: 'col-sm-3 col-xs-offset-1' %>

          <div class="col-sm-4">
            <%= start_date_form.select :month, UsageStatisticsReportsForm::MONTHS,
                                       class: 'form-control col-sm-4',
                                       selected: @usage_statistics_reports_form.start_date&.fetch(:month) %>
          </div>
           <div class="col-sm-4">
            <%= start_date_form.select :year, Statistic::YEAR_BEG..Date.current.year,
                                       class: 'form-control',
                                       selected: @usage_statistics_reports_form.start_date&.fetch(:year) %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <%= f.fields_for :end_date do |start_date_form| %>
          <%= f.label :end_date, 'End Date', class: 'col-sm-3 col-xs-offset-1' %>

          <div class="col-sm-4">
            <%= start_date_form.select :month, UsageStatisticsReportsForm::MONTHS,
                                        class: 'form-control col-sm-4',
                                        selected: @usage_statistics_reports_form.end_date&.fetch(:month) %>
          </div>
           <div class="col-sm-4">
            <%= start_date_form.select :year, Statistic::YEAR_BEG..Date.current.year,
                                       class: 'form-control',
                                       selected: @usage_statistics_reports_form.end_date&.fetch(:year) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :order, 'Order', class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.select(:order, UsageStatisticsReportsForm::ORDER) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :display, 'Display', class: 'col-sm-2' %>
    <div class="radio col-sm-10">
      <%= f.radio_button(:display, 'summary') %>
      <%= f.label(:display_summary, 'Summary Table') %>
      <%= f.radio_button(:display, 'month_by_month') %>
      <%= f.label(:display_month_by_month, 'Month-by-month totals') %>
    </div>
  </div>

  <%= f.submit 'Generate Report', class: 'btn btn-primary' %>
<% end %>

<hr>

<%= render 'display_statistics' %>
