<% content_for :header do %>
  <h1>Academic Commons Participation Agreement</h1>
<% end %>

<%= render partial: 'author_agreement' %>

<%= form_with model: @agreement, url: agreement_path, class: 'agreement', local: true do |f| %>
  <fieldset>
    <%= f.hidden_field(:agreement_version, value: Agreement::LATEST_AGREEMENT_VERSION) %>
    <%= f.hidden_field(:token, value: token) if token? %>
    <ul>
      <li class="checkbox">
        <%= f.check_box(:accepted_agreement) %>
        <%= f.label(:accepted_agreement, 'I have read and accept the participation agreement.') %>
      </li>
      <li>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :email, 'E-mail' %>
        <%= f.text_field :email, readonly: (token?) ? 'readonly' : nil %>
      </li>
      <li>
        <%= f.label :uni, 'UNI' %>
        <%= f.text_field :uni, readonly: 'readonly' %>
      </li>
    </ul>
    <%= f.submit 'Accept', :class => 'btn btn-primary btn-accept' %>
  </fieldset>
<% end %>
