    <style>
       .email_field {
           width: 400px;
       }
       
       .email_field_box {
           padding: 1px 1px 1px 1px;
       }       
       
       .email_field_label_box {
           padding: 1px 10px 1px 10px;
           vertical-align: top;
           width: 50px;
           text-align: left;
       }       
       .email_form {
           width: 500px;
           //border: 1px solid black;
           text-align: center;
           margin-left: auto;
           margin-right: auto;    
           margin-bottom: auto;
           padding: 10px;
       }   
       .email_message {
           height: 150px;
       }           
    </style>   

<div id="email_form" class="email_form">

 <form action="<%= form_url %>"  method="post">
 	
 <% if(hidden_params) %>	
  <% hidden_params.each do |key, value| %>

    <input type="hidden" name="<%= key %>" value="<%= value %>"> 
         
  <% end %>
 <% end %> 
  

	<div style='display: table; width: 100%;'>
		
      <div style='display: table-row; width: 100%;'>
        <div class='table-cell email_field_label_box' style='display: table-cell;'>
			From:
		</div>  
		<div class='table-cell email_field_box' style='display: table-cell;'>
			<input id="email_from" name="email_from" type="text" class="email_field" value="<%= email_from %>" />
		</div>
      </div>
     
      <div style='display: table-row; width: 100%;'>
        <div class='table-cell email_field_label_box' style='display: table-cell;'>
			To:
		</div>  
		<div class='table-cell email_field_box' style='display: table-cell;'>
			<input id="email_to" name="email_to" type="text" class="email_field" value="<%= email_to %>"/>
		</div>
      </div>  
      
      <div style='display: table-row; width: 100%;'>
        <div class='table-cell email_field_label_box' style='display: table-cell;'>
			Subject:
		</div>  
		<div class='table-cell email_field_box' style='display: table-cell;'>
			<input id="email_subject" name="email_subject" type="text" class="email_field" value="<%= email_subject %>"/>
		</div>
      </div>    
      
      <div style='display: table-row; width: 100%;'>
        <div class='table-cell email_field_label_box' style='display: table-cell;'>
			Message:
		</div>  
		<div class='table-cell email_field_box' style='display: table-cell;' contentEditable="true">
			<textarea id="email_message" name="email_message" class="email_field email_message"><%= email_message %></textarea>
		</div>
      </div> 
      
     
	</div>   


 </form>
     
</div>