
<%= form_with(model: @deposit, url: uploads_path, method: :create, local: true) do |form| %>
  <div>
    <div><%= form.label(:title, 'Title') %></div>
    <div><%= form.text_field(:title, placeholder: 'Title') %></div>
  </div>

  <div>
    <div><%= form.label(:abstract, 'Abstract') %></div>
    <div><%= form.text_area(:abstract, placeholder: 'What is this work about? Provide a brief summary to help readers understand its argument.') %></div>
  </div>

  <div>
    <div><%= form.label(:year, 'Year Created') %></div>
    <div><%= form.number_field(:year, placeholder: 'YYYY') %></div>
  </div>

  <div>
    <%= form.label(:doi, 'DOI/URL') %>
    <%= form.text_field(:doi, placeholder: 'DOI or URL of work online (if applicable)') %>
  </div>

  <div>
    <div><%= form.label(:notes, 'Notes') %></div>
    <div><%= form.text_area(:notes, placeholder: 'Additional information you want included in the record and/or notes for repository staff') %></div>
  </div>


  <%= form.file_field :files, multiple: true, direct_upload: true %>

  <%= form.submit('Submit') %>

<% end %>
