
<%= form_with(model: @deposit, url: uploads_path, method: :create, local: true) do |form| %>
  <div>
    <div><%= form.label(:title, 'Title') %></div>
    <div><%= form.text_field(:title, placeholder: 'Title') %></div>
  </div>

  <div>
    <div><%= form.label(:abstract, 'Abstract') %></div>
    <div><%= form.text_area(:abstract, placeholder: 'What is this work about? Provide a brief summary to help readers understand its argument.') %></div>
  </div>

  <div>
    <div><%= form.label(:year, 'Year Created') %></div>
    <div><%= form.number_field(:year, placeholder: 'YYYY') %></div>
  </div>

  <div>
    <%= form.label(:doi, 'DOI/URL') %>
    <%= form.text_field(:doi, placeholder: 'DOI or URL of work online (if applicable)') %>
  </div>

  <div>
    <div><%= form.label(:notes, 'Notes') %></div>
    <div><%= form.text_area(:notes, placeholder: 'Additional information you want included in the record and/or notes for repository staff') %></div>
  </div>

  <div>
    <%= form.label(:rights_statement, 'Rights Statement') %>
    <%= form.collection_select(:rights_statement,
                               Deposit::RIGHTS_STATEMENTS,
                               :to_s,
                               :to_s,
                               prompt: 'Choose a statement about the copyright status of this work') %>
  </div>

  <div>
    <%= form.label(:license, 'License') %>
    <%= form.collection_select(:license,
                               Deposit::LICENSE,
                               :to_s,
                               :to_s,
                               prompt: 'Choose how you would like other people to use this work') %>
  </div>

  <div>
    <%= form.file_field :files, multiple: true %>
  </div>

  <%= form.submit('Submit') %>

<% end %>
