<%= render 'agreement' %>

<%= form_with(model: @deposit, url: uploads_path, method: :create, local: true, id: :upload) do |form| %>

  <div class="item">
    <%= form.label(:title, 'Title*') %>
    <%= form.text_field(:title, placeholder: 'Title') %>
  </div>

  <div class="item">
    <%= form.label(:abstract, 'Abstract*') %>
    <%= form.text_area(:abstract, placeholder: 'What is this work about? Provide a brief summary to help readers understand its argument.') %>
  </div>

  <div class="item">
    <%= form.label(:year, 'Year Created*') %>
    <%= form.number_field(:year, placeholder: 'YYYY') %>
  </div>

  <div class="item">
    <%= form.label(:doi, 'DOI/URL') %>
    <%= form.text_field(:doi, placeholder: 'DOI or URL of work online (if applicable)') %>
  </div>

  <div class="item checkbox">
    <h5>Current student?</h5>
    <%= form.check_box :student %>
    <%= form.label :student, 'Check here if you are a current student at Columbia or one of its affiliate institutions.' %>
  </div>

  <h5>Creator(s)</h5>
  <div class="creators">

    <%= '<div class="field_with_errors">'.html_safe if @deposit.errors.include?(:creators) %>

      <div class="creator-header">
        <label for="deposit_creators_first_name">First Name*</label>
        <label for="deposit_creators_last_name">Last Name*</label>
        <label for="deposit_creators_uni">UNI</label>
        <span class="placeholder"></span>
      </div>

      <div id='creator-list'>
        <% (@deposit.creators || [{}]).each do |c| %>
          <div>
            <input type="text" name="deposit[creators][][first_name]" class="deposit_creators_first_name", value="<%= c['first_name'] %>">
            <input type="text" name="deposit[creators][][last_name]" class="deposit_creators_last_name", value="<%= c['last_name'] %>">
            <input type="text" name="deposit[creators][][uni]" class="deposit_creators_uni",  value="<%= c['uni'] %>" <%= 'readonly="readonly"' if c['uni'] == current_user.uid %>>
            <span class="sort-icon"><i class="glyphicon glyphicon-sort"></i></span>
          </div>
        <% end %>
      </div>

    <%= '</div>'.html_safe if @deposit.errors.include?(:creators) %>

    <%= button_tag 'Add another creator',
                    type: 'button',
                    id: 'add-address',
                    class: 'btn btn-default',
                    style: 'margin-top: 8px;',
                    data: { creator_list_id: 'creator-list'} %>

  </div>

  <div class="item">
    <%= form.label(:notes, 'Notes') %>
    <%= form.text_area(:notes, placeholder: 'Additional information you want included in the record and/or notes for repository staff') %>
  </div>

  <div class="item">
    <%= form.label(:rights_statement, 'Copyright Status*') %>
    <p class="note">
      Please confirm whether your deposit is in any way copyright protected. By making a selection from the menu below I confirm that I have the authority to do so. For more information about how copyright protects your materials, see our
      <%= link_to 'Copyright Quick Guide', 'https://copyright.columbia.edu/basics/copyright-quick-guide.html' %>
    </p>
    <%= form.collection_select(:rights_statement,
                               Deposit::COPYRIGHT_STATUS,
                               :to_s,
                               :to_s,
                               prompt: 'Choose copyright status of this work') %>
  </div>

  <%# div for license information populated via javascript %>
  <div id="use-by-others" class="item"></div>

  <div class="item" id="file-upload">
    <div><%= form.label(:files, 'Upload File(s)*') %></div>
      <p class="alert alert-info">This form accepts files up to 100MB in size. If you have larger files, email <%= mail_to "ac@columbia.edu" %>.</p>

    <div><%= form.file_field :files, multiple: true, direct_upload: true %></div>

    <div action='/' id="deposit-drop" class="dropzone"></div>
  </div>

  <div id='file-preview'>
    <div id="preview-template">
      <div>
        <span class="name" data-dz-name></span>
        <strong class="error text-danger" data-dz-errormessage></strong>
        <span class="size" data-dz-size></span>
        <span class="dz-success-mark">✔</span>
        <span class="dz-error-mark">✘</span>
      </div>
    </div>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>

<% end %>
