

<script src="/assets/logs/logs.js" type="text/javascript"></script>

<div style="padding: 0 0 6px 0;">
  <h3> <%= @title %>
</div>

<ul>
  <% @logs.each do |log| %>
    <li style="padding: 0 0 2px 0;">

      <a onclick="javascript:show_log('<%= log[:time_id]%>', '<%= @log_folder%>');" style=""><%= log[:time]%></a>
       -
      <%= link_to 'download', download_log_path(:id => log[:time_id], :log_folder => @log_folder) %>
    </li>
  <% end %>
</ul>

<div id="log_box" title="Log View"/>
