<div id="static-text">

  <div class="page-title">
    <div class="container">
      <h1>About</h1>
    </div>
  </div>

  <p class="intro">
    Academic Commons provides open, persistent access to research and scholarship created at Columbia University, Barnard College, Jewish Theological Seminary, Teachers College, and Union Theological Seminary. Academic Common is a program of the <a href="http://library.columbia.edu/">Columbia University Libraries</a>.
  </p>

  <p>Columbia affiliates can use Academic Commons to:</p>

  <h3>Enhance discoverability</h3>
  <p>Columbia research and scholarship in Academic Commons is freely accessible to anyone online. Works are are optimized for discovery in search engines, including Google and Google Scholar.</p>

  <h3>Encourage citation and attribution</h3>
  <p>Academic Commons assigns a <a href="http://www.doi.org/">Digital Object Identifier</a>, or DOI, to each work. This persistent URL facilitates citation and attribution so you can receive credit for a broad range of research outputs.</p>

  <h3>Provide persistent access</h3>
  <p>Academic Commons is part of the Columbia University Libraries long-term digital preservation storage system. We curate works in the repository in accordance with the Columbia University Libraries <a href="http://library.columbia.edu/about/policies/collection-development/general/preservation.html">Preservation Policy</a>.</p>

  <h3>Highlight your department or program</h3>
  <p>We partner with departments, institutes and centers at Columbia to enhance the impact of the research they produce, including student theses, working paper series, reports, books, conference proceedings, and other scholarly projects.</p>

  <p>Read our <a href="/policies/">Deposit Policies</a>.</p>

  <h2 id="platform">Platform</h2>

  <h3>Open-source software</h3>
  <p>Academic Commons is built using open-source applications that are developed, supported, and maintained by a consortium of research and cultural heritage institutions.</p>

  <ul class="brand-logos">
    <li><a href="http://www.fedora-commons.org/"><img src="<%= image_url('brand-logos/logo-fedora.png'); %>"></a></li>
    <li><a href="http://duraspace.org/"><img src="<%= image_url('brand-logos/logo-duraspace.png'); %>"></a></li>
    <li><a href="http://projectblacklight.org/"><img src="<%= image_url('brand-logos/logo-blacklight.png'); %>"></a></li>
  </ul>

  <h3>Part of a network of scholarly resources</h3>
  <p>Academic Commons and the Columbia Libraries partner with scholarly initiatives around the globe to disseminate scholarship and research to the broadest possible audience, thereby increasing the usefulness and impact of research.</p>

  <ul class="brand-logos">
    <li><a href="https://www.datacite.org/"><img src="<%= image_url('brand-logos/logo-datacite.png'); %>"></a></li>
    <li><a href="http://www.share-research.org/"><img src="<%= image_url('brand-logos/logo-share.png'); %>"></a></li>
    <li><a href="https://www.coar-repositories.org/"><img src="<%= image_url('brand-logos/logo-coar.png'); %>"></a></li>
    <li><a href="https://www.re3data.org/"><img src="<%= image_url('brand-logos/logo-re3data.png'); %>"></a></li>
  </ul>

  <h3>Secure storage</h3>
  <p>Files in Academic Commons are housed in the Columbia Libraries long-term digital storage system, which includes one local and two remote backup copies. The system verifies with an MD5 checksum that these copies are identical on write.</p>

  <h3>API</h3>
  <p style="background:yellow;">INFO TK.</p>

  <h3>OAI-PMH</h3>
  <p>Academic Commons supports the <a href="http://www.openarchives.org/pmh/">Open Archives Initiative Protocol for Metadata Harvesting</a> (OAI-PMH), version 2.0.</p>

  <p>The base URL is: <a href="https://academiccommons.columbia.edu/catalog/oai">https://academiccommons.columbia.edu/catalog/oai</a></p>

  <h3>Metadata license</h3>

  <p>Academic Commons bibliographic metadata—excluding abstracts, which may be under copyright—is available under a CC0 license.</p>

  <p><a href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="<%= image_url('logo-cc0-license.png'); %>"></a></p>

  <p>To the extent possible under law, Columbia University Academic Commons has waived all copyright and related or neighboring rights to Academic Commons bibliographic metadata (abstracts are excluded from this license). This work is published from: United States.</p>

</div><!--#static-text-->
