<% title 'About' %>

<% content_for :header do %>
  <h1>About</h1>
<% end %>

<p class="summary">
  Academic Commons provides open, persistent access to the scholarship produced by researchers at Columbia University, Barnard College, Jewish Theological Seminary, Teachers College, and Union Theological Seminary. Academic Commons is a program of the <a href="http://library.columbia.edu/">Columbia University Libraries</a>.
</p>

<h3>Long-term access</h3>
<p>No matter where you live, you can download the full text of the research and scholarship available in Academic Commons without encountering firewalls or fees. If you are a member of the Columbia community, you can upload your work to Academic Commons to ensure that it is accessible for years to come in the digital collections of Columbia University Libraries.</p>

<h3>Enhanced discoverability</h3>
<p>Academic Commons is indexed by leading search engines, metadata aggregators, the Columbia Libraries catalog, and the Columbia University website.</p>

<h3>Citation and attribution</h3>
<p>Items uploaded to Academic Commons receive a <a href="http://www.doi.org">Digital Object Identifier</a>, or DOI, a persistent URL that facilitates citation and attribution.</p>

<h3>Highlighting centers, departments and programs</h3>
<p>Columbia departments, centers, institutes and programs can use Academic Commons to showcase affiliated research, from working papers, reports, and books to conference proceedings and student theses.</p> 
<p>Learn more about having this work appear on your center’s or department’s website using the <%= link_to 'Academic Commons API', developers_path(anchor: 'api') %>.</p>

<p><em>For information about contributing to Academic Commons, visit the <%= link_to t('blacklight.header_links.policies'), policies_path %> and <%= link_to t('blacklight.header_links.faq'), faq_path %> pages.</em></p>

<h3>Open-source technology</h3>
<p>Academic Commons runs on open-source applications including Fedora, the repository platform, and Blacklight, the user interface framework. Columbia University Libraries actively contributes to the development of both platforms. The Academic Commons technology stack includes:</p>

<ul class="brand-logos">
  <li><a href="http://www.fedora-commons.org/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-fedora.png'); %>" alt="Fedora"><span class="visually-hidden">Fedora</span></a></li>
  <li><a href="http://projectblacklight.org/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-blacklight.png'); %>" alt="Blacklight"><span class="visually-hidden">Blacklight</span></a></li>
  <li><a href="https://www.mysql.com/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-mysql.png'); %>" alt="MySQL"><span class="visually-hidden">MySQL</span></a></li>
  <li><a href="https://lucene.apache.org/solr/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-solr.png'); %>" alt="Apache Solr"><span class="visually-hidden">Apache Solr</span></a></li>
</ul>

<h3>Contributing to a network of open scholarly resources</h3>
<p>Academic Commons is part of a network of initiatives that promote the open distribution of scholarship and research.</p>

<ul class="brand-logos">
    <li><a href="https://www.base-search.net/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-base-search.png'); %>" alt="BASE"><span class="visually-hidden">BASE</span></a></li>
    <li><a href="https://www.coar-repositories.org/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-coar.png'); %>" alt="COAR"><span class="visually-hidden">COAR</span></a></li>
    <li><a href="https://core.ac.uk/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-core.png'); %>" alt="CORE"><span class="visually-hidden">CORE</span></a></li>
    <li><a href="https://www.datacite.org/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-datacite.png'); %>" alt="Datacite"><span class="visually-hidden">Datacite</span></a></li>
    <li><a href="https://datadryad.org/stash"><img src="<%= asset_pack_path('media/images/brand-logos/logo-dryad.png'); %>" alt="Dryad"><span class="visually-hidden">Dryad</span></a></li> 
    <li><a href="https://oatd.org/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-oatd.png'); %>" alt="Open Access Theses and Dissertations"><span class="visually-hidden">Open Access Theses and Dissertations</span></a></li> 
    <li><a href="https://www.re3data.org/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-re3data.png'); %>" alt="re3data"><span class="visually-hidden">re3data</span></a></li>
    <li><a href="https://unpaywall.org/"><img src="<%= asset_pack_path('media/images/brand-logos/logo-unpaywall.png'); %>" alt="Unpaywall"><span class="visually-hidden">Unpaywall</span></a></li>
</ul>

<h2 id="learn-more">Learn More</h2>

<div class="row menu">
  <div class="col-md-4 tile">
    <h2><%= link_to t('blacklight.header_links.policies'), policies_path %></h2>
    <p>Read our Collection, Terms of Use, Copyright, and Data Protection policies.</p>
  </div>
  <div class="col-md-4 tile">
    <h2><%= link_to t('blacklight.header_links.faq'), faq_path %></h2>
    <p>View answers to frequently asked questions about Academic Commons, including how to contribute to the repository.</p>
  </div>
  <div class="col-md-4 tile">
    <h2><%= link_to t('blacklight.header_links.developers'), developers_path %></h2>
    <p>Learn about the Academic Commons API, OAI-PMH, SWORD, sitemap, and metadata license.</p>
  </div>
  <div class="col-md-4 tile">
    <h2><%= link_to t('blacklight.header_links.credits'), credits_path %></h2>
    <p>Academic Commons is a team effort. Learn who keeps our repository program running.</p>
  </div>
</div>
