<div id="static-text">

  <div class="page-title">
    <div class="container">
      <h1>About</h1>
    </div>
  </div>

  <div class="container">

    <p class="intro">
      Academic Commons provides open, persistent access to research and scholarship created at Columbia University, Barnard College, Jewish Theological Seminary, Teachers College, and Union Theological Seminary. Academic Commons is a program of the <a href="http://library.columbia.edu/">Columbia University Libraries</a>.
    </p>

    <h3>Long-term access</h3>
    <p>No matter where you live, you can download the full text of the research and scholarship available in Academic Commons without encountering firewalls or fees. If you are a member of the Columbia community, you can deposit work in Academic Commons to ensure that it is accessible for years to come. </p>

    <h3>Enhanced discoverability</h3>
    <p>Find research in Academic Commons using a search engine such as Google, Google Scholar, or Bing. Works in Academic Commons are also included in CLIO, the Columbia Libraries catalog, and in Columbia University website search results.</p>

    <h3>Citation and attribution</h3>
    <p>Columbia scholars and researchers, deposit in Academic Commons and encourage citation of work including data, reports and presentations. Items deposited in Academic Commons each receive a Digital Object Identifier, or DOI, a persistent URL that facilitates citation and attribution.</p>

    <h3>Highlighting centers, departments and programs</h3>
    <p>Columbia departments, centers, institutes and programs, use Academic Commons to create a collection of research including working papers, reports, books, conference proceedings, and student theses. Then, you may want to create an automatic feed to your website using the <a href="/developers/">Academic Commons API</a>.</p>

    <p>For information about contributing to Academic Commons, visit the <a href="/policies/">Policies</a> and <a href="/faq/">FAQ</a> pages.</p>

    <h3>Open-source technology</h3>
    <p>Columbia University Libraries runs Academic Commons on open-source applications including Fedora, the repository platform upon which Academic Commons is built, and Blacklight, the framework for the Academic Commons user interface. Columbia University Libraries actively contributes to the development communities for both Fedora and Blacklight. The Academic Commons technology stack includes:</p>

    <ul class="brand-logos">
      <li><a href="http://www.fedora-commons.org/"><img src="<%= image_url('brand-logos/logo-fedora.png'); %>"></a></li>
      <!-- <li><a href="http://duraspace.org/"><img src="<%= image_url('brand-logos/logo-duraspace.png'); %>"></a></li> -->
      <li><a href="http://projectblacklight.org/"><img src="<%= image_url('brand-logos/logo-blacklight.png'); %>"></a></li>
      <li><a href="https://www.mysql.com/"><img src="<%= image_url('brand-logos/logo-mysql.png'); %>"></a></li>
      <li><a href="https://lucene.apache.org/solr/"><img src="<%= image_url('brand-logos/logo-solr.png'); %>"></a></li>
    </ul>

    <h3>Contributing to a network of open scholarly resources</h3>
    <p>Academic Commons is part of a global network of initiatives that promote the open distribution of scholarship and research.</p>

    <ul class="brand-logos">
      <li><a href="https://www.datacite.org/"><img src="<%= image_url('brand-logos/logo-datacite.png'); %>"></a></li>
      <li><a href="http://www.share-research.org/"><img src="<%= image_url('brand-logos/logo-share.png'); %>"></a></li>
      <li><a href="https://www.coar-repositories.org/"><img src="<%= image_url('brand-logos/logo-coar.png'); %>"></a></li>
      <li><a href="https://www.re3data.org/"><img src="<%= image_url('brand-logos/logo-re3data.png'); %>"></a></li>
    </ul>

    <p>Learn about our API and other developer resources on the <a href="/developers">Developers</a> page.</p>

    <h2 id="learn-more">Learn More</h2>

    <div class="menu-small">
      <div class="row">
        <div class="col-md-4 tile">
          <h2><%= link_to 'Policies', '/policies/' %></h2>
          <p>Guidelines on uploading to Academic Commons and the details of our Terms of Use, Copyright, and Privacy policies.</p>
        </div>
        <div class="col-md-4 tile">
          <h2><%= link_to 'FAQ', '/faq/' %></h2>
          <p>View answers to frequently asked questions about Academic Commons.</p>
        </div>
        <div class="col-md-4 tile">
          <h2><%= link_to 'Developers', '/developers/' %></h2>
          <p>Information about the Academic Commons API, OAI-PMH, SWORD, metadata license, and sitemap.</p>
        </div>
      </div>
    </div>

  </div><!--.container-->

</div><!--#static-text-->
