<% title 'Developer Resources' %>

<% content_for :header do %>
  <h1>Developer Resources</h1>
<% end %>

<% content_for :sidebar do %>
  <ul class="anchor-links" id="sidebar">
      <li><%= link_to 'API', '#api', class:'scroll' %></li>
      <li><%= link_to 'OAI-PMH', '#oai', class:'scroll' %></li>
      <li><%= link_to 'SWORD', '#sword', class:'scroll' %></li>
      <li><%= link_to 'Web Crawlers', '#crawlers', class:'scroll' %></li>
      <li><%= link_to 'Sitemap', '#sitemap', class:'scroll' %></li>
      <li><%= link_to 'Metadata License', '#metadata_license', class:'scroll' %></li>
  </ul>
<% end %>

<h2 id="api">API</h2>
<p>The Academic Commons RESTful API can be used to query/search for records. We support JSON responses. Documentation and a GUI can be found at:<br>
<%= link_to nil, "http://petstore.swagger.io/?url=#{root_url}api/v1/swagger_doc" %></p>
<p>Note that data feeds (data_feed) provide bulk, unpaginated access to a previously-defined subset of records from the API. Data feeds are not API alternatives unless the requestor is a Columbia entity that regularly crawls all of the responses to a consistent query. For example, a specific department name or genre type. To access the data_feed functionality of the API, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. </p>
<p>To see an example of an AC API integration, visit <a href="https://people.climate.columbia.edu/users/profile/ruth-s-defries">Dr. Ruth S. DeFries's profile</a> in the <a href="https://www.earth.columbia.edu/users">Earth Institute Directory</a>.</p>

<h2 id="oai">OAI-PMH</h2>
<p>Academic Commons supports the <a href="https://www.openarchives.org/OAI/openarchivesprotocol.html">Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH)</a>, version 2.0.
The base URL is: <%= link_to oai_catalog_url, oai_catalog_url %></p>

<p>The API supports GET requests; users interested in making POST requests should consider using the SWORD protocol detailed below.</p>

<p>For questions about how to integrate an API feed into your Columbia Site, please contact <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

<h2 id="sword">SWORD</h2>

<p>Academic Commons can receive materials via <a href="http://swordapp.org/">SWORD deposit</a>. SWORD is a protocol that automates the deposit process. SWORD is best used for recurring deposits, such as regular deposits of theses or working papers from Columbia departments and regular deposits of articles from Columbia-affiliated journals. Additionally, while the Academic Commons API does not include POST functionality, SWORD can be used in a similar manner to make deposits to Academic Commons in a more programmatic way.</p>

<p>To use SWORD you must have:</p>

<ul>
    <li>SWORD credentials (provided by Columbia Libraries)</li>
        <ul>
            <li>Username and password to use for Basic Authentication header in POST request</li>
            <li>URL to use for the POST request</li>
        </ul>
</ul>
<ul>
    <li>Deposits in package format that include an item (often a PDF) and an xml metadata file</li>
        <ul>
        <li>The SWORD server expects a file in zip format. This zip file will contain the item(s) to be deposited, along with a file called mets.xml. This file will contain metadata, including the list of item files. It is based on Metadata Encoding and Transmission Standard (METS). <%= link_to "View an xml example", "/sample_sword.xml" %>.</li>
        </ul>
</ul>
<ul>
    <li>The ability to create metadata xml files either manually or programmatically</li>
</ul>
<ul>    
    <li>Access to a SWORD client or SWORD library and the ability to initiate deposits</li>
</ul>

<p>If you would like to learn more about how to deposit content via SWORD or start the process of requesting credentials, contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p> 

<h2 id="crawlers">Web Crawlers</h2>
<p>Aggressive automated crawling of Academic Commons is not permitted, and IP addresses and ranges that exceed a reasonable rate of requests will be blocked. Entities that indiscriminately consume our computational resources create access issues for everyone else, and this behavior is not something that we will accommodate. If you would like to learn more about our rate limits, please email <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>
<p>Crawling, downloading, or otherwise accessing and/or storing content from Academic Commons for the purposes of training commercial Large Language Models (LLMs) or supplementing commercial Retrieval-Augmented Generation (RAG) systems is not permitted. The use of bibliographic metadata (without abstract text, for which we do not hold the copyright) may be used for this purpose unless a user-agent has been expressly disallowed through our site’s robots.txt.</p>

<h2 id="sitemap">Sitemap</h2>
<p>The sitemap for Academic Commons is regenerated every weekday. <%= link_to nil, "#{root_url}sitemap.xml.gz" %></p>

<h2 id="metadata_license">Metadata License</h2>
<p>Academic Commons bibliographic metadata—excluding abstracts, which may be under copyright—is available under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons 0 1.0 Universal</a> license.</p>

<p class="small-images">
  <a href="https://creativecommons.org/publicdomain/zero/1.0/">
    <%= cc_img_tag :cc %>
    <%= cc_img_tag :zero %>
  </a>
</p>

<p>To the extent possible under law, Columbia University Libraries has waived all copyright and related or neighboring rights to Academic Commons bibliographic metadata (abstracts are excluded from this license). This work is published from: United States.</p>
