<%= render partial: 'sidebar_all' %>

<div id="static-text">
  <h1>Frequently Asked Questions</h1>
  <p class="anchor-links">
  <%= link_to 'Overview', '#overview' %> | <%= link_to 'Deposit Your Work', '#deposit-your-work' %>
    | <%= link_to 'Copyright', '#copyright' %> | <%= link_to 'Data', '#faq-data' %>
    | <%= link_to 'Dissertations and Theses', '#dissertations-and-theses' %> | <%= link_to 'File Format', '#file-format' %>
    | <%= link_to 'Visibility', '#visibility' %>
  </p>

  <a id="overview" class="anchor"></a>
  <h2>Overview</h2>
  <h3>What is Academic Commons?</h3>
  <p><a target="_blank" href="http://academiccommons.columbia.edu">Academic Commons</a> is the digital research repository of Columbia University and its affiliate institutions including Barnard College, Teachers College, Union Theological Seminary, and Jewish Theological Seminary.  In other words, we are the place to archive digital versions of your articles or other scholarly works that are created before or during your time at Columbia and that are in what you consider to be their final form.  Academic Commons is one of the suite of services offered by the Columbia University Libraries.</p>

  <h3>What doesn't Academic Commons do?</h3>
  <p>Academic Commons is not a file server to store every version of an image or document in progress. It is not a collaborative space to share and edit documents. It is not a citation management program.  Our mission is to preserve and provide enhanced access to research produced at Columbia and its affiliate institutions (Barnard College, Teachers College, Union Theological Seminary, and Jewish Theological Seminary), not to provide active storage for ongoing projects.</p>

  <h3>How does Academic Commons differ from University Archives?</h3>
  <p>Items deposited in Academic Commons must be scholarly works created by faculty, students, and staff at Columbia and its affiliate institutions. Columbia University Archives preserves the institutional memory of the University through collecting historical materials affiliated with Columbia. Academic Commons is an online repository which provides a permanent URL for each deposited item. University Archives items are non-circulating and must be viewed in the Rare Book & Manuscript Library Reading Room. Visit the <a href="http://library.columbia.edu/indiv/uarchives/about.html">Columbia University Archives website</a> to learn more about its collection.</p>

  <h3>Does Academic Commons have any analysis or visualization tools?</h3>
  <p>No. Our primary focus is on providing access to the scholarly work that goes on at Columbia and its affiliates, not on supporting in-depth data analysis and visualization. That said, we work with our depositors to try and ensure that the data they deposit are easily re-usable in common statistical programs such as SPSS, Stata, R, and ArcGIS.</p>

  <h3>How is Academic Commons backed up?</h3>
  <p>Files deposited in Academic Commons are stored in the Columbia University Libraries long-term digital preservation storage system, which includes three copies: one stored on campus in Morningside Heights in Manhattan, another stored at a disaster recovery site in Syracuse, New York, and a third stored on tape at Indiana University. The system verifies with an MD5 checksum that these copies are identical on write.</p>

  <h3>Metadata license</h3>
  <p>Academic Commons bibliographic metadata--excluding abstracts, which may be under copyright--is available under a CC0 license.</p>
  <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0">
  </a>
  <br>
  To the extent possible under law,
  <a href="http://academiccommons.columbia.edu/">Columbia University Academic Commons</a>
  has waived all copyright and related or neighboring rights to Academic Commons bibliographic metadata (abstracts are excluded from this license).
  This work is published from: United States. </p>

  <h3>Harvesting Academic Commons metadata</h3>
  <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">Academic Commons supports the <a href="http://www.openarchives.org/pmh/">Open Archives Initiative Protocol for Metadata Harvesting</a> (OAI-PMH), version 2.0. <br><br>Starting URL, with verb parameter: <a href="http://academiccommons.columbia.edu/catalog/oai?verb=Identify">http://academiccommons.columbia.edu/catalog/oai?verb=Identify</a></p>

  <br/>

  <a id="deposit-your-work" class="anchor"></a>
  <h2>Deposit Your Work</h2>
  <h3>Why should I deposit in Academic Commons?</h3>
  <p class="list_title">Here are a number of reasons to deposit work in Academic Commons, provided by actual depositors:</p>
  <ul>
    <li>I could be hit by a bus.</li>
    <li>The student maintaining my web page will graduate.</li>
    <li>If/When I leave Columbia or retire, someone will take down my website.</li>
    <li>I have a chapter in book that is prohibitively expensive. Very few people will be able to buy the book, so no one will read my chapter.</li>
    <li>My computer is old/lost/stolen/being replaced.</li>
    <li>My collaborators (and students) in other countries can'۪t read my articles or books because they (or their libraries) can'۪t afford to buy them.</li>
    <li>People keep asking for my papers, and it'۪s a pain to keep emailing them one at a time.</li>
    <li>My article won'۪t be published for another year/6 months/1 week, but I want it to be read NOW.</li>
    <li>There are a lot of webpages at Columbia, and it'۪s difficult for people to find my work.</li>
    <li>Because I can.</li>
    <li>Because I think everyone should.</li>
  </ul>

  <h3>How is Academic Commons different than posting research on my own website?</h3>
  <p class="list_title">There are several important advantages to having your work archived in Academic Commons in addition to, or instead of, having it on your own website:</p>
  <ul>
    <li>We provide monthly usage reports for your deposited works.</li>
    <li>We add high quality metadata to your work to enhance its visibility in search engines.</li>
    <li>We have robust backup procedures to ensure the integrity and longevity of your work.</li>
    <li>We can provide RSS feeds of your work directly back to your site or your department'۪s site, offering an automatically-updated list of your work.</li>
  </ul>

  <h3>How do I deposit my work?</h3>
  <p>The easiest way to deposit your work is to use our <a href="http://academiccommons.columbia.edu/deposit">self-deposit form</a>. But you can also email your work directly to us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

  <h3>I deposit my articles in PubMedCentral (or ArXiv, RePEc, SSRN, etc.). Can I put them in Academic Commons, too?</h3>
  <p>Yes, of course! Having your work in multiple archives only increases its visibility and its impact.</p>
  <p>Better still, you can deposit videos, images, datasets, and other forms of content to Academic Commons that aren'۪t accepted by most subject repositories!  Just use our <a href="http://academiccommons.columbia.edu/deposit">self-deposit form</a>.</p>

  <h3>What can I deposit in Academic Commons?</h3>
  <p class="list_title">Current faculty, students, and staff of Columbia University, Barnard College, Jewish Theological Seminary, Teachers College, and Union Theological Seminary can deposit the outputs of their research and scholarship. This includes:</p>
  <ul>
    <li>articles</li>
    <li>working papers</li>
    <li>technical reports</li>
    <li>conference papers</li>
    <li>datasets</li>
    <li>dissertations</li>
    <li>grant reports</li>
    <li>images</li>
    <li>videos</li>
    <li>sound files</li>
    <li>books</li>
    <li>book chapters</li>
    <li>blog posts</li>
    <li>scripts</li>
    <li>presentations</li>
    <li>posters</li>
    <li>theses</li>
    <li>dissertations</li>
  </ul>
  <p>Alumni or former staff members (including retired staff members) can deposit research and scholarly outputs that they created during their time at Columbia.</p>
  <p>Works presented at Columbia events or in Columbia-based groups can be deposited in Academic Commons, even if the creator is not a Columbia affiliate.</p>
  <p>Contact Academic Commons staff at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> for more information.</p>

  <h3>What happens to materials deposited in Academic Commons?</h3>
  <ul>
    <li>They are backed up on disk, tape, and in real-time at an off-site storage location. </li>
    <li>They are cataloged to enable search and discovery on our website and in popular search engines. </li>
    <li>They are given a permanent URL to include in citations and bookmarks. </li>
    <li>They are made freely accessible online.</li>
  </ul>

  <h3>Is there a limit on what I can deposit?</h3>
  <p class="list_title">There is no overall limit on the number of items you can deposit, but we do have the following guidelines:</p>
  <ul>
    <li>Our self-deposit form cannot accept individual files of a size larger than 100 MB. If you have files larger than 100 MB to deposit, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> and we will arrange an alternative transfer method.</li>
    <li>Deposit of individual files up to 10 GB is free of charge, but there is a one-time fee of $5 per GB for individual files that are over 10 GB and up to 100 GB. This fee is payable at the time of deposit.</li>
  </ul>
  <p>If you would like to deposit individual files that are larger than 100 GB, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to discuss your needs.</p>

  <h3>What can't I deposit in Academic Commons?</h3>
  <p>Academic Commons is a repository for the outputs of research and scholarship produced at Columbia University and its affiliate institutions.</p>
  <p class="list_title">Some digital objects produced at Columbia and its affiliates are not eligible for deposit in Academic Commons. The following types of content are outside the scope of the collection:</p>
  <ul>
    <li>administrative records of units at Columbia or its affiliate institutions, such as newsletters or departmental bulletins;</li>
    <li>objects subject to HIPAA and other laws and policies related to private and confidential information;</li>
    <li>objects that cannot be openly available online;</li>
    <li>syllabi and other objects that were created for use in a specific classroom context (sometimes called "learning objects"). </li>
  </ul>
  <p>Contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you have questions.</p>

  <h3>Who can deposit in Academic Commons?</h3>
  <p>If you are a current student, faculty member, or staff member OR an alumnus, former faculty member, or former staff member of Columbia or one of its affiliate institutions (Barnard College, Teachers College, Union Theological Seminary, Jewish Theological Seminary), we invite you to deposit outputs of research and scholarship that you created while on campus.</p>
  <p>Also, anyone creating research or scholarly outputs for Columbia events or groups, or for publications that are hosted by Columbia or one of its affiliate institutions, may deposit those outputs in Academic Commons.</p>
  <p>Email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you have questions.</p>

  <h3>When can I expect to see my content in Academic Commons?</h3>
  <p>For individual deposits we aim to have your content live on the site within 1 week.</p>
  <p>If you have a pressing need to make your content available more quickly, however, please send us an email at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> and we will be happy to try and accommodate you.</p>

  <h3>Will you scan older files that are printed on paper?</h3>
  <p>If your department, center, or institute has a journal, or a series of working papers or reports, we can scan the print copies in order to create a complete digital record provided you commit to continue depositing with Academic Commons. For individuals, there are scanners and OCR software available in the <a href="http://library.columbia.edu/indiv/dhc.html">Digital Humanties Center</a> in room 305, Butler Library. The staff there can also provide training and other assistance.</p>

  <h3>Can I use Academic Commons to publish an electronic journal?</h3>
  <p>No, but you can archive your Columbia-affiliated journal in Academic Commons.</p>

  <h3>Can I make changes to an item once I've deposited it in Academic Commons?</h3>
  <p>With some rare exceptions, we do not change or replace items in the repository. We do archive new versions of a work while retaining the older versions, adding metadata that links between and provides details on the different versions.</p>
  <h3>Are items peer-reviewed before they go in Academic Commons?</h3>
  <p>No. Academic Commons is a repository, not a scholarly journal.  Our goal is to preserve and provide enhanced access to as much of the scholarly output of Columbia and its affiliates as possible, not to make editorial decisions about the relative merits of that scholarship.</p>

  <h3>I only want people at Columbia to view my work. Can you limit access to Academic Commons?</h3>
  <p>All content in Academic Commons is freely accessible to anyone online.  This fulfills Columbia University's mission to "advance knowledge and learning at the highest level and to convey the products of its efforts to the world." Works that cannot be openly shared online should not be deposited in Academic Commons. </p>

  <h3>Do you offer long-term preservation for content in Academic Commons?</h3>
  <p>The Columbia University Libraries are committed to the long-term preservation of the Academic Commons collection, as stated in our <a href="http://library.columbia.edu/about/policies/collection-development/general/preservation.html">Preservation Policy</a>.</p>
  <p>What this means in practice is that we will maintain, store, and return a digital object ingested in Academic Commons in its bit-by-bit original state as checked at the time of submission.</p>
  <p>In accordance with preservation best practices, we will migrate files in Academic Commons to new formats as needed, as long as the files are in a format that can be migrated. If we do migrate a file to a new format, we will maintain the original file as well.</p>

  <h3>Can I withdraw an item that I have deposited in Academic Commons?</h3>
  <p>We strongly discourage the withdrawal of items from Academic Commons. However, as our standard deposit agreement indicates, depositors can request that an item they deposited be removed from the repository. Though the item itself will be removed, its Academic Commons record will persist, with text explaining why the item was removed. The item will continue to be preserved in the Columbia University Libraries digital archives, subject to restricted access. Under certain circumstances, a request for complete withdrawal may be granted.</p>
  <p>Please note that dissertations deposited in Academic Commons to fulfill Columbia University Graduate School of Arts and Sciences degree requirements cannot be withdrawn from the repository.</p>

  <br/>

  <a id="copyright" class="anchor"></a>
  <h2>Copyright</h2>

  <h3>What can I do if I think someone has plagiarized my work which has been deposited in Academic Commons?</h3>
  <p class="list_title">Avoiding plagiarism is an ethical obligation, not a legal standard. If you suspect that your work has be plagiarized, you could do one of the following:</p>
  <ul>
    <li>Inquire with the person as to their use of your materials (e.g., do they believe they are following fair use guidelines?) and demand correction or credit as you deem appropriate.</li>
    <li>Report the matter to the appropriate authority, such as the disciplinary board at the person's academic or research institution, or the editor of the publication in which the material appeared.</li>
  </ul>
  <p>You can read more about plagiarism and academic honesty, and their enforcement, in the Columbia University <a href="http://www.college.columbia.edu/academics/integrity">Undergraduate Guide to Academic Integrity</a>.</p>
  <h3>I am the co-author of an article. Do I have to let my co-authors know that I am depositing in Academic Commons?</h3>
  <p>In a technical legal sense, each co-author is allowed to grant a nonexclusive license in the article.  This means that only one co-author needs to accept our <a href="http://academiccommons.columbia.edu/deposit/agreement_only">deposit agreement form</a> in order to deposit in Academic Commons.  However, we recommend discussing your intentions with your co-authors first, as a courtesy.  After all, your colleagues will probably want to know that their work is going to appear on our site so that they can include the link on their website and their CV!</p>

  <h3>The articles or books that reference my data are under copyright. Can I deposit those?</h3>
  <p>We can help you determine deposit eligibility. For items like books and book chapters, we will need to see the agreement you signed with the publisher. For articles, we use a free database called <a href="http://www.sherpa.ac.uk/romeo/search.php">SHERPA-RoMEO</a> that contains publishers archiving and deposit policies.</p>

  <h3>I think the publisher owns the copyright to my work. How do I know what I can deposit?</h3>
  <p>We can help you determine deposit eligibility. For items like books and book chapters, we will need to see the agreement you signed with the publisher. For articles, we use a free database called <a href="http://www.sherpa.ac.uk/romeo/search.php">SHERPA-RoMEO</a> that contains publishers archiving and deposit policies, although the author agreement you signed is also helpful. For more detailed information about copyright, please visit the Columbia University's <a href="https://copyright.columbia.edu/">Copyright Advisory Office website</a>.</p>

  <h3>How can I submit a notice of copyright infringement?</h3>
  <p>If you believe that you are the copyright owner of a work that is improperly included in Academic Commons, you may submit a notice of copyright infringement using the form here: <a href="http://academiccommons.columbia.edu/copyright_infringement_notice">http://academiccommons.columbia.edu/copyright_infringement_notice</a>.</p>
  <p>For general information about copyright, fair use, and permissions, please visit the Columbia University <a href="https://copyright.columbia.edu/">Copyright Advisory Office website</a>.</p>
  <p>If you have comments or questions about Academic Commons, please contact the Academic Commons staff at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

  <br/>

  <a id="faq-data" class="anchor"></a>
  <h2>Data</h2>

  <h3>Is there a copyright on data?</h3>
  <p>Not as such. Facts are not copyrightable. However, the design or structure of a database may be subject to copyright. We encourage you to consider using a <a target="_blank" href="http://creativecommons.org/">Creative Commons</a> license for your dataset to clarify how it can be reused. We can help you determine which Creative Commons license is most appropriate for your dataset; just send us an email at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

  <h3>I am collecting a huge amount of data that I am not ready to deposit yet, and I need to store it. What should I do?</h3>
  <p>First, contact the Academic Commons staff at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. Though we are not able to provide a substantive active storage solution at this time, CDRS can provide consultation, advice, and demos for an active storage solution that we use ourselves. Also, learning about your needs helps us develop new services. If CDRS cannot help you, we will refer you to CUMC IT or CUIT.</p>

  <h3>Can I deposit my data in Academic Commons?</h3>
  <p>Yes, you can deposit data, plus the articles they support, graphs and visualizations, and much more. </p>
  <p>Use our <a href="http://academiccommons.columbia.edu/deposit/">self-deposit form</a> to deposit files of up to 100 MB. For larger files, email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to make deposit arrangements.</p>
  <p>Deposit individual files of up to 10 GB at no charge. Deposit individual files of more than 10 GB and up to 100 GB for a one-time fee of $5 per GB. This fee is payable at the time of deposit.</p>
  <p>If you would like to deposit individual files that are larger than 100 GB, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to discuss your needs.</p>

  <h3>Can I deposit data that were generated using a dataset I obtained from another researcher or agency?</h3>
  <p>The copyright and IP status of data can be difficult to determine. If you have an agreement with a data source that restricts your use of the data, it is best to contact them directly to ask. Take a look at our <a href="http://academiccommons.columbia.edu/deposit/agreement_only">deposit agreement form</a> so that you can explain our terms to them. You might also want to check out the resources on the Columbia University <a href="https://copyright.columbia.edu/">Copyright Advisory Office website</a>.</p>

  <h3>Can I deposit data from human subject studies?</h3>
  <p>We can only deposit data that are HIPAA compliant. Please be sure your data does not contain any personal or otherwise sensitive information before depositing it. For more information on HIPAA, please visit the <a href="http://www.hhs.gov/hipaa/index.html">Health Information Privacy</a> website from the U.S. Department of Health and Human Services.</p>

  <h3>Can I deposit the data from my NSF-funded research in Academic Commons?</h3>
  <p>Absolutely! If you have NSF-funded research, please feel free to deposit your data with us.</p>
  <p>Note that we charge a one-time fee of $5 per GB for individual files that are over 10 GB and up to 100 GB. This fee is payable at the time of deposit.</p>
  <p>If you would like to deposit individual files that are larger than 100 GB, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to discuss your needs.</p>

  <h3>I have raw data, cleaned data, and publication data. Can I deposit all of it?</h3>
  <p>Yes, as long as it is in what you consider to be the final form of the file.  While you are at it, you might want to the deposit any computer code you created to process the data, too, since that will help ensure the reproducability of your results.</p>
  <p>Our <a href="http://academiccommons.columbia.edu/deposit">self-deposit form</a> accepts files up to 100 MB in size. If you have an individual file that is larger that 100 MB, please get in touch with us so we can discuss how to transfer and manage your data: <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>
  <p>Note that we charge a one-time fee of $5 per GB for individual files that are over 10 GB and up to 100 GB. This fee is payable at the time of deposit.</p>
  <p>If you would like to deposit individual files that are larger than 100 GB, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to discuss your needs.</p>

  <h3>Is there any way for me to control how my data will be used by others?</h3>
  <p>You give up a certain amount of control over materials that are made freely accessible online, and some data may not be appropriate for deposit into Academic Commons. However, you can clearly indicate how you want your data to be used with a <a href="http://creativecommons.org/">Creative Commons</a> license or by designating your data to be in the public domain.</p>

  <h3>Will depositing my data in Academic Commons fulfill the data-sharing requirement of my funding agency?</h3>
  <p>A growing number of research funders, including the NSF, the NIH, and the Wellcome Trust, require the dissemination and sharing of research results as part of the data management plan for research they sponsor. Depositing your data in Academic Commons may fulfill these requirements.</p>
  <p>To learn more about data management, please visit the Columbia University <a href="http://scholcomm.columbia.edu/">Scholarly Communication Program website</a>.</p>

  <h3>I've deposited my dataset in a discipline-based repository and my journal holds the publication data. Can I still deposit in Academic Commons?</h3>
  <p>While it depends on the agreements you have made with the journal and the other repository, you will likely be able to deposit in Academic Commons too. Please send us an email at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> and we will be happy to review your agreements with you.</p>

  <h3>I have old data from a project or study that concluded years ago. Can I deposit this?</h3>
  <p>Yes, as long as it is in a digital format. Please consider depositing any related materials, such as articles, too. You can email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> or use our <a href="http://academiccommons.columbia.edu/deposit">self-deposit form</a>.</p>

  <h3>My data are already preserved and posted on my lab's or center's website. Why should I deposit them in Academic Commons?</h3>
  <p class="list_title">There are a variety of reasons for depositing your data in Academic Commons, even if it is already available elsewhere online:</p>
  <ul>
    <li>We have a robust, long-term digital preservation strategy that includes multiple and off-site backups of all our content.</li>
    <li>We work hard to provide quality descriptions of all deposited content, ensuring that it is highly discoverable on our site and through popular search engines.</li>
    <li>We provide monthly usage reports for Columbia-affiliated depositors.</li>
    <li>Your work will appear alongside that of your peers and colleagues at Columbia, providing additional context and utility for users.</li>
  </ul>

  <h3>My data files are much bigger than 100 MB. What should I do?</h3>
  <p>Let's talk: <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. Our self-deposit form cannot accept files over 100 MB in size, but we can work out an alternative way to accept your data. It is especially crucial that we talk with you if you are planning to deposit data files in Academic Commons that are more than 100 GB in total.</p>
  <p>Note that we charge a one-time fee of $5 per GB for individual files of over 10 GB. This fee is payable at the time of deposit.</p>

  <h3>My data are just numbers. How are people going to find it in Academic Commons?</h3>
  <p>Great question! We need some context that only you can provide. At a minimum, we need a title, contact, date of collection, a short description of the study, and any limits on access: just use our <a href="http://academiccommons.columbia.edu/deposit">self-deposit form</a> and fill in the required fields there, or else send us an email at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> and we can start a conversation to learn more about your project.</p>

  <h3>I just started collecting data. Can I deposit the files incrementally?</h3>
  <p>No. Academic Commons is not an active storage solution: it is designed to preserve and enhance access to files that are in their final state. Please feel free to contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>, however, and hopefully we can help point you to an appropriate solution for your near-term needs.</p>

  <h3>How do I cite data I find in Academic Commons?</h3>
  <p class="list_title">To cite data that you find in Academic Commons, we suggest that you include the following:</p>
  <ul>
    <li>creator(s)</li>
    <li>date</li>
    <li>title</li>
    <li>version or edition (if any)</li>
    <li>permanent URL </li>
  </ul>
  <p>Here's an example formatted in two citation styles:</p>
  <h4>APA</h4>
  <p>Lackner, K. S., Brennan, S., Matter, J. M., Park, A.-H., Wright, A., &amp; Van Der Zwaan, B. (2012). Data from: The urgency of the development of CO2 capture from ambient air: Supporting information. Columbia University Academic Commons. <a href="http://hdl.handle.net/10022/AC:P:14702" target="_blank">http://hdl.handle.net/10022/AC:P:14702</a></p>
  <h4>MLA</h4>
  <p>Lackner, Klaus S., et al. The Urgency of the Development of CO2 Capture From Ambient Air: Supporting Information [Data file]. Columbia University Academic Commons [distributor], 2012. <a href="http://hdl.handle.net/10022/AC:P:14702" target="_blank">http://hdl.handle.net/10022/AC:P:14702</a></p>

  <h3>Can I deposit the data from my American Heart Association-funded research in Academic Commons?</h3>
  <p>Yes! If you have American Heart Association-funded research, you can deposit your data with us. Academic Commons is an approved data repository for AHA-funded Columbia researchers.</p>
  <p>Note that we charge a one-time fee of $5 per GB for individual files that are over 10 GB and up to 100 GB. This fee is payable at the time of deposit.</p>
  <p>If you would like to deposit individual files that are larger than 100 GB, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to discuss your needs.</p>

  <br/>

  <a id="dissertations-and-theses" class="anchor"></a>
  <h2>Dissertations and Theses</h2>

  <h3>How do I deposit my dissertation or thesis?</h3>
  <p>Since February of 2011, all dissertations for doctoral degrees awarded by Columbia's Graduate School of Arts and Sciences (GSAS) have been deposited in Academic Commons. Those students should use the <a href="http://gsas.columbia.edu/content/electronic-deposit-faqs?q=node/293">GSAS Deposit Gateway</a> to submit their completed dissertation. GSAS also has an <a href="http://gsas.columbia.edu/content/electronic-deposit-faqs">FAQ</a> on their site that addresses additional questions about their process.</p>
  <p>For current Master's and undergraduate students, check with your Graduate Director or Departmental Administrator first to see if your program already has an arrangement with us. For example, the Historic Preservation and Urban Planning Master's programs in the Graduate School of Architecture, Planning and Preservation (GSAPP) <a href="http://www.arch.columbia.edu/files/gsapp/imceshared/Digital_Thesis_Guidelines.pdf">encourage deposit</a> of Master's theses in Academic Commons.</p>
  <p>If your program does not require that you deposit your thesis in Academic Commons, you are welcome to use our <a href="http://academiccommons.columbia.edu/deposit">self-deposit form</a> to submit your thesis (and any other outputs of your research or scholarship, including articles, conference papers, and datasets).</p>
  <p>For alumni who graduated before February of 2011 and want to deposit their dissertation or thesis, please email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

  <h3>Can I deposit my dissertation if I graduated before 2011?</h3>
  <p>Yes, any and all graduates of Columbia University and its affiliates can deposit their dissertations and their theses in Academic Commons. If you are interested in taking advantage of this option, please send us a note at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. Just attach your dissertation file to the message, or, if you don't have it in digital format, let us know and we can help you track a copy down.&amp;</p>

  <h3>Who do I contact to change the embargo on my dissertation?</h3>
  <p>If you received your degree from the Graduate School of Arts and Sciences (GSAS) and requested a one- or two-year embargo (a period before your dissertation becomes available in Academic Commons), contact the GSAS Dissertation Office at <a href="mailto:dissertations@columbia.edu">dissertations@columbia.edu</a> to request any changes to the embargo. If you did not receive your doctorate through GSAS, contact the Academic Commons team at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

  <h3>My thesis discusses human subject studies. Can I deposit it?</h3>
  <p>We can only accept your thesis (or any other work) if it is HIPAA compliant. Please be sure you have obtained all necessary approvals from the appropriate Institutional Review Board. Also, please confirm that your thesis does not contain any personal or otherwise sensitive information before depositing it. For more information on HIPAA, please visit the website for the <a href="http://www.hhs.gov/ocr/privacy/">U.S. Department of Health and Human Services</a>.</p>

  <h3>Who holds the copyright to my dissertation or thesis?</h3>
  <p>As the creator of your dissertation or thesis, you hold the copyright to the work. However, some Columbia programs require "as a condition of awarding your degree" that you grant Columbia University a non-exclusive license to archive and make your dissertation or thesis available via Academic Commons. If you are not required to deposit in Academic Commons, you can do so voluntarily by using our <a href="http://academiccommons.columbia.edu/deposit">self-deposit form</a>.</p>

  <br/>

  <a id="file-format" class="anchor"></a>
  <h2 id="file-format">File Format</h2>

  <h3>What is the preferred file format in Academic Commons?</h3>
  <p>We will accept any file type you provide, but we cannot guarantee full preservation for all file types. This means we can guarantee the preservation of the bits that make up your files, but we cannot guarantee that the file itself will be usable in the future, since the format may not be supported.</p>
  <p>For information about specific file formats for preservation, please visit <a href="https://ecommons.cornell.edu/support.html#format">this page</a> from our colleagues at Cornell University's repository, eCommons.</p>

  <h3>Will you convert my deposited files into PDF (or some other format)?</h3>
  <p>No, as a general rule, we archive files in the format in which we receive them.  If you want your files to appear in a particular format, however, and are not sure how to convert them, please feel free to contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> for assistance.</p>

  <h3>Do you support video or audio as embedded links?</h3>
  <p>Currently, video and audio files in Academic Commons are only available for download and cannot be played directly on our website.  Please note that we never link to an online resource unless we can also archive the file itself in order to ensure its longevity.</p>

  <h3>Are items in Academic Commons machine readable?</h3>
  <p>Files in Academic Commons are stored in the format in which they are delivered to us, so we highly encourage contributors to deposit their work in machine-readable formats. Machine-readable files that are deposited in Academic Commons will remain machine readable. We enhance the machine readability of content in Academic Commons by providing a permanent URL, along with high-quality, machine-interpretable metadata for each item. </p>

  <br/>

  <a id="visibility" class="anchor"></a>
  <h2 id="visibility">Visibility</h2>

  <h3>What is the difference between a Handle and a DOI?</h3>
  <p>The <a href="http://www.handle.net/">Handle System</a> provides permanent identifiers for digital objects. The <a href="http://www.doi.org/index.html">Digital Object Identifier </a>(DOI) system is a specific implementation of the Handle System.</p>
  <p>For more information about DOIs and Handles, see <a href="http://www.doi.org/factsheets/DOIHandle.html">http://www.doi.org/factsheets/DOIHandle.html</a>.</p>

  <h3>What do you do to increase the visibility of my work?</h3>
  <p>Academic Commons is routinely crawled by popular search engines such as Google and Bing. We are continually upgrading the descriptive information on the site to enhance our ranking in search results; well over half of our visitors come directly from search engines, so we're pretty sure we're on the right track!  We also tweet about notable and timely content in our collection: you can follow us on Twitter <a href="http://twitter.com/#!/researchatcu">@ResearchatCU</a>.</p>

  <h3>What kind of usage statistics does Academic Commons collect?</h3>
  <p>Academic Commons records how many times a given item in the collection is viewed and downloaded.  That information is gathered in a monthly report for Columbia-affiliated authors.  In line with the best practices established by initiatives such as <a href="http://www.projectcounter.org/about.html">Project Counter</a>, we filter out visits from <a href="http://en.wikipedia.org/wiki/Web_crawler">Web robots</a> and repeat views and downloads from the same user in a limited time span.</p>

  <h3>Why are there two formats for permanent URLs in Academic Commons?</h3>
  <p>Objects that were cataloged in Academic Commons prior to November 13, 2013 have a <a href="http://www.handle.net/">Handle</a> as a permanent URL (with prefix http://hdl.handle.net). Objects cataloged after November 13, 2013 have a <a href="http://www.doi.org/index.html">Digital Object Identifier</a>, or DOI, as a permanent URL (with prefix http://dx.doi.org). Going forward, we commit to maintaining both Handles and DOIs in Academic Commons.</p>
  <p>If you are linking to content in Academic Commons, or citing it in a publication, we recommend that you use the Handle or DOI. For more information about DOIs and Handles, see <a href="http://www.doi.org/factsheets/DOIHandle.html">http://www.doi.org/factsheets/DOIHandle.html</a>.</p>

  <h3>How do I change the email address at which I receive monthly statistics reports?</h3>
  <p>If you have left Columbia but still want to receive monthly emails with usage statistics for your Academic Commons items, send an email to <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> asking us to forward your report to your new email address. Be sure to include your Columbia UNI in the email.</p>

  <h3>Why do usage statistics for my item show more downloads than views?</h3>
  <p>It is not unusual for downloads to outpace views for items in Academic Commons. This means that users are finding your item itself without passing through its Academic Commons item page. There are numerous ways this could happen. For example, web searches can lead directly to a file in Academic Commons, or another website or work may link to the file itself instead of the Academic Commons page describing the file.</p>

  <h3>Does Academic Commons provide in-line viewing of documents and videos?</h3>
  <p>We currently do not provide in-line viewing of documents or videos but are working to add this feature to Academic Commons. While there are a variety of ways to make different kinds of media viewable from within a browser, we have decided to focus on improving the discoverability of our content before we turn our attention to this issue in earnest.</p>
</div>
