<% title 'FAQ' %>

<% content_for :header do %>
  <h1>Frequently Asked Questions</h1>
<% end %>

<% content_for :sidebar do %>
  <ul class="anchor-links" id="sidebar">
      <li><%= link_to 'Policies', '#policies', class:'scroll' %></li>
      <li><%= link_to 'Managemanet of Academic Commons', '#manage', class:'scroll' %></li>
      <li><%= link_to 'Participation in Academic Commons', '#participation', class:'scroll' %></li>
      <li><%= link_to 'Featured Partners', '#featured-partners', class:'scroll' %></li>
      <li><%= link_to 'Data Storage', '#data-storage', class:'scroll' %></li>
      <li><%= link_to 'Uploading & Submitting', '#uploading', class:'scroll' %></li>
      <li><%= link_to 'Citing Works', '#citing', class:'scroll' %></li>
      <li><%= link_to 'Theses & Dissertations', '#theses', class:'scroll' %></li>
  </ul>
<% end %>

<h2 id="policies">Policies</h2>
<p>For information related to collection, terms of use, copyright, and data protection policies, please see our <%= link_to t('blacklight.header_links.policies'), policies_path %>.</p>

<h2 id="manage">Manage</h2>
<h3>Who manages Academic Commons?</h3>
<p>Academic Commons is a program of the <a href="https://library.columbia.edu/services/digital-scholarship.html">Digital Scholarship</a> unit in the Research and Learning Division of the <a href="https://library.columbia.edu/">Columbia University Libraries</a>. Digital Scholarship staff run the repository program in collaboration with colleagues from across the libraries. Key staff are listed on our <%= link_to t('blacklight.header_links.credits'), credits_path %> page.</p>

<h3>How do I contact repository staff?</h3>
<p>The best way to contact us is to email <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. We will do our best to respond within 48 hours.</p>

<h3>When can I expect to see my work in Academic Commons?</h3>
<p>Please allow approximately one week for cataloging. Email at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you have any questions or need to request faster processing. If you have a Columbia UNI you will receive an automatic email notification when your work is available in the repository.</p>

<h3>How does AC assign DOIs?</h3>
<p>Each work in Academic Commons is assigned a DIgital Object Identifier (DOI), which is a type of persistent URL. A sample DOI is: 10.7916/D8ZS2W8R. DOIs expressed as URLs look like this: <a href="https://doi.org/10.7916/D8ZS2W8R">https://doi.org/10.7916/D8ZS2W8R</a>. Use the DOI when citing or referring to a work in Academic Commons. Learn more about DOIs at <a href="http://www.doi.org/">doi.org</a>.</p>

<p>If you need a DOI for a work, such as a data set, and are under a short timeline, please contact <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> and staff will assist you with your request.</p>

<h3>How can I find out usage statistics for my work in AC?</h3>
<p>Authors with an active Columbia UNI can log in to Academic Commons and see current- month and lifetime views and downloads for each work on the My Works page. Authors with a UNI will also receive a monthly email showing the number of views and downloads for each of their works in Academic Commons. Contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you are not receiving our monthly emails.</p>

<h3>What does the cataloging process involve?</h3>
<p>When you upload a work, the file(s) and descriptive information you provide are placed in a queue for review by Libraries staff. As part of our review, we add descriptive metadata to make your work more discoverable. Records from Academic Commons are indexed in a variety of places, including <a href="https://clio.columbia.edu/">CLIO</a>, the Columbia University Libraries Catalog, and Google Scholar. Changes made in Academic Commons take some time to be reflected in other platforms, depending on their indexing schedule.</p>

<h3>How do you choose subjects for my work?</h3>
<p>We assign subjects using a controlled vocabulary called <a href="https://fast.oclc.org/searchfast/">Faceted Application of Subject Terminology (FAST)</a>. FAST subject terms are based on the Library of Congress' subject headings, providing a widely-recognized set of uniform subjects that connect your work with other scholarly resources.</p>
<p>We do our best to choose appropriate subjects for your work but we welcome your guidance. You can provide suggested subjects in the Notes field of the upload form or email us any time at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to provide feedback on the subjects we have assigned. Please note that the constraints imposed by the FAST vocabulary mean that suggested subjects may not show up verbatim in Academic Commons. If we can’t use the exact term you would like, we will refer to your suggestions to help us find the best match in the vocabulary. You can also search the <a href="https://fast.oclc.org/searchfast/">FAST vocabulary</a> and tell us which terms you would like us to use. We are always happy to receive this kind of feedback because it helps ensure that your research is described in a way that will make it the most discoverable for your colleagues and community.</p>

<h3>How can I report harmful language in Academic Commons resource descriptions [metadata]?</h3>
<p>We are committed to using respectful, accurate, and inclusive terminology in Academic Commons metadata, in alignment with Columbia University Libraries’ <a href="https://library.columbia.edu/about/policies.html">Statement on Inclusive Editing of Harmful Language in Library and Archival Collections</a>. This is an ongoing process. If you find harmful language on this website [in our metadata, in our resource descriptions], please email <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

<h3>Can I change my work after it has been uploaded to AC?</h3>
<p>Because people may be linking to or citing your work, we do not change or replace files that have already been made available in Academic Commons. However we can archive a new version of a work and create a link to its predecessors.</p>

<h3>Can I remove my work from AC?</h3>
<p>We strongly discourage the withdrawal of works from Academic Commons. However, you can request that public access to your work in Academic Commons be disabled. Though the work will no longer be publicly accessible, metadata about the work will remain available.</p>

<h3>Can Academic Commons provide campus-only access to my work?</h3>
<p>No. All content in Academic Commons is freely accessible to anyone online. Works that cannot be shared openly online should not be uploaded to Academic Commons. However, works can be embargoed (i.e., files are not available for download, though descriptive information is available) for a limited time. Theses and dissertations are the materials most frequently embargoed.</p>

<h3>How does Academic Commons provide long-term digital access?</h3>
<p>Academic Commons is part of the Columbia University Libraries long-term digital storage system, which ensures that files are replicated and stored in at least two distinct locations. We adhere to <a href="https://www.go-fair.org/fair-principles/">FAIR data principles</a> and use unique, persistent identifiers and rich metadata to enhance the accessibility of each work.</p>

<h3>How can I include Academic Commons in grant applications?</h3>
<p>Please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you would like to include Academic Commons in your grant application. You can use the information on our <%= link_to t('blacklight.header_links.about'), about_path %> page to describe the repository in your application. </p>

<h2 id="participation">Participation</h2>
<h3>Who can add content to Academic Commons?</h3>
<p>We accept research and scholarship from affiliates of Columbia University, Barnard College, Jewish Theological Seminary, Teachers College, and Union Theological Seminary. Specifically, eligible groups are:</p>
<ul>
  <li>Current faculty and staff</li>
  <li>Emeritus faculty</li>
  <li>Registered retired faculty</li>
  <li>Current students and alumni (must meet additional requirements; see the <%= link_to 'student works', '#student-works', class:'scroll' %> section below for more information.)</li>
  <li>Departments, centers, institutes, and programs</li>
</ul>

<h3>What types of work can I upload?</h3>
<p>We accept research and scholarship produced at Columbia University and its affiliate institutions, including the following types of work:</p>
<ul>
  <li>Journal articles</li>
  <li>Books and book chapters</li>
  <li>Working and technical papers</li>
  <li>Reports</li>
  <li>Data</li>
  <li>Software and code</li>
  <li>Videos (with caption files)</li>
  <li>Presentations</li>
  <li>Images</li>
  <li>Maps</li>
  <li>Theses (with program approval)</li>
  <li>Scholarly blog entries</li>
  <li>Podcast episodes</li>
  <li>And more!</li>
</ul>

<p>You must ensure you have the right to upload any given work. See the <a href="https://copyright.columbia.edu/">Columbia Copyright Advisory Services</a> website to learn more.</p>

<h3>Can I archive my journal in Academic Commons?</h3>
<p>Editorial boards of journals affiliated with Columbia University may be able to arrange to archive journal content in Academic Commons. Individual journal article authors must sign the <%= link_to 'Academic Commons Author Agreement', agreement_path %> or a similar agreement allowing for their work to be deposited in Academic Commons. Depositing work by high school students and people under the age of 18 is not permitted in Academic Commons. In the case of student journals, departmental approval is required before a journal may be archived in Academic Commons.</p>
<p>If you are interested in having a conversation about archiving a particular journal, please reach out to us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

<h3 id="student-works">What student works are included in Academic Commons?</h3>
<p>Current students may be encouraged or required by their degree programs to contribute their thesis or capstone project to Academic Commons. Some students may also be able to upload other research or scholarship with the approval of their department, program or faculty advisor. See below for details, and email <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to learn about any agreements your department or program may have with us concerning student work.</p>

<h4>Doctoral dissertations</h4>
<p>Most doctoral degree programs on campus deposit student dissertations to Academic Commons. Upload to ProQuest may also be required by some programs.</p>

<table class="table small">
  <tbody><tr>
    <th>School/Institution</th>
    <th>Degree</th>
    <th>Required upload to ProQuest and Academic Commons </th>
    <th>Optional upload to Academic Commons</th>
  </tr>
  <tr>
    <td>Columbia Graduate School of Arts and Sciences (GSAS)</td>
    <td class="center">Ph.D., D.M.A., J.S.D.</td>
    <td class="center">X</td>
    <td class="center"></td>
  </tr>
  <tr>
    <td>Mailman School of Public Health (GSAS administered)</td>
    <td class="center">Ph.D.</td>
    <td class="center">X</td>
    <td class="center"></td>
  </tr>
  <tr>
    <td>Mailman School of Public Health</td>
    <td class="center">Dr.P.H.</td>
    <td class="center">X</td>
    <td class="center"></td>
  </tr>
  <tr>
    <td>Teachers College (GSAS administered)</td>
    <td class="center">Ph.D.</td>
    <td class="center">X</td>
    <td class="center"></td>
  </tr>
  <tr>
    <td>Teachers College</td>
    <td class="center">Ed.D.</td>
    <td class="center">X</td>
    <td class="center"></td>
  </tr>
  <tr>
    <td>Union Theological Seminary</td>
    <td class="center">Ph.D.</td>
    <td class="center"></td>
    <td class="center">X</td>
  </tr>
</tbody></table>

<h4>Master’s and undergraduate theses</h4>
<p>Some Master’s and undergraduate programs offer students the option to upload their theses or capstone projects in Academic Commons. This may be done by a departmental administrator who collects student works and signed author agreements for delivery to Academic Commons, or students may be asked to use the Academic Commons self-upload form. Consult your program administrator or faculty advisor for specific program policies.</p>

<h4>Alumni theses</h4>
<p>Graduates of Columbia University and its affiliates can upload their dissertation or thesis in Academic Commons with approval from the degree-granting program. Contact the administrator of your degree program to request permission to upload.</p>

<h4>Other student works</h4>
<p>If you are a student and want to upload other types of research or scholarship  in Academic Commons, you must obtain approval from the appropriate degree program, department, or faculty advisor. Contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to learn more.</p>

<h4>Thesis and dissertation embargoes</h4>
<p>If your degree program requires or encourages you to upload your thesis to Academic Commons, you may have the option of placing an embargo on your thesis. An embargo is a limited period of time during which your thesis is not publicly available. During the embargo period, descriptive information about the work is publicly accessible in Academic Commons and in CLIO, the Columbia Libraries catalog, but the thesis itself is not available. Embargo options vary by program and students should consult their degree program’s policies for more information.</p>

<h3>How can I request an embargo, or an embargo extension, on my thesis or dissertation?</h3>
<p>If you wish to make changes to the length of the embargo on your thesis or dissertation in Academic Commons, contact the degree-program administrator with your request. If the request is approved, the program administrator will contact Academic Commons staff. If you are not sure to whom you should direct your request, contact Academic Commons at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>
<ul>
    <li>Graduates of doctoral programs administered by the Columbia Graduate School of Arts and Sciences should submit their request to the Dissertation Office at <a href="mailto:gsas-dissertations@columbia.edu">gsas-dissertations@columbia.edu</a>.</li>
    <li>If you also uploaded a thesis or dissertation to ProQuest you must contact ProQuest directly to request changes to the availability of your work in the ProQuest Dissertation and Theses databases. Contact ProQuest at <a href="mailto:disspub@proquest.com">disspub@proquest.com</a>.</li>
</ul>

<h2 id="featured-partners">Featured Partners</h2>
<h3>Become an Academic Commons featured partner</h3>
<p>Any department, program, center, research unit, or school associated with Columbia University or its affiliates can be an Academic Commons Featured Partner. If you are interested in a partnership, please <a href="https://forms.gle/NAQToym1bcDQtueQ8">fill out our interest form</a> or email <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. To see the work of our current partners, visit our <%= link_to 'Featured Partners', collection_path(category_id: 'featured') %> page.</p>

<h3>What we need from featured partners</h3>
<ul>
  <li>A signed memorandum of understanding (MOU);</li>
  <li>A regular contact person;</li>
  <li>Willingness to work with repository staff on workflows and presentation of partner research in the repository;</li>
  <li>Participation in discussions, surveys and testing related to planning and implementing new repository functionality;</li> 
  <li>Your logo and a brief description of your unit.</li>
</ul>

<h3>What we provide to featured partners</h3>
<ul>
  <li>Your logo and description appear on our partners page and in some search results;</li>
  <li>Semiannual statistics reports for your group’s works in the repository;</li>
  <li>Custom statistics reports upon request;</li>
  <li>A regular relationship with Columbia Libraries staff who can consult on how to increase the visibility of your group’s research.</li>
</ul>

<p>We do not require that featured partners will make contributions to the repository on a particular schedule. We welcome featured partners who are interested in how Academic Commons can help increase the impact of their research and who will provide us with feedback on their experiences with, and ideas for, the repository.</p>

<h2 id="data-storage">Data Storage</h2>
<h3>Can I use Academic Commons as the data repository for my research data?</h3>
<p>Academic Commons is committed to making research data as Findable, Accessible, Interoperable, and Reusable as possible, in accordance with the <a href="https://www.go-fair.org/fair-principles/">FAIR Principles</a>. However, Academic Commons is not a dedicated data repository, nor do staff curate submissions.</p>
<p>We are happy to discuss how Academic Commons or another repository can meet your data sharing needs. Please note that in the case of funded research, funders may have specific requirements for the repositories to which you submit. For larger datasets (over 10GB) Academic Commons is not appropriate. Consider the <a href="https://dataplatform.cuit.columbia.edu/">Columbia Data Platform</a>.</p>
<p>If you are considering Academic Commons for your research data, we strongly encourage you to contact us when you are planning your project. Email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. Note: Academic Commons does not accept data that includes personally identifiable information for human subjects.</p>

<h3>Are there other data repositories for me to use to share my data?</h3>
<p>Yes. There are numerous data platforms that may be appropriate repositories for your data. Disciplinary repositories, when available, often have the best tools for describing your data. A few repositories that you may wish to explore are <a href="https://www.icpsr.umich.edu/web/pages/">ICPSR</a> (social and behavioral research), <a href="https://ropercenter.cornell.edu/">Roper</a> (public opinion data), <a href="https://zenodo.org/">Zenodo</a> (a general data repository), <a href="https://datadryad.org/stash">Dryad</a> (a general data repository), and <a href="https://data.qdr.syr.edu/"QDR</a> (qualitative data in the social sciences). Columbia also provides the <a href="https://dataplatform.cuit.columbia.edu/">Columbia Data Platform</a> for storing and working with data, and the Office of the Executive Vice President for Research (EVPR) provides a page listing <a href="https://research.columbia.edu/content/research-data-storage">places where Columbia researchers can share their data</a>.</p>

<h2 id="uploading">Guidelines for uploading and submitting work to AC</h2>
<h3>Is there a fee for uploading research to Academic Commons?</h3>
<p>Members of the Columbia University community can upload their work to Academic Commons at no cost.</p>

<h3>What is the Academic Commons participation agreement?</h3>
<p>Before you can upload work to Academic Commons, you must sign an agreement that grants Columbia University a non-exclusive license to distribute your work in the repository. By signing the agreement, you affirm that you hold sufficient rights to grant this license to Columbia.</p>
<ul>
    <li>Read our <%= link_to 'copyright information', policies_path(anchor: 'copyright') %> to learn more.</li>
    <li>Read about managing your copyrights on the <a href="https://copyright.columbia.edu/">Copyright Advisory Services website</a>.</li>
</ul>

<p>To sign, <%= render :partial=>'shared/log_in_link' %> to Academic Commons and select My Account from the dropdown menu under your name, then follow the instructions at the top of the page. You only need to sign the agreement once, but your consent will apply to any material you upload.</p>

<h3>How do I upload my work?</h3>

<h4>If you have a Columbia UNI</h4>
<p><%= render :partial=>'shared/log_in_link' %> to Academic Commons with your Columbia UNI and password, then navigate to the Add New Work tab and follow the instructions.</p>

<h4>If you do not have a Columbia UNI</h4>
<p>Email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. Tell us about your work and how it meets our guidelines for participation.</p>

<h3>Making deposits on behalf of someone else</h3>
<p>If you are interested in making recurrent deposits on behalf of a department or publisher, please see our <%= link_to 'resources for developers', developers_path(anchor: 'sword') %> and contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

<h3>Upload form size limits</h3>
<p>You can use the upload form to upload files up to 100MB in size. If you have files larger than 100MB, contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> and we will arrange an alternative method of transfer.</p>

<h3>Files size</h3>
<p>Academic Commons provides the best user experience when files can be easily downloaded via a web browser. If you have files to share that are multiple gigabytes in size, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. If you have large data files, consider using Dryad (see the <%= link_to 'Data Storage FAQ', '#data-storage', class:'scroll' %> above).</p>
    
<h3>File types</h3>
<p>Our system can support most file formats/types. However, please remember that your work will be more useful to others if you provide it in a format that is either non-proprietary or widely used. As a general rule, we archive files in the format in which we receive them. Note that we do not accept file formats that are redirects to web pages, such as Google Docs (.gdoc) or related G-Suite file formats.</p>
<p>See <%= link_to 'our accessibility guidelines', '#accessibility', class:'scroll' %> for accessibility requirements related to uploads.</p>

<h3>Are works peer-reviewed before they go in Academic Commons?</h3>
<p>No. We do not make editorial decisions about content in the repository. However we do have guidelines for the types of content that are eligible for upload. See the <%= link_to 'participation', '#participation', class:'scroll' %> section, above, for more information.</p>

<h3>Can I put my previously published work into Academic Commons? Why should I?</h3>
<p>The publication agreements you have signed determine how you can add previously published work to Academic Commons. Check the language in your publication agreements as well as journal and/or publisher policies. The <a href="https://v2.sherpa.ac.uk/romeo/">Sherpa/Romeo</a> database has information about the “author self-archiving” policies of a large number of journals and publishers.</p>
<p>Uploading a version of your previously published works to Academic Commons allows you to create an open version that may not be accessible to colleagues and students at other institutions or to policy makers and practitioners. You are also building an archive of your work to which you can refer others.</p>
<p>If you have questions about uploading your previously published work, contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. For more information on copyright and your work, visit the <a href="https://copyright.columbia.edu/">Columbia Libraries Copyright Advisory Services website</a>.</p>

<h3>Is there a limit to the number of works I can upload?</h3>
<p>There is no limit on the number of works you can upload.</p>

<h3>I have a lot of works to upload. What’s the best approach?</h3>
<p>If you have a large number of works to upload, please make sure you have signed our participation agreement by logging in to Academic Commons and following the prompts. Then, email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> so we can determine the best delivery method for your materials.</p>

<h3>I have research outputs that are audio and video files. How do I add these to AC?</h3>
<p>You can upload audio and video files to Academic Commons in the same way you would upload text files. These files may be too large for our upload form (which has a 100MB limit), so email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> to discuss how to transfer the files. The Academic Commons media player streams audiovisual materials in the repository and allows the files to be embedded in other websites.</p>
<p>See <%= link_to 'our accessibility guidelines', '#accessibility', class:'scroll' %> for accessibility requirements related to video uploads.</p>
<p>Please note that Columbia University now requires that captions be included with video files. Captions must be included as a separate file, and not burned into the video file. This allows for better accessibility. We prefer captions in <a href="https://www.w3.org/TR/webvtt/">WebVTT format</a> if possible. Guidelines and resources for creating video captions are still being developed. Please contact <a href="https://health.columbia.edu/content/disability-services">Columbia Disability Services</a> to find out more about how to caption your videos. Email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you have questions about this process.</p>

<h3>Can I use Academic Commons to host the streaming media for my website project?</h3>
<p>Academic Commons provides access to research and scholarship produced at Columbia University primarily via file downloads, though we also offer streaming functionality for audio and video files on our website. We may support approved, set-term web projects by hosting embedded streaming media, but you should not depend on Academic Commons as the host site for your project's embedded streaming media unless you have consulted with Libraries staff and agreed on specific parameters for your use of the repository. Please email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you have any questions about this policy in relation to your project.</p>

<h3 id="accessibility">What do I have to know about accessibility, regarding my deposit?</h3>
<h4>Video</h4>
<p>Please note that Columbia University requires that captions be included with video files. Captions must be included as a separate file, and not burned into the video file. This allows for better accessibility. We prefer captions in <a href="https://www.w3.org/TR/webvtt/">WebVTT format</a> if possible. Guidelines and resources for creating video captions are still being developed. Please contact <a href="https://health.columbia.edu/content/disability-services">Columbia Disability Services</a> to find out more about how to caption your videos. Email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you have questions about this process.</p>

<h4>Audio</h4>
<p>Columbia University requires that transcripts accompany audio deposits. Here is some <a href="https://www.w3.org/WAI/media/av/transcripts/">information from W3C</a> regarding the creation of accessible transcripts. Academic Commons can accommodate transcripts in many different formats, and also supports timed captions (VTT) for audio files. </p>

<h4>Text</h4>
<p>For accessibility purposes, if you have multiple galleys for a text-based upload (such as both a PDF and EPUB for a journal article or book chapter) please include all of these files in your upload. Documents such as EPUBS are often more accessible to screen readers than .pdfs, which mimic more traditional printed documents. You can read more about .epub accessibility <a href="https://www.w3.org/TR/epub-a11y-tech-11/">here</a>. <a href="https://accessibility.columbia.edu/content/making-documents-accessible">Here is some additional guidance</a> about making documents more accessible.</p>

<h2 id="citing">Citing Work</h2>
<h3>How do I cite works in Academic Commons?</h3>
<p>We recommend using the DOI in the Academic Commons metadata record when citing a work or directing someone to it. The DOI is available under the "Download" button at the top of each record. The DOI is a persistent link which will take users to information about a work even if the repository URL changes or the files are removed.</p>
<p>Cite works in Academic Commons using your preferred citation style and following the general format:</p>
<p>Creator(s) name. Date. Title. Accessed in Columbia Academic Commons on [DATE]. DOI.</p>

<h3>Why does my work have more downloads than views?</h3>
<p>This indicates that users have found the download link for the file (in an article, post, or search result). This link is different from the link to the repository metadata record for your work. Users can access a work from the metadata record, but they can also download the work directly if they have the download link. Visits to the metadata record are recorded as "views" in our statistics. Clicks on download links are recorded as "downloads."</p>

<h2 id="theses">Theses &amp; Dissertations</h2>

<h3>Does Academic Commons hold all Columbia dissertations?</h3>
<p>No. Academic Commons holds a copy of all Columbia dissertations written as part of a Ph.D., D.M.A., J.S.D., or Dr.P.H. program starting in 2011. The repository also holds dissertations written as part of the Teachers College Ed.D. program starting in 2011. In addition, Academic Commons holds some earlier dissertations uploaded by authors who wished to make their work openly available online. You can do a comprehensive search for all Columbia dissertations—including those in Academic Commons—using the Columbia University Libraries catalog <a href="https://clio.columbia.edu/">CLIO</a>.</p>

<h3>How did my dissertation or thesis get added to Academic Commons?</h3>
<p>Academic Commons has been the repository of record for all dissertations written by students at Columbia University as part of a Ph.D., D.M.A., J.S.D., or Dr.P.H. since 2011, and for Ed.D. programs since 2018. Dissertations are sent to Academic Commons by the Graduate School of Arts and Sciences, Mailman School of Public Health, and Teachers College, who receive the final, approved versions from students.</p>
<p>Not all masters and undergraduate theses are in Academic Commons. Certain programs (e.g. Urban Planning and Historic Preservation) have agreements with the Libraries to publish student theses on a regular basis (with approval from the students). Some of these programs collect theses and send them to Academic Commons staff in batches, while others have their students use the Academic Commons self-upload form. If you have any questions about how your thesis was added to Academic Commons, you can contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

<h3>How can I request an embargo, or an embargo extension, on my thesis or dissertation?</h3>
<p>See the section about <%= link_to 'student works', '#student-works', class:'scroll' %> above for more information.</p>

<h3>How can I access a copy of a thesis or dissertation under embargo?</h3>
<p>Contact the author of the work to request access. If you are unable to find contact information for the author online, try contacting the author’s Columbia school or department to see if they can help.</p>
