<div id="static-text">

  <div class="page-title">
    <div class="container">
      <h1>FAQ</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <ul class="anchor-links" id="sidebar-fixed">
         <li><%= link_to 'Deposit', '#deposit' %></li>
         <li><%= link_to 'Manage', '#manage' %></li>
         <li><%= link_to 'Copyright', '#copyright' %></li>
         <li><%= link_to 'Theses', '#theses' %></li>
       </ul>
      </div>

      <div class="col-md-10" id="main-content">

        <h2 id="deposit">Deposit</h2>

        <h3>Who can deposit works in Academic Commons?</h3>
        <p>We accept deposits of research and scholarship produced at Columbia University from affiliates of Columbia University, Barnard College, Jewish Theological Seminary, Teachers College, and Union Theological Seminary. Specifically, eligible groups are:</p>

        <ul>
          <li>Current faculty and staff</li>
          <li>Emeritus faculty</li>
          <li>Retired faculty (still in directory?)</li>
          <li>Departments, centers, institutes, and programs</li>
          <li>Students can deposit works that meet specific requirements. Some degree programs encourage or require students to deposit their thesis or capstone project in Academic Commons.</li> <li>Students may also be able to deposit other work. For more information, see our <%= link_to 'Deposit Policies', '/policies/' %>.</li>
        </ul>

        <h3>What types of work can I deposit?</h3>
        <p>We accept the results of research and scholarship produced at Columbia University and its affiliates. Types of works we accept include the following. Note: You must ensure you have sufficient rights to deposit a work. See the Columbia Copyright Advisory Services website [LINK to https://copyright.columbia.edu/] to learn more.</p>

        <ul>
          <li>Journal articles</li>
          <li>Books and book chapters</li>
          <li>Working and technical papers</li>
          <li>Reports</li>
          <li>Data</li>
          <li>Software and code</li>
          <li>Presentations</li>
          <li>Images</li>
          <li>Maps</li>
          <li>Theses (with program approval)</li>
          <li>And more!</li>
        </ul>

        <h3>How do I deposit my work?</h3>
        <p>Use our self-deposit form. You can also email your work directly to us at acdeposit@columbia.edu.</p>

        <h3>Is there a limit to the number of works I can deposit?</h3>
        <p>There is no limit on the number of works you can deposit.</p>

        <h3>Is there a limit to the size of the files I can deposit?</h3>
        <p>There are file size guidelines: Our self-deposit form cannot accept individual files of a size larger than 100 MB. If you have files larger than 100 MB to deposit, please contact us at ac@columbia.edu and we will arrange an alternative transfer method.</p>

        <h3>Is there a fee for deposit?</h3>
        <p>Deposit of individual files up to 10 GB is free of charge, but there is a one-time fee of $5 per GB for individual files that are over 10 GB and up to 100 GB. This fee is payable at the time of deposit. If you would like to deposit individual files that are larger than 100 GB, please contact us at ac@columbia.edu to discuss your needs.</p>

        <h3>Which file types do you accept?</h3>
        <p>We don’t have any restrictions on file type. As a general rule, we archive files in the format in which we receive them.</p>

        <h3>My research involves human subjects. Can I deposit the results?</h3>
        <p>We can accept works resulting from human subjects research as long as the authors protect the privacy and confidentiality of study participants in compliance with IRB and HIPAA requirements. Works that cannot be shared openly online because of privacy, confidentiality, patent or copyright issues should not be deposited in Academic Commons.</p>

        <h2 id="manage">Manage</h2>

        <h3>When can I expect to see my work in Academic Commons?</h3>
        <p>Please allow approximately one week for cataloging. If you need your work available sooner,  send us an email at ac@columbia.edu and we will try to accommodate you.</p>

        <h3>Are works peer-reviewed before they go in Academic Commons?</h3>
        <p>No. We do not make editorial decisions about content in the repository. However we do have guidelines for the types of content that are eligible for deposit. See our deposit policies for more information.</p>

        <h3>Can Academic Commons provide campus-only access to my work?</h3>
        <p>No. All content in Academic Commons is freely accessible to anyone online. Works that cannot be shared openly online should not be deposited in Academic Commons. However, works can be embargoed (files are not available for download, though descriptive information is available) for a limited time.</p>

        <h3>What is a DOI?</h3>
        <p>A Digital Object Identifier (DOI) is a unique, persistent identifier for a research object. It can be expressed as a persistent URL that resolves to a web page providing access to the object or to information about the object. Learn about DOIs at http://www.doi.org/.</p>

        <h3>How do I change the email address where I receive my monthly statistics reports?</h3>
        <p>Contact us at ac@columbia.edu and provide your new email address.</p>

        <h2 id="copyright">Copyright</h2>

        <h3>Are works in Academic Commons under copyright?</h3>
        <p>Most works in Academic Commons are under copyright. See our Copyright information [LINK to Copyright info page] to learn more.</p>

        <h3>How do I report a possible copyright violation?</h3>
        <p>If you believe that the inclusion of a work in Academic Commons is in violation of your copyright, you may submit a notice of copyright infringement to Columbia University. See the Columbia University copyright page here: https://www.columbia.edu/content/copyright.</p>

        <h2 id="theses">Theses</h2>

        <h3>Does Academic Commons hold all Columbia dissertations?</h3>
        <p>No. Academic Commons hold a copy of all Columbia dissertations written as part of a Ph.D., D.M.A., J.S.D., or Dr.P.H. program starting in 2011. The repository also holds dissertations written as part of the Teachers College Ed.D. program starting in 2011. In addition, Academic Commons holds some earlier dissertations deposited by authors who wished to make their work openly available online. You can do a comprehensive search for all Columbia dissertations in the Columbia University Libraries catalog CLIO [LINK to https://clio.columbia.edu/].</p>

        <h3>How do I extend the embargo on my thesis or dissertation?</h3>
        <p>Contact the degree-program administrator explaining the length of the extension you want and the reason for your request. If the request is approved, the program administrator will direct Academic Commons staff to change the embargo.</p>

      </div><!--.main-content-->

    </div><!--.row-->
  </div><!--.container-->

</div><!--#static-text-->
