<div id="static-text">

  <div class="page-title">
    <div class="container">
      <h1>Frequently Asked Questions</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <ul class="anchor-links" id="sidebar">
         <li><%= link_to 'Deposit', '#deposit', class:'scroll' %></li>
         <li><%= link_to 'Manage', '#manage', class:'scroll' %></li>
         <li><%= link_to 'Copyright', '#copyright', class:'scroll' %></li>
         <li><%= link_to 'Theses', '#theses', class:'scroll' %></li>
       </ul>
      </div>

      <div class="col-md-10" id="main-content">

        <h2 id="deposit">Deposit</h2>

        <h3>Who can deposit works in Academic Commons?</h3>
        <p>We accept deposits of research and scholarship produced at Columbia University from affiliates of Columbia University, Barnard College, Jewish Theological Seminary, Teachers College, and Union Theological Seminary. Specifically, eligible groups are:</p>

        <ul>
          <li>Current faculty and staff</li>
          <li>Emeritus faculty</li>
          <li>Retired faculty (still in directory?)</li>
          <li>Departments, centers, institutes, and programs</li>
          <li>Students can deposit works that meet specific requirements. Some degree programs encourage or require students to deposit their thesis or capstone project in Academic Commons.</li> <li>Students may also be able to deposit other work. </li>
        </ul>

        <p>For more information, see our <%= link_to 'Deposit Policies', '/policies/' %>.</p>

        <h3>What types of work can I deposit?</h3>
        <p>We accept the results of research and scholarship produced at Columbia University and its affiliates. Types of works we accept include the following.<p>

        <ul>
          <li>Journal articles</li>
          <li>Books and book chapters</li>
          <li>Working and technical papers</li>
          <li>Reports</li>
          <li>Data</li>
          <li>Software and code</li>
          <li>Presentations</li>
          <li>Images</li>
          <li>Maps</li>
          <li>Theses (with program approval)</li>
          <li>And more!</li>
        </ul>

        <p>Note: You must ensure you have sufficient rights to deposit a work. See the <a href="https://copyright.columbia.edu/">Columbia Copyright Advisory Services</a> website to learn more.</p>

        <h3>How do I deposit my work?</h3>
        <p>Members of the Columbia community with a UNI can log in to Academic Commons and follow deposit directions. If you don’t have a UNI or are inquiring about making a proxy deposit for another Columbia user, email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

        <h3>Is there a limit to the number of works I can deposit?</h3>
        <p>There is no limit on the number of works you can deposit.</p>

        <h3>Is there a file size limit?</h3>
        <p>Our deposit form cannot accept individual files of a size larger than 100 MB. If you have files larger than 100 MB to deposit, please contact us at ac@columbia.edu and we will arrange an alternative transfer method.</p>

        <h3>Is there a fee for deposit?</h3>
        <p>Deposit of individual files up to 10 GB is free of charge, but there is a one-time fee of $5 per GB for individual files that are over 10 GB and up to 100 GB. This fee is payable at the time of deposit. If you would like to deposit individual files that are larger than 100 GB, please contact us at ac@columbia.edu to discuss your needs.</p>

        <h3>Which file types do you accept?</h3>
        <p>We don’t have any restrictions on file type. As a general rule, we archive files in the format in which we receive them.</p>

        <h3>Can I deposit work that includes private or confidential information?</h3>
        <p>Authors must verify that they have complied with the privacy and confidentiality requirements of the relevant IRB, and of HIPAA, for any research involving human subjects. Works that cannot be shared openly online because of privacy, confidentiality, patent or copyright issues should not be deposited in Academic Commons.</p>

        <h2 id="manage">Manage</h2>

        <h3>When can I expect to see my work in Academic Commons?</h3>
        <p>Please allow approximately one week for cataloging. If you need your work available sooner,  send us an email at ac@columbia.edu and we will try to accommodate you.</p>

        <h3>Are works peer-reviewed before they go in Academic Commons?</h3>
        <p>No. We do not make editorial decisions about content in the repository. However we do have guidelines for the types of content that are eligible for deposit. See our <a href="/policies/">deposit policies</a> for more information.</p>

        <h3>Can Academic Commons provide campus-only access to my work?</h3>
        <p>No. All content in Academic Commons is freely accessible to anyone online. Works that cannot be shared openly online should not be deposited in Academic Commons. However, works can be embargoed (i.e., files are not available for download, though descriptive information is available) for a limited time.</p>

        <h3>What is a DOI?</h3>
        <p>Each work in Academic Commons is assigned a DIgital Object Identifier (DOI), which is a type of persistent URL. A sample DOI is: 10.7916/D8ZS2W8R. DOIs expressed as URLs look like this: https://doi.org/10.7916/D8ZS2W8R. Use the DOI when citing or referring to a work in Academic Commons. Learn more about DOIs at <a href="http://www.doi.org/">http://www.doi.org/</a>.</p>

        <h3>How do I change the email address where I receive my monthly statistics reports?</h3>
        <p>Contact us at ac@columbia.edu and provide your new email address.</p>

        <h2 id="copyright">Copyright</h2>

        <h3>Are works in Academic Commons under copyright?</h3>
        <p>Most works in Academic Commons are under copyright. See our <a href="/policies#copyright">copyright policy</a> to learn more.</p>

        <h3>How do I report a possible copyright violation?</h3>
        <p>If you believe that the inclusion of a work in Academic Commons is in violation of your copyright, you may submit a notice of copyright infringement to Columbia University. See the Columbia University copyright page here: <a href="https://www.columbia.edu/content/copyright">https://www.columbia.edu/content/copyright</a>.</p>

        <h2 id="theses">Theses</h2>

        <h3>Does Academic Commons hold all Columbia dissertations?</h3>
        <p>No. Academic Commons holds a copy of all Columbia dissertations written as part of a Ph.D., D.M.A., J.S.D., or Dr.P.H. program starting in 2011. The repository also holds dissertations written as part of the Teachers College Ed.D. program starting in 2011. In addition, Academic Commons holds some earlier dissertations deposited by authors who wished to make their work openly available online. You can do a comprehensive search for all Columbia dissertations--including those in Academic Commons--using the Columbia University Libraries catalog <a href="https://clio.columbia.edu/">CLIO</a>.</p>

        <h3>Can I extend the embargo on my thesis or dissertation?</h3>
        <p>Contact your degree-program administrator and explain the reason for the embargo extension and the amount of additional time you are requesting. If your request is approved, the administrator will direct Academic Commons staff to extend the embargo on your thesis or dissertation. </p>
        <p>Columbia Graduate School of Arts and Sciences alumni should email <a href="mailto:dissertations@columbia.edu">dissertations@columbia.edu</a>.</p>

      </div><!--.main-content-->

    </div><!--.row-->
  </div><!--.container-->

</div><!--#static-text-->
