<div id="static-text">

  <div class="page-title">
    <div class="container">
      <h1>Policies</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-2" id="fixed-sidebar">
        <ul class="anchor-links" id="sidebar">
         <li><%= link_to 'Deposit', '#deposit' %></li>
         <li><%= link_to 'Terms of Use', '#terms-of-use' %></li>
         <li><%= link_to 'Copyright', '#copyright' %></li>
         <li><%= link_to 'Privacy', '#privacy' %></li>
       </ul>
      </div>

      <div class="col-md-10" id="main-content">

        <h2 id="deposit">Deposit</h2>

        <h3>Who can deposit</h3>

        <p>We accept deposits from affiliates of Columbia University, Barnard College, Jewish Theological Seminary, Teachers College, and Union Theological Seminary.</p>

        <ul>
          <li>Current faculty and staff</li>
          <li>Emeritus faculty</li>
          <li>Retired faculty (still in directory?)</li>
          <li>Departments, centers, and programs</li>
          <li>Some degree programs encourage or require students to deposit their thesis or capstone project in Academic Commons. Students may also be able to deposit other work. For more information, see the section on student works, below.</li>
        </ul>

        <h3>Eligible content</h3>

        <h4>Results of research and scholarship</h4>
        <p>Academic Commons accepts the digital results of research and scholarship created at Columbia and its affiliate institutions.</p>

        <h4>Deposit agreement</h4>
        <p>Depositors must confirm that they have sufficient rights to deposit the work in Academic Commons. As part of the deposit process, authors/creators agree to grant Columbia University a non-exclusive license to distribute their work in Academic Commons. By signing this agreement, authors affirm that they hold sufficient rights to grant this license.</p>

        <ul>
          <li>Read our copyright information to learn more.</li>
          <li>Read about managing copyrights to your work by visiting the Copyright Advisory Office website.</li>
        </ul>

        <h4>Shareable “as is”</h4>
        <p>We expect that the work you deposit is ready to share online “as is.” If you create a new version of the work at a later date, you can deposit the new version as well. We will retain both versions and create links between them in repository metadata.</p>

        <h4>Protects privacy and confidentiality</h4>
        <p>Deposited works must be in compliance with all relevant federal, state, and institutional policies and guidelines regarding the protection of privacy and confidentiality of human subjects. Works that should not be openly available online should not be deposited in Academic Commons.</p>

        <h3>File formats</h3>

        <h4>All file types accepted</h4>
        <p>We accept any type of file, though we encourage depositors to use formats which are non-proprietary and can be opened and used in a variety of platforms and applications (for example, a csv file is preferable to one in Excel).</p>

        <h4>Files larger than 100MB</h4>
        Our self-deposit form accepts individual files up to 100MB. If you have larger files to deposit, contact us and we will arrange an alternative method of transfer.

        <h4>Deposit fee for files over 10GB</h4>
        You can deposit individual files up to 10GB free of charge. There is a one-time fee of $5 per GB for individual files that are over 10GB and up to 100GB in size. This fee is payable at the time of deposit. If you have individual files larger than 100GB, please contact us.

        <h3>How to deposit</h3>

        <h4>Self-deposit form</h4>
        <p>Our <a href="/deposit/">self-deposit form</a> is appropriate if you:</p>

        <ul>
          <li>are a member of the faculty or staff.</li>
          <li>are depositing a file up to 100MB in size</li>
          <li>can easily describe your work by filling in title, author, and abstract information.</li>
        </ul>

        <h4>Email us</h4>
        <p>Contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you:</p>

        <ul>
          <li>have questions.</li>
          <li>wish to deposit a large number of files at once.</li>
          <li>are making a proxy deposit.</li>
          <li>wish to arrange for an ongoing deposit of works such as student theses or working papers.</li>
        </ul>

        <p>Please note that authors who submit items by email will also be required to sign our deposit agreement.</p>

        <h3>Your work in the repository</h3>

        <h4>Deposit timeline</h4>
        <p>Please allow up to a week for your deposit to become available in Academic Commons. Email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you have any questions or need to request faster processing. Authors with a Columbia UNI will receive an automatic email notification when your work is available in the repository.</p>

        <h4>Persistent identifier for each work</h4>
        <p>Each work in Academic Commons is assigned a DIgital Object Identifier (DOI), which is a type of persistent URL. A sample DOI is: 10.7916/D8ZS2W8R. DOIs expressed as URLs look like this: https://doi.org/10.7916/D8ZS2W8R. Use the DOI when citing or referring to a work in Academic Commons.</p>

        <h4>Usage statistics reports</h4>
        <p>Authors who provide a Columbia UNI will receive a monthly email showing the number of views and downloads for each of their works in Academic Commons. Contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if your are not receiving our monthly emails or if you would like us to forward the emails to a new address.</p>

        <h4>Changing works in the repository</h4>
        <p>With some exceptions, we do not change or replace files that are available in the repository. However, we can archive new versions of a work while retaining the older versions, adding metadata that links between the different versions.</p>

        <h4>Removing works from the repository</h4>
        <p>We strongly discourage the withdrawal of works from Academic Commons. However, depositors can request that public access to a work in Academic Commons be disabled. Though the work will no longer be publicly accessible, some metadata about the work will remain publicly available in Academic Commons.</p>

        <h3>Student works in Academic Commons</h3>

        <p>Consult your program administrator or faculty advisor for specific program policies.</p>

        <h4>Doctoral dissertations</h4>

        <p>The table below indicates which doctoral degree programs require dissertation deposit in Academic Commons.</p>

        <table>

          <tr>
            <th>School/Institution</th>
            <th>Degree</th>
            <th>Required deposit to ProQuest and Academic Commons </th>
            <th>Optional deposit to Academic Commons</th>
          </tr>
          <tr>
            <td>Columbia Graduate School of Arts and Sciences (GSAS)</td>
            <td>Ph.D., D.M.A., J.S.D.</td>
            <td class="center">X</td>
            <td class="center"></td>
          </tr>
          <tr>
            <td>Mailman School of Public Health (GSAS administered)</td>
            <td>Ph.D.</td>
            <td class="center">X</td>
            <td class="center"></td>
          </tr>
          <tr>
            <td>Mailman School of Public Health</td>
            <td>Dr.P.H.</td>
            <td class="center">X</td>
            <td class="center"></td>
          </tr>
          <tr>
            <td>Teachers College (GSAS administered)</td>
            <td>Ph.D.</td>
            <td class="center">X</td>
            <td class="center"></td>
          </tr>
          <tr>
            <td>Teachers College</td>
            <td>Ed.D.</td>
            <td class="center">X</td>
            <td class="center"></td>
          </tr>
          <tr>
            <td>Union Theological Seminary</td>
            <td>Ph.D.</td>
            <td class="center"></td>
            <td class="center">X</td>
          </tr>
        </table>

        <h4>Master’s and undergraduate theses</h4>
        <p>Some Master’s and undergraduate programs offer students an option to deposit their theses or capstone projects in Academic Commons. Consult your program administrator or faculty advisor for specific program policies.</p>

        <h4>Alumni theses</h4>
        <p>Graduates of Columbia University and its affiliates can deposit their dissertation or thesis in Academic Commons with approval from the degree-granting program. Contact the administrator of your degree program to request permission to deposit.</p>

        <h4>Thesis embargoes</h4>
        <p>Degree programs requiring or encouraging students to deposit their thesis in Academic Commons usually offer an embargo option, which allows a student to request a delay to the public release of their thesis for a limited period of time after deposit. During the embargo period, descriptive information about the work is publicly accessible in Academic Commons and the Columbia Libraries catalog, CLIO, but the thesis itself is not available. Embargo options vary by program and students should consult their degree program’s policies.</p>

        <h4>Embargo changes</h4>
        <p>Authors who wish to make changes to the embargo on their thesis in Academic Commons should contact the degree-program administrator with their request. If the request is approved, the program administrator will direct Academic Commons staff to change the embargo.</p>

        <ul>
          <li>Columbia Graduate School of Arts and Sciences (GSAS) authors can contact the Dissertation Office at <a href="mailto:dissertations@columbia.edu">dissertations@columbia.edu</a> to request changes to an embargo.</li>
          <li>Graduates of all other doctoral, Master’s, and undergraduate programs should contact the appropriate degree-program administrator to request changes to an embargo.</li>
        </ul>

        <h4>Embargo changes in ProQuest</h4>
        <p>Authors who deposited a thesis to ProQuest must also contact ProQuest directly to request changes to the availability of their work in the ProQuest dissertation and thesis database. Contact ProQuest at <a href="mailto:disspub@proquest.com">disspub@proquest.com</a>.</p>

        <h4>Other student works</h4>
        <p>Academic Commons requires departmental approval for deposits of student works that are not covered by a thesis deposit policy.</p>

        <h2 id="terms-of-use">Terms of Use</h2>

        <p>By using <%= link_to 'Academic Commons', root_path %> or any of its
          content, you agree to accept and be bound by the following Terms of Use.</p>
        <p>Academic Commons is a freely accessible digital collection of research done at Columbia University or one of its affiliate institutions (Barnard College, Teachers College, Union Theological Seminary, Jewish Theological Seminary). The Columbia University Libraries presents Academic Commons in support of Columbia’s mission “to advance knowledge and learning at the highest level and to convey the products of its efforts to the world.”</p>
        <p>You may download and use works in Academic Commons in any manner consistent with fair use or other provision of copyright law. Users are responsible for determining whether a work is protected by copyright, the identity of the copyright holder, and the means for appropriately using the work.</p>

        <h3>Items categorized as datasets</h3>

        <p>In general, facts and collections of facts do not have copyright protection under U.S. copyright law. However, some data and data collections may have sufficient originality to be copyrightable. Users of data found in Academic Commons are responsible for determining any legal protection associated with the materials and reviewing any statements from the contributor about appropriate uses.</p>

        <h2 id="copyright">Copyright</h2>

        <p>Works in Academic Commons are protected by copyright, with all rights reserved, unless otherwise indicated. The copyright for any work included in Academic Commons is retained by the copyright owner. Academic Commons does not own copyrights.</p>
        <p>Works are made available in Academic Commons at the direction of contributors (an author/creator or originating department, center, program, or school at Columbia or its affiliates) according to their understanding of their rights in that material. Works are added to Academic Commons when contributors affirm that they own the rights or have authority to contribute the works. Columbia University makes no representation or warranty about the appropriateness of the contribution or whether the contributor continues to own rights in the works.</p>
        <p>Users of Academic Commons are responsible for determining whether a work is protected by copyright, the identity of the copyright owner, and the means for appropriately using the work.</p>

        <h3>Determining Appropriate Use of Works in Academic Commons</h3>

        <p>The information below may help you address copyright questions about the appropriate use of works found in the Academic Commons collections. Please note that this guidance is not legal advice, nor does it address other relevant legal issues. By providing it, we do not intend to set restrictions, but instead to offer helpful insights about copyright and about contacting the proper party for permission, as needed.</p>

        <h3>Fair Use</h3>

        <p>Fair Use offers an extraordinarily important opportunity for educators, researchers, and others to make reasonable and limited uses of copyrighted materials. It is your responsibility to determine if your planned use of works found in Academic Commons is consistent with Fair Use. To learn more, see the Fair Use section of the <a href="https://copyright.columbia.edu/">Columbia University Copyright Advisory Office website</a>.</p>

        <h3>Licensed Uses</h3>

        <p>If a work in Academic Commons includes a license or other statement with information about how the work can be used (e.g. Creative Commons), users may use the work in ways consistent with the license. This information may appear in the metadata record for the work or in the work itself. Be sure to look for specific conditions and any suggestions for citation or attribution. Users desiring to utilize the work beyond the terms of the license should contact the copyright owner.</p>

        <h3>Finding the Copyright Owner</h3>

        <p>Authors/creators of many works in Academic Commons own the copyright to the work unless they have transferred rights to another party. Users seeking to locate the copyright owner of a work in Academic Commons could begin by contacting the author/creator of the work.</p>
        <p>Many works in Academic Commons have been published, either before or after the work has been deposited in Academic Commons. In some of these cases, the authors/creators have transferred the copyright to a publisher. To contact the copyright owner of published works (especially those works that are not published under an open access license), users could begin by contacting the publisher.</p>

        <h3>Columbia as Copyright Holder</h3>

        <p class="list_title">Columbia University does not own a copyright interest solely because the work is available in Academic Commons.</p>
        <ul>
          <li>Users do not need to contact Columbia University for permission solely because the work is available in Academic Commons. When Columbia University is not the rights owner, it will neither grant nor deny copyright permission regarding such materials.</li>
          <li>If a user determines that Columbia University may be the copyright owner of a work and needs to contact the copyright owner, please start by contacting the person or office at Columbia that was responsible for creating the work. (See Videos of Speakers, below, for an example.)</li>
        </ul>

        <h3>Special Cases</h3>

        <h4>Data and Datasets</h4>
        <p>In general, facts and collections of facts do not have copyright protection under U.S. copyright law. However, some data and data collections may have sufficient originality to be copyrightable. Users of data found in Academic Commons are responsible for determining any legal protection associated with the materials and reviewing any statements from the contributor about appropriate uses.</p>

        <h4>Videos of Speakers</h4>
        <p>Academic Commons includes videos, many of guest speakers at Columbia University events. For many such videos, rights in the visual images are owned by Columbia University, while the words and other content are the work of the speaker and rights may be retained by the speaker. Users may need to contact the speaker, and the office at Columbia that created the video, for further information.</p>

        <h4>Submitting a Copyright Infringement Notice</h4>
        <p>If you believe that you are the copyright owner of a work that is improperly included in Academic Commons, you may submit a notice of copyright infringement using the form here: <a href="http://academiccommons.columbia.edu/copyright_infringement_notice">http://academiccommons.columbia.edu/copyright_infringement_notice</a>.</p>

        <h4>More Information</h4>
        <p>For general information about copyright, fair use, and permissions, please visit the <a href="https://copyright.columbia.edu/">Columbia University Copyright Advisory Office website</a>.</p>
        <p>If you have comments or questions about Academic Commons, please contact the Academic Commons staff at <%= mail_to "ac@columbia.edu" %>.</p>

        <h2 id="privacy">Privacy</h2>

        <p>Academic Commons complies with the Columbia University Libraries <a href="http://library.columbia.edu/about/policies/confidentiality.html" target="_blank">Confidentiality of Library Records Policy</a>. We will not share any information about your use of Academic Commons except as required by the Confidentiality policy, though we may save the information described below for an indefinite period.</p>

        <h3>Users</h3>
        <p>When you visit Academic Commons (<a href="http://academiccommons.columbia.edu" target="_blank">academiccommons.columbia.edu</a>), our system saves a record of your IP address. We do not intentionally record any information that identifies you.</p>
        <p>If you ask us a question by emailing <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>, we save the information you provide (for example: your email address).</p>

        <h3>Columbia Users</h3>
        <p>If you log in to Academic Commons using your Columbia UNI, our system retains a record of your session and of any statistical reports you create during that session.</p>

        <h3>Contributors</h3>
        <p>When you contribute materials to Academic Commons, a limited amount of identifying and contact information is collected during deposit and cataloging. This information may be consulted and used by repository staff in the course of repository operations. Some information associated with deposited items--such as author, UNI, title, and abstract--is included in the publicly available Academic Commons item record. </p>

        <h3>Google Analytics</h3>
        <p>We use <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a> to help us understand how Academic Commons is used and how we can improve user experience on the site. We may compile and distribute these usage statistics. Though Google Analytics does not collect personal identifying information, it does record your IP address and places a cookie in your browser so it can determine if you have previously visited Academic Commons. To learn more about how Google manages the data it collects, read Google’s <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>. To learn how to prevent Google Analytics from using your data, read about the Google Analytics <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Opt-out Browser Add-on</a>.</p>

      </div><!--.main-content-->

    </div><!--.row-->
  </div><!--.container-->

</div><!--#static-text-->
