<%= content_for :content do %>
  <div id="main-page">
    <div id="dashboard-nav">
      <ul class="nav nav-tabs">
        <li>
          <%= link_to account_path do %>
            <i class="fas fa-user" aria-hidden></i> <%= t('blacklight.dashboard_links.my_account') %>
          <% end %>
        </li>
        <li>
          <%= link_to myworks_path do %>
          <i class="fas fa-list-ul" aria-hidden></i> <%= t('blacklight.dashboard_links.my_works') %>
        <% end %>
        </li>
        <li>
          <%= link_to uploads_path do %>
          <i class="far fa-plus-square" aria-hidden></i> <%= t('blacklight.dashboard_links.add_new_work') %>
        <% end %>
        </li>
        <li class="active">
          <%= link_to admin_path do %>
          <i class="fas fa-cog" aria-hidden></i> <%= t('blacklight.dashboard_links.admin') %>
        <% end %>
        </li>
      </ul>
    </div>
    <div id="dashboard">
      <div class="row admin-container">
        <div class="col-sm-3">
          <%= render 'shared/admin_sidebar' %>
        </div>
        <div class="col-sm-9 admin-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/catalog' %>
