<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<!--[if IE]><![endif]-->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- render with chromeframe plugin on IE where available -->

<title><%= h(@page_title || application_name) %></title>

<meta name="bitly-verification" content="35191b8f3154"/>

<%= favicon_link_tag asset_path("favicon-crown.png", :media => "screen,projection", :rel => "shortcut icon", :type => "text/css") %>
<%= stylesheet_link_tag asset_path("blueprint/screen", :media => "screen,projection")  %>
<%= stylesheet_link_tag asset_path("application", :media => "screen,projection", :rel => "stylesheet", :type => "text/css") %>

<!-- [if lt IE8] <%= stylesheet_link_tag "compiled/ie.css", :media => "screen, projection" %> -->



<%= raw(render_head_content) %>

<link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

  <!-- will revert link to native function when done editing stylesheets -->
        
    <% javascript_tag do -%>
    <%= yield(:jstemplates) %> 
    <% end -%>
<%= javascript_include_tag "http://cdn.sublimevideo.net/js/3s7oes9q.js" %>
<% 
if(@document != nil && @document.include?("title_display") && @document.include?("author_facet") && @document.include?("date_issued"))

  solr_fields_hash = { "abstract" => "description",
                       "title_display" => "citation_title", 
                       "author_facet" => "citation_author",
                       "date_issued" => "citation_publication_date",
                       "book_journal_title" => "citation_journal_title",
                       "volume" => "citation_volume",
                       "issue" => "citation_issue",
                       "start_page" => "citation_firstpage",
                       "end_page" => "citation_lastpage",   
                       "doi" => "citation_doi",
                       "date" => "citation_date",
                       "handle" => "citation_handle_id",
                       "issn" => "citation_issn",
                       "publisher" => "citation_publisher",
                       "subject_facet" => "citation_keywords" 
                      } 

    solr_fields_hash.each_key do |solr_field| 
        if(value = @document[solr_field.to_s])   
            if(value.is_a?(Array)) 
                if(!value.empty?)
                     value.each do |val|
%>
<meta name="<%= solr_fields_hash[solr_field] %>" content="<%= metaheader_fix_if_needed(solr_fields_hash[solr_field], val) %>">
<%      
                    end
                end
            else
%>
<meta name="<%= solr_fields_hash[solr_field] %>" content="<%= metaheader_fix_if_needed(solr_fields_hash[solr_field], value) %>">
<%                
            end
        end
    end
end

%>

<meta name="citation_abstract_html_url" content="<%= request.url %>">

<%     pdf_urls.each do |url|     %> 
<meta name="citation_pdf_url" content="<%= url %>">
<%     end     %>


</head>


<% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
<!--[if lt IE 7 ]> <body class="ie6" onload="$('input#q').focus();"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7" onload="$('input#q').focus();"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8" onload="$('input#q').focus();"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9" onload="$('input#q').focus();"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body onload="$('input#q').focus();"> <!--<![endif]--> 
<% else %>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
<% end %>
  
  
<div  class="container" id="header">
 



<header> 
		 	
		<h1 class="site_title"><%= link_to application_name, root_path %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %></h1>
	
</header>
</div>
<div class="container clearfix" id="main" > 



	<%- if page_location == "home" || page_location == "browse_view" -%>

	<div id="home-search" class="span-16 prepend-4">
	    <%= render :partial=>'/catalog/search_box' %>
	</div>
	
	
	 
	
		<% end %>
	    
 
	
	<%- if page_location == "home" -%>
	  
	<%= render :partial=>'/catalog/home_text' %>
	
	<% end %>
	
 
    
    <div id="sidebar" class="span-7">
    
   <div id="util_links" class='box'>
			<%= render :partial=>'/user_util_links' %>
   </div>
		
		
	<%= sidebar_items.join('').html_safe %>
	 

	</div>
	
	<div id="content" class="span-17 last">
	
	<%= render :partial=>'/flash_msg' %>


	<%- if page_location == "search_results" -%>

	<div id = "search-breadcrumbs">
	
	<%= render :partial=>'/catalog/constraints' %>
	
	</div> 
 
	
	<% end %>
    <%= yield %>
	
	</div>
          
 
	<footer class="span-24 append-bottom">
	
	<div id="footer"> 
	
		<%= @footer %>
	
	</div>
    
    </footer>

</div>  <!-- div#container -->    
 



 <div class="container"> 

<div id="colophon" class="span-24 append-bottom">
<p>Powered by the <a href="http://cdrs.columbia.edu/" target="_blank">Center for Digital Research and Scholarship</a> at <a href="http://www.columbia.edu/cu/lweb/" target="_blank">Columbia University Libraries/Information Services</a>.</p>

</div>
</div>


<%- if Rails.application.config.analytics_enabled == true -%>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10481105-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>
</body>
  
</html>
