<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<!--[if IE]><![endif]-->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- render with chromeframe plugin on IE where available -->

<title><%= h(@page_title || application_name) %></title>

<meta name="description" content="Academic Commons is Columbia University's digital repository for academic research and scholarship produced by the university community.">

<!--  <meta name="author" content=""> -->

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

<!--  <link rel="shortcut icon" href="/favicon.ico"> -->

<!--  <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
    
  
<link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%#= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
    <%#= stylesheet_link_tag 'compiled/print.css', :media => "print" %>
    <!-- [if lt IE8] <%= stylesheet_link_tag "compiled/ie.css", :media => "screen, projection" %> -->

    <%= render_head_content %>
    
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen,projection"  %>
    <%#= stylesheet_link_tag "application", :media => "screen,projection" %>
        
    <link rel="stylesheet" href="/stylesheets/application.css">    <!-- will revert link to native function when done editing stylesheets -->
        
    <% javascript_tag do -%>
    <%= yield(:jstemplates) %> 
    <% end -%>
  
</head>


<% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
<!--[if lt IE 7 ]> <body class="ie6" onload="$('input#q').focus();"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7" onload="$('input#q').focus();"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8" onload="$('input#q').focus();"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9" onload="$('input#q').focus();"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body onload="$('input#q').focus();"> <!--<![endif]--> 
<% else %>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
<% end %>
  
  
<div  class="container">
<div id="super" class="span-24">

    	
	
</div>
</div>


<header> 
		 	
		<h1 class="site_title"><%= link_to application_name, root_path %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : "" %></h1>
	
</header>

<div class="container clearfix" id="main" > 

 
	<%- if page_location == "home" || page_location == "browse_view" -%>

	<div id="home-search" class="span-16 prepend-4">
	    <%= render :partial=>'/catalog/search_form' %>
	</div>
	
	
	 
	
		<% end %>
	    
 
	
  
    
    	
	<div id="content" class="span-24">
	
	<%= render :partial=>'/flash_msg' %>

 
	
	
		
		<%= yield %>
	</div>
          
 



</div>  <!-- div#container -->    
<div class='container'>

<footer class="span-24">
	
	<div id="footer"> 
	
		<%= @footer %>
	
	</div>

</footer> 
</div>
</body>
  
</html>
