<%- content_for :head do %>
  <%= render 'shared/google_analytics' %>
  <meta name="bitly-verification" content="35191b8f3154"/>
  <meta name="baidu-site-verification" content="vQh9AyuWzB"/>
<% end %>
<%- content_for :content do %>
  <div id="main-page">
    <div id="dashboard-nav">
      <ul class="nav nav-tabs">
        <li class="<%= active_class(account_path) %>">
          <%= link_to account_path do %>
            <i class="fas fa-user" aria-hidden></i> <%= t('blacklight.dashboard_links.my_account') %>
          <% end %>
        </li>
        <li class="<%= active_class(myworks_path) %>">
          <%= link_to myworks_path do %>
          <i class="fas fa-list-ul" aria-hidden></i> <%= t('blacklight.dashboard_links.my_works') %>
        <% end %>
        </li>
        <% if current_user.admin? %>
          <li class="<%= active_class(admin_path) %>">
            <%= link_to admin_path do %>
            <i class="fas fa-cog" aria-hidden></i> <%= t('blacklight.dashboard_links.admin') %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="dashboard">
      <div id="content" class="dashboard-container">
        <%= content_for?(:dashboard) ? yield(:dashboard) : yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/blacklight/base" %>
