<%= content_for :content do %>
  <div id="main-page">
    <div id="dashboard-nav">
      <ul class="nav nav-tabs">
        <li class="<%= active_class(account_path) %>">
          <%= link_to account_path do %>
            <i class="glyphicon glyphicon-user"></i> <%= t('blacklight.dashboard_links.my_account') %>
          <% end %>
        </li>
        <li class="<%= active_class(myworks_path) %>">
          <%= link_to myworks_path do %>
          <i class="glyphicon glyphicon-list-alt"></i> <%= t('blacklight.dashboard_links.my_works') %>
        <% end %>
        </li>
        <li class="<%= active_class(new_upload_path) %>">
          <%= link_to uploads_path do %>
          <i class="glyphicon glyphicon-plus"></i> <%= t('blacklight.dashboard_links.add_new_work') %>
        <% end %>
        </li>
        <li class="<%= active_class(admin_path) %>">
          <%= link_to admin_path do %>
          <i class="glyphicon glyphicon-cog"></i> <%= t('blacklight.dashboard_links.admin') %>
        <% end %>
        </li>
      </ul>
    </div>
    <div id="dashboard">
      <%= content_for?(:dashboard) ? yield(:dashboard) : yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/catalog' %>
