<%= content_for :content do %>
  <div id="main-page" class="col-md-12">

    <% if content_for? :header %>
      <div class="row page-title">
        <div class="col-md-12">
          <%= yield(:header) %>
        </div>
      </div>
    <% end %>

    <% if content_for? :sidebar %>
      <div class="col-md-2 side-nav">
        <%= yield(:sidebar) %>
      </div>
      <div class="col-md-10 main-content left-border">
        <%= yield %>
      </div>
    <% else %>
      <div class="col-md-12 main-content">
        <%= yield %>
      </div>
    <% end %>

  </div>

<% end %>

<%= render template: 'layouts/catalog' %>
