<%= content_for :content do %>
  <div id="main-page">

    <% if content_for? :header %>
      <div class="page-header">
        <%= yield(:header) %>
      </div>
    <% end %>

    <% if content_for? :sidebar %>
      <div class="col-md-2 side-nav">
        <%= yield(:sidebar) %>
      </div>
      <div id="content" class="col-md-10 post-content left-border">
        <%= yield %>
      </div>
    <% else %>
      <div id="content" class="col-md-12 post-content">
        <%= yield %>
      </div>
    <% end %>

  </div>

<% end %>

<%= render template: 'layouts/catalog' %>
