<% content_for :head do %>
  <%= render 'shared/google_analytics' %>
  <%= render 'shared/highwire_press_tags' %>
  <%= render 'shared/social_media_tags' %>
  <%= render 'shared/meta_tags' %>
  <meta name="bitly-verification" content="35191b8f3154"/>
  <meta name="baidu-site-verification" content="vQh9AyuWzB"/>
<% end %>
<%= content_for :content do %>
  
  <div id="main-page">

    <% if content_for? :header %>
      <div class="page-header">
        <%= yield(:header) %>
      </div>
    <% end %>

    <div class="row">

      <% if content_for? :sidebar %>
        <div class="col-md-2 side-nav">
          <%= yield(:sidebar) %>
        </div>
        <div id="content" class="col-md-10 post-content post-content-wrapper">
          <%= yield %>
        </div>
      <% else %>
        <div id="content" class="post-content">
          <%= yield %>
        </div>
      <% end %>

    </div>

  </div>

<% end %>

<%= render template: "layouts/blacklight/base" %>
