<%= content_for :content do %>
  <div id="static-text" class="col-md-12">

    <div class="row page-title">
      <div class="col-md-12">
        <%= yield(:header) %>
      </div>
    </div>

    <% if content_for? :sidebar %>
      <div class="col-md-2" id="side-nav">
        <%= yield(:sidebar) %>
      </div>
      <div class="col-md-10" id="main-content">
        <%= yield %>
      </div>
    <% else %>
      <div class="col-md-10" id="main-content">
        <%= yield %>
      </div>
    <% end %>

  </div>

<% end %>

<%= render template: 'layouts/application' %>
